<template>
  <q-page class="q-pt-md q-mb-xl">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" v-if="user && user.role.name != 'vaca'" />
        <q-breadcrumbs-el label="Tickets" to="/tickets" />
        <q-breadcrumbs-el label="Crear ticket" />
      </q-breadcrumbs>
    </div>
    <div class="q-pa-md q-gutter-sm">
      <div class="row justify-center q-pt-md">
        <div class="col-md-10 q-pt-md">
          <q-card class="my-card">
            <q-card-section>
              <q-form
                ref="myForm"
                autocapitalize="on"
                autocomplete="off"
                spellcheck="false"
                @submit="save"
                class="q-gutter-md"
              >
              <div v-if="user && user.role.name == 'vaca'">
              </div>
                <div class="row q-col-gutter-md q-ma-sm">
                  <div class="col-12">
                    <span class="text-h6">Nuevo ticket</span>
                  </div>
                  <div class="col-12 text-right" v-if="user && user.role.name != 'vaca'">
                    <q-toggle v-model="ticket.noComission" label="Sin Comisión" />
                    <q-toggle v-model="ticket.isFree" label="Cortesia" />
                  </div>
                  <div class="col-12 col-sm-3 col-md-2">
                    <q-input
                      outlined
                      v-model="ticket.reference"
                      label="Referencia"
                    />
                  </div>
                  <div class="col-12 col-sm-6" v-if="user && user.role.name != 'vaca'">
                    <q-select
                      outlined
                      autofocus
                      required
                      v-model="ticket.partner"
                      use-input
                      label="Hotel/Agencia"
                      hide-selected
                      option-value="id"
                      option-label="name"
                      fill-input
                      input-debounce="0"
                      :options="info.partners"
                      @filter="filterPartner"
                      map-options
                      emit-value
                    >
                      <template v-slot:no-option>
                        <q-item>
                          <q-item-section class="text-grey"
                            >No results</q-item-section
                          >
                        </q-item>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-sm-4 col-12 text-right">
                    <q-input
                      @focus="$refs.qDateProxy.show()"
                      label="Fecha de reservación"
                      outlined
                      v-model="ticket.date"
                      :rules="[
                        val =>
                          (val && val.trim().length > 0) || 'Llena este campo.'
                      ]"
                    >
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy
                            ref="qDateProxy"
                            transition-show="scale"
                            transition-hide="scale"
                          >
                            <q-date
                              mask="DD-MM-YYYY"
                              :locale="myLocale"
                              v-model="ticket.date"
                              @input="() => $refs.qDateProxy.hide()"
                            />
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12 col-sm-4 col-md-6" v-if="user && user.role.name != 'vaca'">
                    <q-select
                      outlined=""
                      required
                      option-value="id"
                      option-label="name"
                      map-options
                      emit-value
                      hide-selected
                      v-model="ticket.product"
                      label="Establecimiento"
                      fill-input=""
                      use-input=""
                      :options="info.products"
                      @filter="filterProduct"
                    >
                      <template v-slot:no-option>
                        <q-item>
                          <q-item-section class="text-grey"
                            >No results</q-item-section
                          >
                        </q-item>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-12 col-sm-4 col-md-6" v-if="user && user.role.name != 'vaca'">
                    <q-select
                      outlined=""
                      required
                      :options="info.services"
                      label="Servicio"
                      v-model="ticket.service"
                      option-value="id"
                      option-label="name"
                      map-options
                      emit-value
                    >
                      <template v-slot:no-option>
                        <q-item>
                          <q-item-section class="text-grey"
                            >No results</q-item-section
                          >
                        </q-item>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                    <q-input
                      type="number"
                      :rules="[required]"
                      outlined
                      @change="suggestedPrice"
                      v-model="ticket.initialPax"
                      label="# Personas"
                    />
                  </div>
                  <div class="col-12 col-sm-4 col-md-3" v-if="user && user.role.name != 'vaca'">
                    <q-input
                      type="number"
                      prefix="%"
                      outlined
                      :rules="[val => val >= 0 && val <= 100 || '% entre 0 y 100']"
                      @change="suggestedPrice"
                      v-model="ticket.comission"
                      label="Comisión"
                    />
                  </div>
                  <div class="col-12 col-sm-4 col-md-3" v-show="ticket.service == 1" v-if="user && user.role.name != 'vaca'">
                    <q-input
                      type="number"
                      prefix="$"
                      step="0.01"
                      outlined
                      @change="suggestedPrice"
                      v-model="ticket.unitPrice"
                      label="Precio unitario"
                    />
                  </div>
                  <div class="col-12 col-sm-4 col-md-3">
                    <q-input
                      type="number"
                       :rules="[
                        val =>
                          (val.length > 0 && val !== 'NaN') || 'Llena este campo.'
                      ]"
                      prefix="$"
                      outlined
                      step="0.01"
                      v-model="ticket.initialAmount"
                      label="Monto total"
                    />
                    {{comission}}
                  </div>
                  <div class="col-12" v-if="user && user.role.name === 'vaca'">
                    <q-select
                      outlined
                      autofocus
                      required
                      v-model="ticket.partner"
                      use-input
                      label="Concierge/RP"
                      hide-selected
                      option-value="id"
                      option-label="name"
                      fill-input
                      input-debounce="0"
                      :options="info.partners"
                      @filter="filterPartner"
                      map-options
                      emit-value
                    >
                      <template v-slot:no-option>
                        <q-item>
                          <q-item-section class="text-grey"
                            >No results</q-item-section
                          >
                        </q-item>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-12">
                    <q-input
                      v-model="ticket.description"
                      outlined
                      type="textarea"
                      label="Comentario"
                    />
                  </div>
                  <div class="col-12 text-right">
                    <span class="text-h2"
                      >$
                      <span v-if="!isNaN(ticket.initialAmount)">{{
                        ticket.initialAmount | toNumero
                      }}</span
                      ><span v-else>0</span></span
                    >
                  </div>
                  <div class="col-12">
                    <q-btn

                      color="primary"
                      class="q-mt-md float-right"
                      label="Guardar"
                      type="submit"
                    />
                  </div>
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { format, date } from "quasar";
import axiosMethods from './../../mixins/axiosMethodsComponent';
const { pad } = format;
export default {
  mixins: [axiosMethods],
  name: "formTicket",
  data() {
    return {
      options: [],
      user: null,
      info: {
        productsFilter: [],
        products: [],
        partners: [],
        partnersFilter: [],
        services: [],
        vacaPartners: []
      },
      myLocale: {
        /* starting with Sunday */
        days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
        daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
        months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
          "_"
        ),
        monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split(
          "_"
        ),
        firstDayOfWeek: 1
      },
      ticket: {
        isFree: false,
        date: "",
        id: "",
        folio: "",
        reference: "",
        accountID: "",
        ticketStatusID: "",
        initialPax: "",
        finalPax: "",
        unitPrice: "",
        initialAmount: "",
        finalAmount: "",
        description: "",
        service: "",
        comission: 0,
        noComission:false,
        product: ""
      }
    };
  },
  filters: {
    toNumero(value) {
      let val = (value / 1).toFixed(2).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    toPad(value) {
      return pad(value, 10);
    }
  },
  computed: {
    comission(){
      var partnerID = this.ticket.partner;

      var comission = 0;
     // var comission = this.info.partners.filter(x => x.id == partnerID);
      Array.from(this.info.partners).forEach(function (data){
        if (data.id == partnerID) {
          comission = data.percent;
        }

      });
      this.ticket.comission = comission;
       if (this.ticket.noComission) {
        this.ticket.comission = 0;
      }
    }

  },
  methods: {
    suggestedPrice() {
      this.ticket.initialAmount = (
        parseFloat(this.ticket.initialPax) * parseFloat(this.ticket.unitPrice)
      ).toString();
    },
    required(val) {
      var regla = val.length > 0 ? true : "Llena este campo";
      return regla;
    },
    filterProduct(val, update, abort) {
      if (val === "") {
        update(() => {
          this.info.products = this.info.productsFilter;
        });
        return;
      }
      let self = this;
      update(() => {
        const needle = val.toLowerCase();
        this.info.products = this.info.productsFilter.filter(
          v =>
            v.name
              .toString()
              .toLowerCase()
              .indexOf(needle) > -1
        );

        ref => {
          if (val !== "" && ref.options.length > 0) {
            ref.setOptionIndex(-1); // reset optionIndex in case there is something selected
            ref.moveOptionSelection(1, true); // focus the first selectable option and do not update the input-value
          }
        };
      });
    },
    filterPartner(val, update, abort) {
      if (val === "") {
        update(() => {
          this.info.partners = this.info.partnersFilter;
        });
        return;
      }
      let self = this;
      update(() => {
        const needle = val.toLowerCase();
        this.info.partners = this.info.partnersFilter.filter(
          v =>
            v.name
              .toString()
              .toLowerCase()
              .indexOf(needle) > -1
        );
      });
    },
    getDataTickets() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getDataTickets", {}, {})
        .then(response => {
          this.info.productsFilter = response.data.products;
          this.info.partnersFilter = response.data.partners;
          this.info.products = response.data.products;
          this.info.partners = response.data.partners;
          this.info.services = response.data.services;
          this.ticket.service = this.info.services[0].id;

          if (response.data.product_id) {
            this.ticket.product = response.data.product_id;
          }

          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
    save() {
      this.$refs.myForm.validate().then(success => {
        if (success && this.ticket.initialAmount !== "NaN") {

          this.$store.commit("loading", true);
          this.$axios
            .post(
              this.$store.state.general.apiUrl + "/auth/saveTicket",
              { ticket: this.ticket },
              {}
            )
            .then(response => {
              this.$q.notify({
                type: "positive",
                message: "Ticket guardado correctamente"
              });
              this.$store.commit("loading", false);
              this.$router.push({ name: "tickets" });
            })
            .catch(error => {
              this.$store.commit("loading", false);
              return this.errorHandler(error.response.status, error.response.data);
            });
        } else {
          this.$q.notify({
            type: "negative",
            message:
              "Verifica los datos ingresados e intentalo de nuevo"
          });
        }
      });
    }
  },
  mounted() {
    this.user = this.$store.state.general.user
    this.getDataTickets();
    let timeStamp = Date.now()
    this.ticket.date = date.formatDate(timeStamp, 'DD-MM-YYYY')
  }
};
</script>
