<template>
  <div>
    <q-page class="q-pt-md q-mb-xl">
      <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
          <q-breadcrumbs-el
            icon="home"
            to="/"
            v-if="user && user.role.name != 'vaca'"
          />
          <q-breadcrumbs-el label="Tickets" to="/tickets" />
          <q-breadcrumbs-el label="Editar tickets" />
        </q-breadcrumbs>
      </div>
      <div class="q-pa-md q-gutter-sm">
        <div class="row justify-center q-pt-md">
          <div class="col-md-10 q-pt-md">
            <q-card class="my-card">
              <q-card-section>
                <q-form
                  ref="myForm"
                  autocapitalize="on"
                  autocomplete="off"
                  spellcheck="false"
                  @submit="save"
                  class="q-gutter-md"
                >
                  <div class="row q-col-gutter-md q-ma-sm">
                    <div class="col-12 col-sm-9">
                      <span class="text-h6">Nuevo ticket</span>
                    </div>
                    <div class="col-12 col-sm-3 text-right">
                      <span class="folio">{{ ticket.folio }}</span>
                    </div>
                    <div class="col-6 text-left q-gutter-sm">
                      <q-btn
                        color="secondary"
                        icon="chat"
                        @click="openCommentsDrawer(ticket)"
                        v-if="ticket.comments"
                      >
                        <q-badge color="red" floating>{{
                          ticket.comments.length
                        }}</q-badge>
                      </q-btn>
                      <q-btn
                        v-if="ticket.files"
                        color="amber"
                        icon="attach_file"
                        @click="openFilesDrawer(ticket)"
                      >
                        <q-badge
                          color="red"
                          floating
                          v-if="ticket.files.length"
                          >{{ ticket.files.length }}</q-badge
                        >
                      </q-btn>
                      <q-btn
                        v-if="hasPermissionTo('eliminar tickets')"
                        color="negative"
                        icon="delete"
                        label="Eliminar ticket"
                        @click="deleteTicket()"
                      />
                    </div>
                    <div class="col-12 text-right" v-if="user && user.role.name != 'vaca'">
                      <q-toggle
                        v-model="ticket.newComission"
                        label="Editar Comision"
                      />
                      <q-toggle v-model="ticket.isFree" label="Cortesia" />
                    </div>
                    <div class="col-12">
                      <div class="row q-col-gutter-md">
                        <div class="col-12 col-sm-3 col-md-2">
                          <q-input
                            outlined
                            v-model="ticket.reference"
                            label="Referencia"
                          />
                        </div>
                        <div class="col-12 col-sm-6">
                          <q-select
                            outlined
                            autofocus
                            required
                            v-model="ticket.partner"
                            use-input
                            label="Hotel/Agencia"
                            hide-selected
                            option-value="id"
                            option-label="name"
                            fill-input
                            input-debounce="0"
                            :options="info.partners"
                            @filter="filterPartner"
                            map-options
                            emit-value
                            @input="change"
                          >
                            <template v-slot:no-option>
                              <q-item>
                                <q-item-section class="text-grey"
                                  >No results</q-item-section
                                >
                              </q-item>
                            </template>
                          </q-select>
                        </div>
                        <div class="col-sm-3 col-md-4 text-right">
                          <q-input
                            @focus="$refs.qDateProxy.show()"
                            label="Fecha de reservación"
                            outlined
                            v-model="ticket.date"
                            :rules="[
                              val =>
                                (val && val.trim().length > 0) ||
                                'Llena este campo.'
                            ]"
                          >
                            <template v-slot:append>
                              <q-icon name="event" class="cursor-pointer">
                                <q-popup-proxy
                                  ref="qDateProxy"
                                  transition-show="scale"
                                  transition-hide="scale"
                                >
                                  <q-date
                                    mask="DD-MM-YYYY"
                                    :locale="myLocale"
                                    v-model="ticket.date"
                                    @input="() => $refs.qDateProxy.hide()"
                                  />
                                </q-popup-proxy>
                              </q-icon>
                            </template>
                          </q-input>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-5" v-if="user && user.role.name != 'vaca'">
                      <q-select
                        outlined
                        required
                        v-model="ticket.product"
                        use-input
                        label="Establecimiento"
                        hide-selected
                        option-value="id"
                        option-label="name"
                        fill-input
                        input-debounce="0"
                        :options="info.products"
                        @filter="filterProduct"
                        map-options
                        emit-value
                        @input="change"
                      >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey"
                              >No results</q-item-section
                            >
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-12 col-sm-4 col-md-5" v-if="user && user.role.name != 'vaca'">
                      <q-select
                        outlined
                        required
                        :options="info.services"
                        label="Servicio"
                        v-model="ticket.service"
                        option-value="id"
                        option-label="name"
                        map-options
                        emit-value
                      >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey"
                              >No results</q-item-section
                            >
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-12 col-sm-4 col-md-2">
                      <q-input
                        type="number"
                        :rules="[required]"
                        outlined
                        @change="suggestedPrice"
                        step="0.01"
                        v-model="ticket.initialPax"
                        label="# Personas"
                      />
                    </div>
                    <div class="col-12 col-sm-4 col-md-2" v-if="user && user.role.name != 'vaca'">
                      <q-input
                        type="number"
                        prefix="%"
                        outlined
                        :rules="[
                          val => (val >= 0 && val <= 100) || '% entre 0 y 100'
                        ]"
                        :readonly="!ticket.newComission"
                        @change="suggestedPrice"
                        v-model="ticket.comission"
                        label="Comisión"
                      />
                    </div>
                    <div
                      class="col-12 col-sm-4 col-md-2"
                      v-show="ticket.service == 1"
                      v-if="user && user.role.name != 'vaca'"
                    >
                      <q-input
                        type="number"
                        prefix="$"
                        outlined
                        @change="suggestedPrice"
                        v-model="ticket.unitPrice"
                        step="0.01"
                        label="Precio unitario"
                      />
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                      <q-input
                        prefix="$"
                        step="0.01"
                        :rules="[required]"
                        outlined
                        type="number"
                        v-model="ticket.initialAmount"
                        label="Monto"
                      />
                    </div>

                    <div class="col-12 text-right">
                      <span class="text-h2"
                        >$
                        <span v-if="!isNaN(ticket.initialAmount)">{{
                          ticket.initialAmount | toNumero
                        }}</span
                        ><span v-else>0</span></span
                      >
                    </div>

                    <div class="col-12">
                      <q-btn
                        color="primary"
                        class="q-mt-md float-right"
                        label="Actualizar"
                        type="submit"
                      />
                    </div>
                  </div>
                </q-form>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
    </q-page>
    <comments-component
      :create-route="`${api}/auth/tickets/add-comment`"
    ></comments-component>
    <files-component :create-route="`${api}/auth/tickets/add-file`"
      >></files-component
    >
  </div>
</template>
<script>
import commentsComponent from "./../comments/CommentsComopnent";
import filesComponent from "./../files/FilesComponent";
import commentsMixin from "./../../mixins/comments/commentsMixin";
import FilesMixin from "./../../mixins/files/filesMixin";

import { format } from "quasar";
const { pad } = format;
import { date } from "quasar";
import { scroll } from "quasar";
import axiosMethods from "./../../mixins/axiosMethodsComponent";
const { getScrollTarget, setScrollPosition } = scroll;

export default {
  name: "formTicket",
  mixins: [commentsMixin, FilesMixin, axiosMethods],
  components: { commentsComponent, filesComponent },
  data() {
    return {
      user: null,
      options: [],
      info: {
        productsFilter: [],
        products: [],
        partners: [],
        partnersFilter: [],
        services: []
      },
      myLocale: {
        /* starting with Sunday */
        days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
        daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
        months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
          "_"
        ),
        monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split(
          "_"
        ),
        firstDayOfWeek: 1
      },
      ticket: {
        isFree: false,
        date: "",
        id: "",
        folio: "",
        accountID: "",
        ticketStatusID: "",
        initialPax: "",
        finalPax: "",
        initialAmount: "",
        finalAmount: "",
        unitPrice: "",
        description: "",
        service: "",
        reference: "",
        files: null,
        comission: 0,
        comments: null,
        newComission: false
      },
      api: this.$store.state.general.apiUrl // RUTA EL API
    };
  },
  filters: {
    toNumero(value) {
      let val = (value / 1).toFixed(2).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    toPad(value) {
      return pad(value, 10);
    }
  },
  computed: {
    comission() {
      var partnerID = this.ticket.partner;
      var comission = 0;
      // var comission = this.info.partners.filter(x => x.id == partnerID);
      Array.from(this.info.partners).forEach(function(data) {
        if (data.id == partnerID) {
          comission = data.percent;
        }
      });
      this.ticket.comission = comission;
    }
  },
  methods: {
    deleteTicket() {
      var id = this.ticket.id;
      this.$q
        .dialog({
          title: "Eliminar ticket",
          message: "Deseas eliminar el ticket ?  ",
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.delete(id);
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    delete(id) {
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/deleteTicket",
          { id: id },
          {}
        )
        .then(response => {
          if (response.data == "ok") {
            this.$q.notify({
              message: "Ticket eliminado correctamente",
              type: "positive"
            });

            this.$router.push({ path: "/tickets" });
          } else if (response.data == "exist") {
            this.$q.notify({
              message: "No se pudo eliminar porque tiene un pago vinculado.",
              type: "warning"
            });
          } else {
            this.$q.notify({
              message: "Algo salio mal, intentalo de nuevo.",
              type: "negative"
            });
          }

          // this.getTickets();
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
          this.errorHandler(error.response.status, error.response.data);
        });
    },
    scrollTop() {
      var el = document.getElementById("top");
      const target = getScrollTarget(el);
      const offset = el.offsetTop;
      const duration = 100;
      setScrollPosition(target, offset, duration);
    },
    suggestedPrice() {
      if (this.ticket.unitPrice && this.ticket.unitPrice > 0) {
        this.ticket.initialAmount = (
          parseFloat(this.ticket.initialPax) * parseFloat(this.ticket.unitPrice)
        ).toString();
      }
    },
    change() {
      this.$forceUpdate();
    },
    required(val) {
      var regla = val.length > 0 ? true : "Llena este campo";
      return regla;
    },
    filterProduct(val, update, abort) {
      if (val === "") {
        update(() => {
          this.info.products = this.info.productsFilter;
        });
        return;
      }
      let self = this;
      update(() => {
        const needle = val.toLowerCase();
        this.info.products = this.info.productsFilter.filter(
          v =>
            v.name
              .toString()
              .toLowerCase()
              .indexOf(needle) > -1
        );

        ref => {
          if (val !== "" && ref.options.length > 0) {
            ref.setOptionIndex(-1); // reset optionIndex in case there is something selected
            ref.moveOptionSelection(1, true); // focus the first selectable option and do not update the input-value
          }
        };
      });
    },
    filterPartner(val, update, abort) {
      /*   if (val === "") {
        update(() => {
          this.info.partners = this.info.partnersFilter;
        });
        return;
      }*/
      let self = this;
      update(() => {
        const needle = val.toLowerCase();
        this.info.partners = this.info.partnersFilter.filter(
          v =>
            v.name
              .toString()
              .toLowerCase()
              .indexOf(needle) > -1
        );
      });
    },
    getDataTickets() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getDataTickets", {}, {})
        .then(response => {
          this.info.productsFilter = response.data.products;
          this.info.partnersFilter = response.data.partners;
          this.info.products = response.data.products;
          this.info.partners = response.data.partners;
          this.info.services = response.data.services;
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
    save() {
      this.$refs.myForm.validate().then(success => {
        if (success) {
          this.$store.commit("loading", true);
          this.$axios
            .post(
              this.$store.state.general.apiUrl + "/auth/updateTicket",
              { ticket: this.ticket },
              {}
            )
            .then(response => {
              this.$q.notify({
                type: "positive",
                message: "Ticket actualizado correctamente"
              });
              this.$store.commit("loading", false);
            })
            .catch(error => {
              this.$store.commit("loading", false);
              this.errorHandler(error.response.status, error.response.data);
            });
        } else {
        }
      });
    },
    getTicket() {
      this.$axios
        .post(this.$store.state.general.apiUrl + "/auth/getTicket", {
          id: this.$router.currentRoute.params.id
        })
        .then(response => {
          this.ticket.folio = response.data.folio;
          this.ticket.date = response.data.reservation_date;
          this.ticket.partner = response.data.partner_id;
          this.ticket.product = response.data.product_id;
          this.ticket.service = response.data.service_id;
          this.ticket.initialPax = response.data.initial_pax.toString();
          this.ticket.description = response.data.description;
          this.ticket.initialAmount = response.data.initial_amount.toString();
          this.ticket.isFree = response.data.is_free == 0 ? false : true;
          this.ticket.id = response.data.id;
          this.ticket.unitPrice = response.data.unit_price;
          this.ticket.comission = response.data.commission;
          this.ticket.reference = response.data.reference;
          this.ticket.files = response.data.files;
          this.ticket.comments = response.data.comments;
          this.$forceUpdate();
          this.$store.commit("loading", false);
        });
    },
    hasPermissionTo(permission){
      if (this.user) {
        if (this.user.role.name == 'superadmin') {
          return true;
        }
        if (this.user.permissions.length > 0) {
          const hasPermission = this.user.permissions.find( perm => {
            return perm.name === permission
          });
          if (hasPermission) {
            return true;
          }
        }
        if(this.user.role.name == permission){
          return true;
        }
      }

      return false;
    }

  },
  mounted() {
    this.user = this.$store.state.general.user

    this.getDataTickets();
    this.getTicket();
  }
};
</script>
