<template>
  <q-page class="q-pt-md q-mb-xl">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="Tickets" to="/tickets" />
        <q-breadcrumbs-el label="Por Hotel/Agencia" />
      </q-breadcrumbs>
    </div>
    <div class=" justify-center q-pt-md q-pa-xl">
      <div class="col-md-12 text-right">
          <q-btn
            color="primary"
            class="q-mt-md "
            label="Regresar a saldos"
            to="/saldos"
          />
        </div>
      <div class="col-md-10 q-pt-md">
        <q-card>
          <q-card-section>
            <div class="row">
              <div class="col-sm-12">
                <div class="text-h4 q-mb-md">{{ partner }}</div>
                <div style="font-size: 20px">
                  <b>Cantidad de tickets:</b> {{ data.length }}
                </div>
                <div style="font-size: 20px">
                  <b>Total:</b> $ {{ total | toNumero }}
                </div>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-md-10 q-pt-md">
        <q-table title="Tickets"             :pagination.sync="pagination"
 :data="data" :columns="columns" row-key="id">
          <template v-slot:body-cell-initial_amount="props">
            <q-td key="initial_amount" :props="props" class="q-gutter-xs"
              >$ {{ props.row.initial_amount | toNumero }}</q-td
            >
          </template>

          <template v-slot:body-cell-is_free="props">
            <q-td key="is_free" :props="props" class="q-gutter-xs">
              <q-badge color="green" label="Cortesia" v-if="props.value" />
              <span v-else>-</span>
            </q-td>
          </template>
          <template v-slot:body-cell-acciones="props">
            <q-td key="acciones" :props="props" class="q-gutter-xs">
              <q-btn
                color="orange"
                icon="remove_red_eye"
                size="sm"
                @click="selectItem(props.row)"
              >
                <q-tooltip>
                  Ver detalle del ticket
                </q-tooltip>
              </q-btn>
              <q-btn
                color="primary"
                icon="edit"
                size="sm"
                @click="editRow(props.row)"
              >
                <q-tooltip>
                  Editar ticket
                </q-tooltip>
              </q-btn>
              <q-btn
                color="green"
                icon="attach_money"
                size="sm"
                :to="`/pagos/generar/${props.row.id}`"
              >
                <q-tooltip>
                  Asignarle un pago
                </q-tooltip>
              </q-btn>
              <q-btn
                color="negative"
                icon="delete"
                size="sm"
                @click="deleteRow(props.row)"
              >
                <q-tooltip>
                  Eliminar
                </q-tooltip>
              </q-btn>
            </q-td>
          </template>
        </q-table>
      </div>
    </div>
    <q-dialog v-model="modal">
      <q-card>
        <q-card-section>
          <div class="text-h6">Folio {{ itemSelected.folio }}</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div class="row">
            <div class="col-sm-12 text-right">
              <q-badge
                color="green"
                label="Cortesia"
                v-if="itemSelected.is_free"
              />
            </div>
            <div class="col-sm-12">
              <div>
                <b>Hotel/Agencia</b>
              </div>
              <div>{{ itemSelected.partner }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Establecimiento</b>
              </div>
              <div>{{ itemSelected.product }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Servicio</b>
              </div>
              <div>{{ itemSelected.service }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b># de personas</b>
              </div>
              <div>{{ itemSelected.initial_pax }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Fecha de reservación</b>
              </div>
              <div>{{ itemSelected.reservation_date }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-12 q-mt-sm">
              <div>
                <b>Descripción</b>
              </div>
              <div>{{ itemSelected.description }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-12 q-mt-sm">
              <div>
                <b>Monto</b>
              </div>
              <div style="font-size: 35px">
                $ {{ itemSelected.initial_amount | toNumero }}
              </div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-6 q-mt-xl">
              <div>Creado por</div>
              <div>{{ itemSelected.created }} {{ itemSelected.last_name }}</div>
            </div>
            <div class="col-6 q-mt-xl">
              <div>Fecha de creación</div>
              <div>{{ itemSelected.created_at }}</div>
            </div>
          </div>
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cerrar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
import { format } from "quasar";
const { pad } = format;
export default {
  name: "tickets",
  data() {
    return {
      total: "",
      partner: "",

      itemSelected: [],
      data: [],
      modal: false,
        pagination: {
        sortBy: "desc",
        descending: false,
        page: 1,
        rowsPerPage: 10
        // rowsNumber: xx if getting data from a server
      },
      columns: [
        {
          name: "folio",
          align: "center",
          label: "Folio",
          field: "folio",
          sortable: true
        },
        {
          name: "partner",
          align: "center",
          label: "Hotel/Agencia",
          field: "partner",
          sortable: true
        },
        {
          name: "product",
          align: "center",
          label: "Establecimiento",
          field: "product",
          sortable: true
        },

        {
          name: "initial_amount",
          align: "center",
          label: "Monto",
          field: "initial_amount",
          sortable: true
        },
        {
          name: "reservation_date",
          align: "center",
          label: "Fecha a reservar",
          field: "reservation_date",
          sortable: true
        },
        {
          name: "status",
          align: "center",
          label: "Estatus",
          field: "status",
          sortable: true
        },
        {
          name: "is_free",
          align: "center",
          label: "Cortesia",
          field: "is_free",
          sortable: true
        },
        {
          name: "acciones",
          align: "center",
          label: "Acciones",
          field: "acciones"
        }
      ]
    };
  },
  filters: {
    toPad(value) {
      return pad(value, 10);
    },
    toNumero(value) {
      let val = (value / 1).toFixed(2).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  methods: {
    getTicketsBySearch() {
      this.$store.commit("loading", true);
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/getTicketsBySearch",
          {
            search: this.search
          },
          {}
        )
        .then(response => {
          this.data = response.data;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$q.notify({
            message:
              "Ocurrio un error en la busqueda, por favor intenta de nuevo",
            type: "negative"
          });
          this.$store.commit("loading", false);
        });
    },
    getTickets() {
      this.$store.commit("loading", true);
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/getTicketsByPartner",
          { id: this.$router.currentRoute.params.id },
          {}
        )
        .then(response => {
          this.data = response.data.tickets;
          this.partner = response.data.partner;
          this.total = response.data.total;

          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
    goToPayments(id) {
      this.$router.push({ name: "editPayment", params: { id: id } });
    },
    editRow(row) {
      this.$router.push({ name: "editTicket", params: { id: row.id } });
    },
    selectItem(row) {
      this.itemSelected = row;
      this.modal = true;
    },
    deleteRow(row) {
      this.$q
        .dialog({
          title: "Eliminar ticket",
          message:
            "Deseas eliminar el ticket con el folio  " + pad(row.folio, 10),
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.delete(row.id);
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    delete(id) {
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/deleteTicket",
          { id: id },
          {}
        )
        .then(response => {
          this.$q.notify({
            message: "Ticket eliminado correctamente",
            type: "positive"
          });
          this.getTickets();
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$q.notify({
            message: "No se elimino, intenta de nuevo",
            type: "negative"
          });
          this.$store.commit("loading", false);
        });
    }
  },
  mounted() {
    this.getTickets();
  }
};
</script>
