<template>
    <div v-if="ticket">
        <div class="text-h5 q-mb-lg">Folio: <span class="text-info">{{ folio }}</span></div>
        <q-btn :to="`/tickets/edit/${ticket.id}`" class="q-mb-sm" size="sm" color="default" outline label="Editar ticket" />
        <div class="row q-col-gutter-md">
            <div class="col-xs-12">
                <q-input v-model="agency" type="text" label="Hotel/Agencia" filled readonly />
            </div>
            <div class="col-xs-6 col-sm-6">
                <q-input v-model="product" type="text" label="Establecimiento" filled readonly />
            </div>
            <div class="col-xs-6 col-sm-6">
                <q-input v-model="service" type="text" label="Servicio" filled readonly />
            </div>
            <div class="col-xs-6 col-sm-6">
                <q-input v-model="pax" type="text" label="PAX" filled readonly />
            </div>
            <div class="col-xs-6 col-sm-6">
                <q-input v-model="reservationDate" type="text" label="Fecha de reservacion" filled readonly />
            </div>
            <div class="col-xs-12">
                <q-input prefix="$" :value="amount | toNumero" type="text" label="Cantidad" filled readonly />
            </div>
            <div class="col-xs-12">
                <div class="q-mb-md"><strong>Fecha de creacion: </strong> <span>{{ createdAt }}</span></div>
                <div><strong>Creado por: </strong> <span>{{ user  }} </span></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ticketDetail',
    props: ['ticket'],
    data(){
        return {
            folio: this.ticket ? this.ticket.folio : null,
            agency: this.ticket ? this.ticket.partner.name : null,
            product: this.ticket ? this.ticket.product.name : null,
            service: this.ticket ? this.ticket.service.name : null,
            pax: this.ticket ? this.ticket.initial_pax : null,
            reservationDate: this.ticket ? this.ticket.reservation_date : null,
            amount: this.ticket ? this.ticket.initial_amount : null,
            createdAt: this.ticket ? this.ticket.created_at : null,
            user: this.ticket ? `${this.ticket.user.name} ${this.ticket.user.last_name}` : null,
        }
    },
    filters: {
        toPad(value) {
        return pad(value, 10);
        },
        toNumero(value) {
        let val = (value / 1).toFixed(2).replace(",", ",");
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    },
}
</script>