<template>
<div>
  <q-page class="q-pt-md q-mb-xl">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" v-if="user && user.role.name != 'vaca'" />
        <q-breadcrumbs-el label="Tickets" />
      </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pt-md">
      <div class="col-md-11 text-right">
        <q-btn
          color="primary"
          class="q-mt-md float-right"
          icon="add"
          label="Agregar ticket"
          to="/tickets/create"
        />
      </div>
      <div class="col-12 col-sm-11 q-pt-md">
        <q-card>
          <q-card-section>
            <div class="row q-col-gutter-sm">
              <div class="col-sm-12">
                <label>Buscar tickets</label>
              </div>
              <div class="col-12 col-sm-2">
                <q-input filled v-model="search.folio" label="folio" prefix="#" />
              </div>
              <div class="col-12 col-sm-3">
                <q-input
                  label="Fecha Inicial a Reservar"
                  @click="$refs.qDateProxy.show()"
                  filled
                  v-model="search.fromDate"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        ref="qDateProxy"
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          mask="DD-MM-YYYY"
                          :locale="myLocale"
                          v-model="search.fromDate"
                          @input="() => $refs.qDateProxy.hide()"
                        />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <div class="col-12 col-sm-3">
                <q-input
                  label="Fecha Final a Reservar"
                  @click="$refs.qDateProxy2.show()"
                  filled
                  v-model="search.toDate"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        ref="qDateProxy2"
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          mask="DD-MM-YYYY"
                          :locale="myLocale"
                          v-model="search.toDate"
                          @input="() => $refs.qDateProxy2.hide()"
                        />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <div class="col-12 col-sm-4">
                <q-btn
                  color="info"
                  class="full-width"
                  icon="search"
                  label="Buscar"
                  size="lg"
                  @click="getTicketsBySearch"
                />
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-md-11 col-12 q-pt-md">
        <q-table title="Tickets" :data="data" :columns="columns" row-key="id">
          <template v-slot:body-cell-initial_amount="props">
            <q-td key="initial_amount" :props="props" class="q-gutter-xs"
              >$ {{ props.row.initial_amount | toNumero }}</q-td
            >
          </template>
          <template v-slot:body-cell-is_free="props">
            <q-td key="is_free" :props="props" class="q-gutter-xs">
              <q-badge color="green" label="Cortesia" v-if="props.value" />
              <span v-else>-</span>
            </q-td>
          </template>
          <template v-slot:body-cell-acciones="props">
            <q-td key="acciones" :props="props" class="q-gutter-xs">
              <q-btn color="info" icon="remove_red_eye" size="sm" @click="selectItem(props.row)">
                <q-tooltip>
                  Ver detalle del ticket
                </q-tooltip>
              </q-btn>
              <q-btn color="green" icon="attach_money" size="sm" :to="`/pagos/generar/${props.row.id}`" v-if="user && user.role.name != 'vaca'">
                <q-tooltip>
                  Asignarle un pago
                </q-tooltip>
              </q-btn>
              <q-btn color="secondary" icon="chat" size="sm" @click="openCommentsDrawer(props.row)">
                  <q-badge color="red" floating v-if="hasComments(props.row)">{{ hasComments(props.row) }}</q-badge>
              </q-btn>


              <q-btn v-if="props.row.files" color="amber" icon="attach_file" size="sm" @click="openFilesDrawer(props.row)">
                <q-badge color="red" floating v-if="props.row.files.length">{{ props.row.files.length }}</q-badge>
              </q-btn>



              <q-btn color="primary" icon="edit" size="sm" @click="editRow(props.row)">
                <q-tooltip>
                  Editar ticket
                </q-tooltip>
              </q-btn>
              <q-btn color="negative" icon="delete" size="sm" @click="deleteRow(props.row)" v-if="hasPermissionTo('eliminar tickets')">
                <q-tooltip>
                  Eliminar
                </q-tooltip>
              </q-btn>
            </q-td>
          </template>
        </q-table>
      </div>
    </div>
    <q-dialog v-model="modal">
      <q-card>
        <q-card-section>
          <div class="text-h5 q-mb-lg">Folio: <span class="text-info">{{ itemSelected.folio }}</span></div>
          <q-btn :to="`/tickets/edit/${itemSelected.id}`" class="q-mb-sm" size="sm" color="default" outline label="Editar ticket" />
          <div class="row q-col-gutter-md">
              <div class="col-xs-12">
                  <q-input :value="itemSelected.partner" type="text" label="Hotel/Agencia" filled readonly />
              </div>
              <div class="col-xs-6 col-sm-6">
                  <q-input :value="itemSelected.product" type="text" label="Establecimiento" filled readonly />
              </div>
              <div class="col-xs-6 col-sm-6">
                  <q-input :value="itemSelected.service" type="text" label="Servicio" filled readonly />
              </div>
              <div class="col-xs-6 col-sm-6">
                  <q-input :value="itemSelected.initial_pax" type="text" label="PAX" filled readonly />
              </div>
              <div class="col-xs-6 col-sm-6">
                  <q-input :value="itemSelected.reservation_date" type="text" label="Fecha de reservacion" filled readonly />
              </div>
              <div class="col-xs-12">
                  <q-input prefix="$" :value="itemSelected.initial_amount | toNumero" type="text" label="Cantidad" filled readonly />
              </div>
              <div class="col-xs-12">
                  <div class="q-mb-md"><strong>Fecha de creacion: </strong> <span>{{ itemSelected.created_at }}</span></div>
                  <div><strong>Creado por: </strong> <span>{{ `${itemSelected.created} ${itemSelected.last_name}`  }} </span></div>
              </div>
          </div>
        </q-card-section>
        <!-- <q-card-section class="q-pt-none">
          <div class="row">
            <div class="col-sm-12 text-right">
              <q-badge
                color="green"
                label="Cortesia"
                v-if="itemSelected.is_free"
              />
            </div>
            <div class="col-sm-12">
              <div>
                <b>Hotel/Agencia</b>
              </div>
              <div>{{ itemSelected.partner }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Establecimiento</b>
              </div>
              <div>{{ itemSelected.product }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Servicio</b>
              </div>
              <div>{{ itemSelected.service }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b># de personas</b>
              </div>
              <div>{{ itemSelected.initial_pax }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Fecha de reservación</b>
              </div>
              <div>{{ itemSelected.reservation_date }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-12 q-mt-sm">
              <div>
                <b>Descripción</b>
              </div>
              <div>{{ itemSelected.description }}</div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-12 q-mt-sm">
              <div>
                <b>Monto</b>
              </div>
              <div style="font-size: 35px">
                $ {{ itemSelected.initial_amount | toNumero }}
              </div>
              <q-separator class="q-my-sm" />
            </div>
            <div class="col-6 q-mt-xl">
              <div>Creado por</div>
              <div>{{ itemSelected.created }} {{ itemSelected.last_name }}</div>
            </div>
            <div class="col-6 q-mt-xl">
              <div>Fecha de creación</div>
              <div>{{ itemSelected.created_at }}</div>
            </div>
          </div>
        </q-card-section> -->
<!--
        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cerrar" v-close-popup />
        </q-card-actions> -->
      </q-card>
    </q-dialog>
  </q-page>
    <files-component :create-route="`${$store.state.general.apiUrl}/auth/tickets/add-file`">></files-component>
    <comments-component :create-route="`${$store.state.general.apiUrl}/auth/tickets/add-comment`"></comments-component>
  </div>
</template>
<script>
import commentsMixin from './../../mixins/comments/commentsMixin'
import commentsComponent from './../comments/CommentsComopnent';
import filesComponent from './../files/FilesComponent';
import FilesMixin from './../../mixins/files/filesMixin';

import { format } from "quasar";
const { pad } = format;
import { scroll } from 'quasar'
const { getScrollTarget, setScrollPosition } = scroll
export default {
  mixins: [commentsMixin, FilesMixin],
  components: {commentsComponent, filesComponent },
  name: "tickets",
  data() {
    return {
      user: null,
      search: {
        fromDate: "",
        toDate: "",
        folio: ""
      },
      myLocale: {
        /* starting with Sunday */
        days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
        daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
        months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
          "_"
        ),
        monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split(
          "_"
        ),
        firstDayOfWeek: 1
      },
      itemSelected: [],
      data: [],
      modal: false,
      columns: [
        {
          name: "folio",
          align: "center",
          label: "Folio",
          field: "folio",
          sortable: true
        },
        {
          name: "reference",
          align: "center",
          label: "Referencia",
          field: "reference",
          sortable: true
        },
        {
          name: "partner",
          align: "center",
          label: "Hotel/Agencia",
          field: "partner",
          sortable: true
        },
        {
          name: "product",
          align: "center",
          label: "Establecimiento",
          field: "product",
          sortable: true
        },

        {
          name: "initial_amount",
          align: "center",
          label: "Monto",
          field: "initial_amount",
          sortable: true
        },
        {
          name: "reservation_date",
          align: "center",
          label: "Fecha a reservar",
          field: "reservation_date",
          sortable: true
        },
        {
          name: "status",
          align: "center",
          label: "Estatus",
          field: "status",
          sortable: true
        },
         {
          name: "is_free",
          align: "center",
          label: "Cortesia",
          field: "is_free",
          sortable: true
        },
        {
          name: "acciones",
          align: "center",
          label: "Acciones",
          field: "acciones"
        }
      ]
    };
  },
  filters: {
    toPad(value) {
      return pad(value, 10);
    },
    toNumero(value) {
      let val = (value / 1).toFixed(2).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  methods: {

    scrollTop() {
      var el = document.getElementById("top");
      const target = getScrollTarget(el);
      const offset = el.offsetTop;
      const duration = 100;
      setScrollPosition(target, offset, duration);
    },

    getTicketsBySearch() {
      this.$store.commit("loading", true);
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/getTicketsBySearch",
          {
            search: this.search
          },
          {}
        )
        .then(response => {
          console.log(response.data);
          this.data = response.data;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$q.notify({
            message:
              "Ocurrio un error en la busqueda, por favor intenta de nuevo",
            type: "negative"
          });
          this.$store.commit("loading", false);
        });
    },
    getTickets() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getTickets", {}, {})
        .then(response => {
          this.data = response.data;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
    goToPayments(id) {
      this.$router.push({ name: "editPayment", params: { id: id } });
    },
    editRow(row) {
      this.$router.push({ name: "editTicket", params: { id: row.id } });
    },
    selectItem(row) {
      this.itemSelected = row;
      this.modal = true;
    },
    deleteRow(row) {
      this.$q
        .dialog({
          title: "Eliminar ticket",
          message:
            "Deseas eliminar el ticket con el folio  " + pad(row.folio, 10),
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.delete(row.id);
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    delete(id) {
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/deleteTicket",
          { id: id },
          {}
        )
        .then(response => {
          if (response.data == "ok") {
            this.$q.notify({
            message: "Ticket eliminado correctamente",
            type: "positive"
          });
          }else if (response.data == "exist") {
               this.$q.notify({
            message: "No se pudo eliminar porque tiene un pago vinculado.",
            type: "warning"
          });
          }else {
             this.$q.notify({
            message: "Error",
            type: "negative"
          });

          }

          this.getTickets();
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$q.notify({
            message: "No se elimino, intenta de nuevo",
            type: "negative"
          });
          this.$store.commit("loading", false);
        });
    },

    hasPermissionTo(permission){
      if (this.user) {
        if (this.user.role.name == 'superadmin') {
          return true;
        }
        if (this.user.permissions.length > 0) {
          const hasPermission = this.user.permissions.find( perm => {
            return perm.name === permission
          });
          if (hasPermission) {
            return true;
          }
        }
        if(this.user.role.name == permission){
          return true;
        }
      }

      return false;
    }
  },
  mounted() {
    this.user = this.$store.state.general.user
    this.getTickets();
  }
};
</script>
