<template>
<div>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Pagos" to="/pagos" />
            <q-breadcrumbs-el label="Generar un pago" />
        </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pa-sm">
      <div class="col-sm-10 col-xs-12">
        <q-card>
          <q-card-section>
            <div class="text-h6 q-mb-lg">
              {{ (payment) ? `Editando pago con Folio #${payment.id}` : 'Nuevo pago' }}
            </div>
            <q-form ref="paymentsForm" id="paymentsForm" @submit="sendPayment" @reset="clearForm">
              <input type="hidden" name="_method" value="put" v-if="paymentID">
              <input type="hidden" name="user_id" :value="user_id">
              <div class="row q-col-gutter-md">
                <div class="col-sm-12 col-xs-12 text-right q-gutter-md">
                  <template v-if="ticket">
                    <q-btn color="primary" icon="remove_red_eye" label="Ver detalle del ticket" @click="ticketDetails = true" />
                    <q-btn color="negative" icon="close" label="Quitar ticket"  @click="detachDialog = true" />
                  </template>
                  <template v-else>
                      <q-btn to="/tickets" color="secondary" icon="search" label="Asociar a un ticket" v-if="!paymentID" />
                  </template>
                  <q-btn color="secondary" icon="chat" @click="openCommentsDrawer(payment)" v-if="payment" >
                    <q-badge color="red" floating >{{ payment.comments.length }}</q-badge>
                  </q-btn>
                  <q-btn color="amber" icon="attach_file" @click="openFilesDrawer(payment)" v-if="payment">
                    <q-badge color="red" floating v-if="payment.files.length">{{ payment.files.length }}</q-badge>
                  </q-btn>
                  <q-btn color="negative" icon="delete" label="Eliminar pago" @click="deletePaymentDialog = true" v-if="paymentID" />
                </div>
                <template v-if="!ticket">
                  <div class="col-12">
                    <div class="row q-col-gutter-md">
                      <div class="col-12 col-md-4 q-gutter-md">
                        <q-input v-model="ticketToFind" type="text" label="Folio del ticket" filled prefix="#" /> 
                      </div>
                      <div class="col-12 col-md-4 q-gutter-md">
                        <q-btn color="default" label="BUSCAR" size="lg" outline @click="searchTicket()" />
                      </div>
                    </div>
                  </div>
                </template>
                <div class="col-sm-12" v-if="ticket">
                  <input type="hidden" name="ticket_id" :value="ticket.id">
                  <q-input v-model="ticket.folio" label="Ticket" filled readonly />
                </div>
                <div class="col-sm-4 col-xs-12" v-if="paymentsType">
                  <q-select name="payment_type_id"
                    outlined v-model="paymentType" :options="paymentsType" label="Tipo de pago"
                    option-value="id" option-label="name" :rules="requiredRule" />
                </div>
                <div class="col-sm-4 col-xs-12" v-if="partners">
                  <q-select name="partner_id" v-model="partner" use-input hide-selected fill-input input-debounce="0"
                    :options="partnersOption" option-value="id" option-label="name" @filter="filterFn"
                    @input-value="setModel" label="Socio *" outlined :rules="requiredRule" :readonly="(ticketId) ? true : false">
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          No hay resultados
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-select>
                </div>
                <div class="col-sm-4 col-xs-12">
                  <q-input
                    name="amount"
                    v-model="amount" label="Cantidad *"
                    prefix="$"
                    outlined
                    fill-mask="#"
                    :hint="amount | toNumero"
                    :rules="requiredRule" />
                </div>
                <div class="col-sm-4 col-xs-12">
                  <q-input name="payment_date" label="Fecha de pago" v-model="date" outlined :rules="requiredRule" readonly @click="showCalendar()">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="date" mask="DD/MM/YYYY" @input="() => $refs.qDateProxy.hide()" />
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <template v-if="!paymentID">
                  <div class="col-md-4 col-12">
                    <q-file name="file" counter accept=".pdf, .jpg, image/*" outlined v-model="file" label="Adjuntar archivo">
                      <template v-slot:prepend>
                          <q-icon name="attach_file" />
                        </template>
                    </q-file>
                  </div>

                  <div class="col-md-4 col-12" v-if="file && fileTypes">
                      <q-select name="file_type_id" outlined v-model="selectedFileTypeID" :options="fileTypes" option-value="id" option-label="name" label="Tipo de archivo">
                        <template v-if="selectedFileTypeID" v-slot:append>
                          <q-icon name="cancel" @click.stop="selectedFileTypeID = null" class="cursor-pointer" />
                        </template>
                      </q-select>
                  </div>
                </template>
                <div class="col-xs-12">
                   <q-input name="body" v-model="description" outlined="" type="textarea" label="Deja un comentario"/>
                </div>
              </div>
              <div class="q-pt-md text-right q-gutter-sm">
                <q-btn label="Limpiar campos" type="reset" flat class="q-ml-sm" v-if="!paymentID" />
                <q-btn :label="paymentID ? 'Actualizar pago' : 'Generar pago'" type="submit" color="primary"/>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <q-dialog v-model="ticketDetails" persistent>
      <q-card>
        <q-card-section>      
          <ticket-detail :ticket="ticket"></ticket-detail>
          <div class="row q-col-gutter-md">
            <div class="col text-right q-gutter-md">
              <q-btn color="info" label="cerrar" @click="ticketDetails = false" />
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="detachDialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="warning" color="orange" text-color="white" />
          <span class="q-ml-sm">¿Seguro que quieres desasociar el ticket?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Quitar ticket" color="negative" @click="detachTicket()" />
          <q-btn outline label="Cancel" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <template v-if="paymentID && payment">
      <payment-files-component :payment="payment" :file-types="fileTypes"></payment-files-component>
    </template>

    <!-- DELETE PAYMENT ALERT -->
    <q-dialog v-model="deletePaymentDialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="negative" text-color="white" />
          <span class="q-ml-sm">¿Seguro que quieres eliminarlo?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Eliminar" color="negative" @click="deletePayment()" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
  <comments-component :create-route="`${api}/payments/add-comment`"></comments-component>
  <files-component :create-route="`${api}/payments/add-file`">></files-component>
</div>
</template>

<script>
import rules from './../../mixins/rulesComponent';
import axiosMethods from './../../mixins/axiosMethodsComponent';
import commentsComponent from './../comments/CommentsComopnent';
import filesComponent from './../files/FilesComponent';
import fileMixin from './../../mixins/files/filesMixin';
import ticketDetail from './../tickets/ticketDetail'

/**
 * QUASAR PLUGINS
 */
import { date } from 'quasar'
const timeStamp = Date.now()

import { scroll } from 'quasar'
import axios from 'axios';
const { getScrollTarget, setScrollPosition } = scroll

export default {
  components: {commentsComponent, filesComponent, ticketDetail},
  mixins: [rules, axiosMethods, fileMixin],
  name: 'PaymentsForm',
  data() {
    return {
      paymentsType: [], // Listado de pagos
      partners: [], // Listados de los partners
      fileTypes: [], // Listado de tipos de archivos
      partnersOption: [], // Variable utilizada en el select de partners,
      ticket: null, // Variable que almacena el ticket si existe y traer la url el parametro
      ticketId: '', // Parametro de la ruta ID
      paymentID: null,
      payment: null,
      user_id: '',
      api: this.$store.state.general.apiUrl, // RUTA EL API
      ticketToFind: '', // TICKET PARA BUSCAR,
      detachDialog: false, //ALERT PARA DES ASOCIAR UN TICKET
      /** Datos del formulario */
      date: date.formatDate(timeStamp, 'DD/MM/YYYY'),
      paymentType: '', // Pago seleccionado
      partner: '',
      amount: '',
      description: '',
      file: null, // Variable con la data del archivo seleccionado
      selectedFileTypeID: '', //Variable que almacena el ID dle tipo de archivo
      /** MODALES */
      ticketDetails: false, // Modal del ticket
      deletePaymentDialog: false,
    }
  },
  methods: {

    scrollTop() {
      var el = document.getElementById("top");
      const target = getScrollTarget(el);
      const offset = el.offsetTop;
      const duration = 100;
      setScrollPosition(target, offset, duration);
    },

    /*
    * Mosrar el calendario
     */
    showCalendar: function (){
      this.$refs.qDateProxy.show();
    },

    /**
     * Metodo que se ejecuta cuando se llan el campo de ticket
     */
    searchTicket: function() {
      const folio = this.ticketToFind;
      if (folio) {
        this.$axios.get(`${this.api}/auth/tickets/by/${folio}`).then( response => {
          this.ticket = response.data;
          this.ticketDetails = true;
        }).catch(
          error => {
            console.log(error.data);
          }
        )
      }
    },

    /**
     * Metodo para enviar el formulario de pagos
     */
    sendPayment: function (){
      this.$refs.paymentsForm.validate().then( success => {
        if( success ) {
          this.$store.commit("loading", true);
          const uri = (this.paymentID) ? `/payments/${this.paymentID}` : '/payments' ;
          const route = this.$store.state.general.apiUrl + uri;
          const form = document.getElementById('paymentsForm');
          const data = new FormData(form);

          this.$axios.post(route, data).then(
            response => {
              if(response) {
                console.log(response.data);
                /** Desactivamos el preloader */
                this.$store.commit("loading", false);
                /** Resetear el formulario */
                if(this.paymentID) {
                    this.$q.notify({
                    type: 'positive',
                    message: 'Actualizacion exitosa',
                  });

                  this.description = '';
                  return;
                }

                form.reset();
                this.$q.notify({
                  type: 'positive',
                  message: 'Pago realizado con exito',
                });

                return;
              }
            },
            error => {
              this.$store.commit("loading", false);
              return this.errorHandler(error.response.status, error.response.data);
            }
          ).catch(error => {
            this.$store.commit("loading", false);
            console.log(error);
            }
          );
        }
      });
    },

    /**
     * Metodo para limpiar el formulario
     */
    clearForm: function() {
      this.amount = ''
      this.description = ''
      this.file = ''
      this.selectedFileTypeID = ''
    },

    /**
     * Metodo para filtrar los selectes
     */
    filterFn (val, update, abort) {
      update(() => {
        const needle = val.toLocaleLowerCase()
        this.partnersOption = this.partners.filter(v => v.name.toLocaleLowerCase().indexOf(needle) > -1)
      })
    },

    setModel (val) {
      //this.paymentType = val
    },

    /**
     * DES ASOCIAR UN TICKET
     */
    detachTicket: function (){
      this.ticket = null;
      this.detachDialog = false;
      this.ticketToFind = ''
    },

    /**
     * ELIMINAR UN TICKET
     */

    deletePayment: function() {
      this.$store.commit("loading", true);
      this.deletePaymentDialog = false;
      const route = this.$store.state.general.apiUrl + '/payments/' + this.paymentID;

      this.$axios.delete(route).then( response => {
        if(response) {

          this.$q.notify({
                  type: 'positive',
                  message: 'Pago eliminado',
                });

          this.$router.push({ path: "/pagos" });
          this.$store.commit("loading", false);

        }
      }, error => {
        this.$store.commit("loading", false);
        return this.errorHandler(error.response.status, error.response.data);
      }). catch( error => {
        this.$store.commit("loading", false);
        console.log(error);
      })
    },

    openCommentsDrawer: function(payment) {
      this.$root.$emit('openCommentsDrawer', payment)
    }
  },
  filters: {
    toPad(value) {
      return pad(value, 10);
    },
    toNumero(value) {
      let val = (value / 1).toFixed(2).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  mounted() {
    const apiRouteUrl = this.$store.state.general.apiUrl;
    this.$store.commit("loading", true);

    /**
     * OBTENIENDO EL PAGO
     */
    this.paymentID = this.$router.currentRoute.params.paymentID;
    if(this.paymentID) {
      this.$axios.get(`${apiRouteUrl}/payments/${this.paymentID}`).then( response => {
        if(response) {
          this.payment = response.data;
          this.user_id = this.payment.user.id;

          /** Si el pago esta asociado a un ticket */
          if(this.payment.ticket) {
            this.ticketId =  this.payment.ticket.id;
            this.ticket =  this.payment.ticket;
          }

          this.paymentType = this.payment.payment_type;
          this.partner = this.payment.partner;
          this.amount = this.payment.amount;
          this.date = this.payment.payment_date;
          this.description = this.payment.description;

        }
      })
    }

    /**
     * OBTENIENDO EL TICKCET
     */
    this.ticketId = this.$router.currentRoute.params.ticketID;
    if(this.ticketId) {
      this.$axios.get(`${apiRouteUrl}/auth/tickets/${this.ticketId}`).then( response => {
        if(response) {
          this.ticket = response.data;
          this.partner = this.ticket.partner;
        }
      })
    }

    /** obtener los tipos de pagos y los partners */
    const dataUrl = apiRouteUrl + '/payments/create'
    this.$axios.get(dataUrl).then(
            response => {
                this.partners = response.data.partners;
                this.partnersOption = this.partner;

                this.paymentsType = response.data.paymentTypes;
                this.user_id = response.data.user_id;
                this.fileTypes = response.data.fileTypes;

                this.$store.commit("loading", false);
            }, 
            error => {
              this.$store.commit("loading", false);
              return this.errorHandler(error.response.status, error.response.data);
            }
        );

  }
}
</script>
