<template>
  <q-page>
    <div class="row justify-center q-pa-sm">
      <div class="col-sm-10 col-xs-12">
        <q-card class="my-card q-pa-md">
            <div class="text-h6">Archivos relacionados</div>

            <q-card-section>
                <div class="row q-gutter-sm">
                    <div class="col-xs-12 text-right">
                        <q-btn color="amber" icon="attach_file" label="Adjuntar archivo" @click="dialogAddFile = true" />
                    </div>
                    <div class="col-xs-12 col-sm-4" v-for="file in activePayment.files" :key="file.id">
                        <q-card class="my-card text-center">
                            <img class="file-payment" alt="Quasar logo" :src="getImagePath(file)">
                            <span>{{ file.file_name }}</span>
                            <q-card-actions align="center">
                                <q-btn flat color="negative" label="Eliminar" icon="delete" @click="activeDeleteFileDialog(file.id)" />
                                <q-btn type="a" 
                                    :href="assetsRoute + file.file_path" 
                                    target="_blank" 
                                    color="primary" 
                                    label="Ver archivo" 
                                    icon="visibility" 
                                    flat v-if="file.mime_type === 'application/pdf'" />
                                    <q-btn color="primary" icon="visibility" label="Ver archivo" flat v-else />
                            </q-card-actions>
                        </q-card>
                    </div>
                </div>
            </q-card-section>
        </q-card>
      </div>
    </div>

    <!-- MODAL PARA ELIMINAR ARCHIVO -->
    <q-dialog v-model="deleteFileDialog" persistent>
      <q-card class="bg">
        <q-card-section class="row items-center">
          <q-avatar icon="warning" color="negative" text-color="white" />
          <span class="q-ml-sm">¿Estas seguro? No podras recuperar el archivo</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup @click="fileID = ''" />
          <q-btn flat label="ELIMINAR" color="negative" @click="deleteFile" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- MODAL PARA AGREGAR UN ARCHIVO -->
    <q-dialog v-model="dialogAddFile" persistent>
      <q-card style="width: 500px">
        <q-card-section>
          <div class="text-h6 q-pb-md">Adjuntar nuevo archivo</div>
          <q-form @submit="submitFile" ref="submitFile" id="submitFile">
            <input type="hidden" name="payment_id" :value="activePayment.id" v-if="activePayment">
            <div class="col-md-4 q-col-gutter-xs q-mb-md" v-if="fileTypes">
              <q-radio name="file_type_id" v-model="selectedFileType" :val="type.id" :label="type.name" v-for="type in fileTypes" :key="type.id" />
              <q-radio name="file_type_id" v-model="selectedFileType" val="" label="Sin especificar" />
            </div>  
            <q-file name="file" filled bottom-slots v-model="newFile" accept=".pdf, .jpg, image/*" label="Archivo" counter class="q-mb-md" :rules="requiredRule">
              <template v-slot:prepend>
                <q-icon name="cloud_upload" @click.stop />
              </template>
              <template v-slot:append>
                <q-icon name="close" @click.stop="newFile = null" class="cursor-pointer" />
              </template>
            </q-file>
            <div class="row q-gutter-sm justify-end">
              <q-btn flat color="negative" label="cerrar" v-close-popup @click="clearFileForm" />
              <q-btn label="Adjuntar" type="submit" color="primary" outline/>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- MODAL PARA EDITAR ARCHIVO -->
    <q-dialog v-model="editFileDialog" persistent width="40%">
        <q-card style="width: 700px; max-width: 80vw;">
          <q-card-section class="row items-center">
            <q-form id="editFileForm" @submit="editFileSubmit" ref="editFileForm" class="q-gutter-md col-xs-12">
              <input type="hidden" name="_method" value="put" />
              <input type="hidden" name="payment_id" :value="activePayment.id" />
              <div class="col-xs-12">
                <q-select name="file_type_id" v-model="modelFileType" :options="fileTypes" option-value="id" option-label="name" label="Tipo de archivo" filled />
              </div>
              <div class="text-right">
                <q-btn flat label="CANCELAR" color="negative" v-close-popup @click="fileID = ''" />
                <q-btn flat label="EDITAR" color="primary" type="submit" />
              </div>
            </q-form>
          </q-card-section>

        </q-card>
    </q-dialog>

  </q-page>
</template>

<script>
import fileMixin from './../files/filesMixin';
import rules from './../../mixins/rulesComponent';

export default {
    name: 'PaymentFilesComponent',
    mixins: [rules, fileMixin],
    props: ['payment', 'fileTypes'],
    data() {
        return {
            activePayment: this.payment,
            assetsRoute: this.$store.state.general.apiAssets, // Url del los assets

        }
    },
    methods: {
        getImagePath: function(file){
            if(file.mime_type != 'application/pdf') {
                return this.assetsRoute + file.file_path;
            }

            return 'statics/images/pdf.png'
        },
    },
    mounted() {}
}
</script>

<style>

</style>