<template>
  <div>
    <q-page class="q-pt-md">
      <div class="q-pa-md q-gutter-sm">
          <q-breadcrumbs>
              <q-breadcrumbs-el icon="home" to="/" />
              <q-breadcrumbs-el label="Pagos" />
          </q-breadcrumbs>
      </div>
      <div class="row justify-center q-pt-md">
        <div class="col-md-11 text-right">
          <q-btn to="/pagos/generar" color="primary" label="+ Agregar pago" @click="dialogUser = true" />
        </div>
      </div>

      <!-- FORMULARIO DE BUSQUEDA -->
      <div class="row justify-center">  
        <div class="col-xs-12 col-md-11">
            <q-card class="q-mt-md">
              <q-card-section>
                <q-form ref="searchPaymentsForm" id="searchPaymentsForm" @submit="searchPayments()" @reset="resetValues()">
                  <div class="row">
                    <div class="col-xs-12 q-pa-xs">
                      <!-- <q-btn flat color="warning" icon="filter_list" label="Mas filtros" /> -->
                      <q-expansion-item class="q-my-md" header-class="text-secondary" icon="filter_list" label="Mas filtros">
                        <div class="row q-pt-md">
                          <div class="col-xs-12 col-sm-4 q-pa-xs">
                            <q-select name="partners[]" v-model="selectedPartners" multiple
                              :options="partners" option-label="name" option-value="id" 
                              hint="Socio(s) seleccionados:" counter clearable hide-selected 
                              label="Socios(s)" filled v-if="partners" :rules="requiredRule">
                            </q-select>
                          </div>
                          <div class="col-xs-12 col-sm-4 q-pa-xs">
                            <q-select name="products[]" v-model="selectedProducts" multiple
                              :options="products" option-label="name" option-value="id" 
                              hint="Antro(s) seleccionados:" counter clearable hide-selected 
                              label="Antro(s)" filled v-if="partners">
                            </q-select>
                          </div>
                          <div class="col-xs-12 col-sm-4 q-pa-xs">
                            <q-select name="payment_type[]" v-model="selectedPaymentTypes" 
                              multiple :options="paymentTypes" option-label="name" option-value="id" 
                              label="Tipo de pago(s)" filled v-if="paymentTypes" clearable
                              :rules="requiredRule" />
                          </div>
                          <div class="col-xs-12 col-sm-4 q-pa-xs">
                            <q-input name="ticket_folio" v-model="ticketFolio" type="text" label="Folio del ticket" prefix="#" filled clearable />
                          </div>
                        </div>
                      </q-expansion-item>
                    </div>
                    <div class="col-md-4 col-xs-6 q-pa-xs">
                      <q-input name="dateFrom" filled v-model="fromDate" label="Desde" @click="() => $refs.fromDate.show()" :rules="requiredRule">
                          <template v-slot:append>
                            <q-icon name="event" class="cursor-pointer">
                              <q-popup-proxy ref="fromDate" transition-show="scale" transition-hide="scale">
                                <q-date v-model="fromDate" mask="DD/MM/YYYY" @input="() => $refs.fromDate.hide()" />
                              </q-popup-proxy>
                            </q-icon>
                          </template>
                        </q-input>
                    </div>
                    <div class="col-md-4 col-xs-6 q-pa-xs">
                      <q-input name="dateTo" filled v-model="toDate" label="Hasta" @click="() => $refs.toDate.show()" :rules="requiredRule">
                          <template v-slot:append>
                            <q-icon name="event" class="cursor-pointer">
                              <q-popup-proxy ref="toDate" transition-show="scale" transition-hide="scale">
                                <q-date v-model="toDate" mask="DD/MM/YYYY" @input="() => $refs.toDate.hide()" />
                              </q-popup-proxy>
                            </q-icon>
                          </template>
                        </q-input>
                    </div>
                    <div class="col-md-4 col-xs-6 q-pa-xs">
                      <q-btn class="full-width" size="lg" color="info" icon="search" label="Buscar" type="submit" />
                    </div>
                  </div>
                </q-form>
              </q-card-section>
            </q-card>
          </div>
      </div>


      <div class="row justify-center q-pt-md">
        <div class="col-xs-12 col-md-11 q-pt-md">
          <p>Total de pagos seleccionados: ${{ sum | toNumero() }}</p>
        </div>
        <div class="col-xs-12 col-md-11 q-pt-md" v-if="payments">
          <q-table title="Pagos" :data="payments" :columns="columns" row-key="name" :pagination.sync="pagination">
            <template v-slot:top-right>
              <q-btn
                color="green"
                icon-right="archive"
                label="Exportar a excel"
                no-caps
                @click="exportTable"
              />
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="folio" :props="props">
                  {{ props.row.id }}
                </q-td>
                <q-td key="payment_date" :props="props">
                  {{ props.row.payment_date }}
                </q-td>
                <q-td key="partner_name" :props="props">
                  {{ props.row.partner_name }}
                </q-td>
                <q-td key="payment_type_name" :props="props">
                  {{ props.row.payment_type_name }}
                </q-td>
                <q-td key="amount" :props="props">
                  ${{ props.row.amount | toNumero() }}
                </q-td>
                <q-td key="ticket_folio" :props="props">
                  <q-btn :color="props.row.ticket_id ? 'negative' : 'grey'" size="sm" 
                    :label="(props.row.ticket) ? props.row.ticket_folio : 'Sin ticket asociado'" 
                    @click="findTicket(props.row.ticket_id)"  />
                </q-td>
                <q-td key="user_name" :props="props">
                  {{ props.row.user_name }}
                </q-td>
                <q-td key="actions" :props="props" class="q-gutter-xs">
                  <q-btn :to="`/pagos/editar/${props.row.id}`" color="primary" icon="edit" size="sm">
                    <q-tooltip anchor="bottom middle">
                      Editar
                    </q-tooltip>
                  </q-btn>
                  <q-btn color="secondary" icon="chat" size="sm" @click="openCommentsDrawer(props.row)">
                    <q-tooltip anchor="bottom middle">
                      Ver comentarios
                    </q-tooltip>
                    <q-badge color="red" floating v-if="hasComments(props.row)">{{ hasComments(props.row) }}</q-badge>
                  </q-btn>
                  <q-btn color="amber" icon="attach_file" size="sm" @click="openFilesDrawer(props.row)">
                    <q-tooltip anchor="bottom middle">
                      Ver archivos
                    </q-tooltip>
                    <q-badge color="red" floating v-if="props.row.files.length">{{ props.row.files.length }}</q-badge>
                  </q-btn>
                  <q-btn color="negative" icon="delete" size="sm" @click="confirmDeletePayment(payments.indexOf(props.row), props.row)">
                    <q-tooltip anchor="bottom middle">
                      Eliminar
                    </q-tooltip>
                  </q-btn>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>

    </q-page>
    <!-- TICKET DETAIL -->
    <q-dialog v-model="ticketDetails" persistent>
      <q-card>
        <q-card-section>      
          <ticket-detail :ticket="ticket"></ticket-detail>
          <div class="row q-col-gutter-md" v-if="ticket">
            <div class="col text-right q-gutter-md">
              <q-btn color="info" label="cerrar" @click="ticketDetails = false" />
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- DELETE PAYMENT ALERT -->
    <q-dialog v-model="deletePaymentDialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="negative" text-color="white" />
          <span class="q-ml-sm">¿Seguro que quieres eliminarlo?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Eliminar" color="negative" @click="deletePayment()" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <files-component :create-route="`${api}/payments/add-file`">></files-component>
    <comments-component :create-route="`${api}/payments/add-comment`"></comments-component>

  </div>
</template>

<script>
import rules from './../../mixins/rulesComponent';
import ticketDetail from './../tickets/ticketDetail';
import axiosMethods from './../../mixins/axiosMethodsComponent';
import filesComponent from './../files/FilesComponent';
import FilesMixin from './../../mixins/files/filesMixin'
import commentsComponent from './../comments/CommentsComopnent';
import CommentsMixin from './../../mixins/comments/commentsMixin'

/**
 * QUASAR PLUGINS
 */

import { date } from 'quasar'
import { exportFile } from 'quasar'
import { scroll } from 'quasar'
const { getScrollTarget, setScrollPosition } = scroll

const timeStamp = Date.now()
const lastDays =  date.subtractFromDate(timeStamp, {days: 15})

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== void 0
    ? formatFn(val)
    : val

  formatted = formatted === void 0 || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  .split('\n').join('\\n')
  .split('\r').join('\\r')

  return `"${formatted}"`
}

export default {
  name: 'PagosTable',
  mixins: [rules, axiosMethods, CommentsMixin, FilesMixin],
  components: { commentsComponent, filesComponent, ticketDetail },
  data() {
    return {
      payments: '', // Listado de payments
      fileTypes: '', // Listado de tipo de archivos
      activePayment: '', // Varivable para cuando se selecciona un pago 
      fromDate: date.formatDate(lastDays, 'DD/MM/YYYY'), // Fecha por default
      toDate: date.formatDate(timeStamp, 'DD/MM/YYYY'), // Fecha por default
      api: this.$store.state.general.apiUrl, // Url del los assets
      assetsRoute: this.$store.state.general.apiAssets, // Url del los assets
      ticket: null, // TICKET PARA EL DETALLE,
      ticketDetails: false,
      /** PROPIEDADES DE LA TABLA */
      columns: [
        {
          name: 'folio',
          label: 'Folio',
          sortable: true
        },
        {
          name: 'payment_date',
          label: 'Fecha de pago',
          sortable: true
        },
        {
          name: 'partner_name',
          label: 'Socio',
          sortable: true
        },
        {
          name: 'payment_type_name',
          label: 'Tipo de pago',
          sortable: true
        },
        {
          name: 'amount',
          label: 'Cantidad',
          sortable: true
        },
        {
          name: 'ticket_folio',
          label: 'Folio del ticket',
          sortable: true
        },
        {
          name: 'user_name',
          label: 'Creado por',
          sortable: true
        },
        {
          name: 'actions',
          label: 'Acciones',
        },
      ],
      sum: '',
      pagination: {
        sortBy: 'desc',
        descending: false,
        page: 1,
        rowsPerPage: 10,
      },
      indexToDelete: -1,
      itemToDelete: null,
      deletePaymentDialog: false,
      /** PROPIEDADES DE LOS FILTROS */
      partners: null,
      selectedPartners: [],
      selectedPaymentTypes: [],
      paymentTypes: null,
      products: null,
      selectedProducts: [],
      ticketFolio: '',
    }
  },
  methods: {
    searchPayments: function (){
      this.$refs.searchPaymentsForm.validate().then( success => {
        this.$store.commit("loading", true);

        const route = '/payments/search';
        const form = document.getElementById('searchPaymentsForm');
        const data = new FormData(form);
        this.$axios.post(this.api + route, data).then( response => {
          if (response) {
            this.payments = response.data.payments;
            this.sum = response.data.sum
            this.$q.notify({
              type: 'positive',
              message: 'Tabla actualziada'
            })
          }

          this.$store.commit("loading", false);

        }, error => {
          this.$store.commit("loading", false);
          return this.errorHandler(error.response.status, error.response.data);
        })
      })
    },

    exportTable () {
      // naive encoding to csv format
      const content = [ this.columns.map(col => wrapCsvValue(col.label)) ].concat(
        this.payments.map(row => this.columns.map(col => 
        wrapCsvValue(
            typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === void 0 ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },

    scrollTop() {
      var el = document.getElementById("top");
      const target = getScrollTarget(el);
      const offset = el.offsetTop;
      const duration = 100;
      setScrollPosition(target, offset, duration);
    },

    findTicket(ticketID) {
      if(!ticketID)
        return;
      this.$store.commit("loading", true);
      this.$axios.get(`${this.api}/auth/tickets/${ticketID}`).then(
        response => {
          this.$store.commit("loading", false);
          this.ticket = response.data;
          this.ticketDetails = true;
        }
      )
    },

    resetValues: function (){

    },

    confirmDeletePayment(idx, payment){
      this.deletePaymentDialog = true;
      this.itemToDelete = payment;
      this.indexToDelete = idx;
    },

    deletePayment(){
      this.deletePaymentDialog = false;
      this.$store.commit("loading", true);
      this.$axios.delete(this.api + '/payments/' + this.itemToDelete.id).then( response => {
        if (response && response.data.success) {
          this.sum = parseFloat(this.sum) - parseFloat(this.itemToDelete.amount);
          this.payments.splice(this.indexToDelete, 1);
          this.$q.notify({
            type: 'positive',
            message: 'Pago eliminado'
          })
          this.itemToDelete = null;
          this.indexToDelete = -1;
        }

        this.$store.commit("loading", false);

      }, error => {
        this.$store.commit("loading", false);
        return this.errorHandler(error.response.status, error.response.data);
      })
    }
  },
  filters: {
    toNumero(value) {
      let val = (value / 1).toFixed(2).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  mounted() {
    this.$store.commit("loading", true);

    /**
     * Treaer pagos mas recientes. 
     */
    
    const dataUrl = this.$store.state.general.apiUrl + '/payments' 
    this.$axios.get(dataUrl).then(
        response => {
          this.sum = response.data.sum;
          this.payments = response.data.payments;
          this.fileTypes = response.data.fileTypes;
          /** Partners */
          this.partners = response.data.partners;
          this.selectedPartners = this.partners
          /** Antros */
          this.products = response.data.products;
          /** Tipos de pago */
          this.paymentTypes = response.data.paymentTypes;
          this.selectedPaymentTypes = this.paymentTypes;
          this.$store.commit("loading", false);
        }, error => {
          this.$store.commit("loading", false);
          return this.errorHandler(error.response.status, error.response.data);
        }
    )
  }
}
</script>
