<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
         <q-breadcrumbs-el label="Configuración" to="/configuracion" />
        <q-breadcrumbs-el label="Lista de servicios" />
      </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pt-md">
      <div class="col-md-10 text-right">
        <q-btn
          color="primary"
          class="q-mt-md float-right"
          icon="add"
          label="Agregar Servicio"
          @click="addService"
        />
      </div>
      <div class="col-md-10 q-pt-md" v-if="services.length">
        <q-table
          title="Servicios"
          :data="services"
          :columns="columns"
          row-key="id"
        >
          <template v-slot:body-cell-acciones="props">
            <q-td key="acciones" :props="props" class="q-gutter-xs">
              <q-btn
                color="primary"
                icon="edit"
                size="sm"
                @click="editRow(props.row)"
              />
              <q-btn
                color="negative"
                icon="delete"
                size="sm"
                @click="deleteRow(props.row)"
              />
            </q-td>
          </template>
        </q-table>
      </div>
      <q-dialog v-model="modal.showModal" persistent>
        <q-card style="min-width: 350px">
          <q-card-section></q-card-section>
          <q-card-section class="q-pt-none">
            <q-input v-model="service.name" :label="modal.title" />
          </q-card-section>
          <q-card-actions align="right" class="text-primary">
            <q-btn
              flat
              label="Cancelar"
              @click="closeModal"
              class="float-left"
            />
            <q-btn
              color="primary"
              :label="modal.button"
              @click="saveService()"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <q-dialog v-model="modal.deleteModal" persistent>
        <q-card style="min-width: 350px">
          <q-card-section></q-card-section>
          <q-card-section class="q-pt-none">
            <span>Deseas eliminar el servicio de {{ service.name }}?</span>
          </q-card-section>
          <q-card-actions align="right" class="text-primary">
            <q-btn
              flat
              label="Cancelar"
              @click="closeModal"
              class="float-left"
            />
            <q-btn
              color="red"
              label="Eliminar"
              @click="deleteService"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script>
import axios from "axios";
export default {
  name: "servicios",
  data() {
    return {
      service: {
        name: "",
        id: 0
      },
      modal: {
        deleteModal: false,
        showModal: false,
        button: "Agregar",
        title: "Nuevo servicio",
        edit: false
      },
      showModal: false,
      serviceSelected: [],
      services: [],
      columns: [
        {
          name: "id",
          align: "center",
          label: "Id Servicio",
          field: "id",
          sortable: true
        },
        {
          name: "name",
          align: "center",
          label: "Servicio",
          field: "name",
          sortable: true
        },
        {
          name: "created_at",
          align: "center",
          label: "Fecha de creación",
          field: "created_at"
        },
        {
          name: "acciones",
          label: "Acciones",
          align: "left",
          field: ""
        }
      ]
    };
  },
  methods: {
    editRow(row) {
      this.service.name = row.name;
      this.service.id = row.id;
      this.modal.showModal = true;
      this.modal.title = "Modificar servicio";
      this.modal.button = "Actualizar";
      this.modal.edit = true;
    },
    deleteRow(row) {
      this.service.name = row.name;
      this.service.id = row.id;
      this.modal.deleteModal = true;
    },
    deleteService() {
      this.$store.commit("loading", true);

      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/deleteService",
          {
            service: this.service.name,
            id: this.service.id
          },
          {}
        )
        .then(response => {
          this.$q.notify({
            type: "positive",
            message: 'Servicio eliminado correctamente',

          });
          this.getServices();
        })
        .catch(error => {
          this.$store.commit("loading", false);
           this.$q.notify({
            type: "error",
            message: 'Algo salio mal, intentalo mas tarde',

          });
        });
    },
    saveService() {
      var url = "/auth/saveService";
      if (this.modal.edit) {
        url = "/auth/updateService";
      }
      this.$store.commit("loading", true);

      this.$axios
        .post(
          this.$store.state.general.apiUrl + url,
          {
            service: this.service.name,
            id: this.service.id
          },
          {}
        )
         .then(response => {
          this.$q.notify({
            type: "positive",
            message: 'Servicio actualizado correctamente',
          });
          this.getServices();
        })
        .catch(error => {
          this.$store.commit("loading", false);
           this.$q.notify({
            type: "error",
            message: 'Algo salio mal, intentalo mas tarde',

          });
        });
    },
    getServices() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getServices", {}, {})
        .then(response => {
          this.services = response.data;
          this.$store.commit("loading", false);
        })
        .catch(error => {});
    },
    closeModal() {
      this.modal.showModal = false;
      this.modal.deleteModal = false;
      this.serviceSelected = [];
    },
    addService() {
      this.modal.showModal = true;
      this.modal.title = "Nuevo servicio";
      this.modal.button = "Agregar";
      this.service.name = "";
      this.modal.edit = false;
    }
  },
  computed: {},
  mounted() {
    this.getServices();
  }
};
</script>
