<template>
  <q-layout view="hHr LpR lFf">
    <q-page>
      <div class="row">
        <div class="col-sm-6 col-12 login-logo">
          <div class="row full-height items-center">
            <div class="col text-center">
              <img src="statics/antromex.svg" alt="">
              <p>Aventureros de la noche, <br> <span>Visionarios</span> de la diversión.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-12 login-form" :class="{ 'order-first':  $q.screen.xs }">
          <div class="full-height items-center justify-center row">
            <div class="col-sm-10 col-12">
              <q-card class="q-pa-lg">
                <h3>L<span>O</span>GIN</h3>
                <q-card-section>
                  <q-form ref="login" class="q-gutter-md" @submit.prevent="onSubmit()">
                    <q-input
                      filled
                      v-model="login.username"
                      label="EMAIL"
                      placeholder="example@correo.com"
                      lazy-rules
                      :rules="[val => (val && val.length > 0) || 'Ingresa tu usuario']"
                    />
                    <q-input
                      filled
                      type="password"
                      v-model="login.password"
                      label="CONTRASEÑA"
                      placeholder="**************"
                      lazy-rules
                      :rules="[val => (val && val.length > 0) || 'Ingresa tu contraseña']"
                    />
                    <div>
                      <span class="text-red">{{ error }}</span>
                    </div>
                    <div>
                      <q-btn
                        label="Entrar"
                        type="submit"
                        class=" full-width"
                        size="xl"
                      />
                    </div>
                  </q-form>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </div>
      </div>
    </q-page>
  </q-layout>
</template>

<style></style>
<script>
export default {
  name: "login",
  data() {
    return {
      login: {
        username: "",
        password: ""
      },
      error: ""
    };
  },
  computed: {
    toLoweCase() {
      if (this.login.username.length > 0) {
        this.login.username = this.login.username.toLowerCase();
      }
      return "";
    }
  },
  methods: {
    onSubmit() {
      this.$refs.login.validate().then(success => {
        if (success) {
          this.goLogin();
        } else {
        }
      });
    },

    goLogin: function() {
      this.error = "";
      this.$store.commit("loading", true);
      console.log(this.$store.state.general);
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/login",
          {
            email: this.login.username,
            password: this.login.password,
            remember_me: true
          },
          {
            "Content-Type": "application/json",
            "X-Requested-With": "XMLHttpRequest",
            "Access-Control-Allow-Origin":"*",
          }
        )
        .then(response => {
          console.log(response.data);
          //Esto se tiene que hacer cuando se loguea, se guarda el header authorization de manera global,
          //no es necesario mandarlo llamar cada vez que se haga una consulta.
          this.$axios.interceptors.request.use(
            config => {
              config.headers.Accept = "application/json";
              config.headers.Authorization =
                "Bearer " + response.data.access_token;
              return config;
            },
            function(error) {
              return Promise.reject(error);
            }
          );
          //fin de global token
  this.$axios
      .get(this.$store.state.general.apiUrl + "/auth/getDataUser", {}, {})
      .then(responseUser => {
        this.$store.commit("loading", false);
        this.$store.commit("saveUserData", responseUser.data);
        this.$router.push({ path: "/dashboard" });
      })
      .catch(error => {
        this.$store.commit("loading", false);
      });

          this.$q.cookies.set("token", response.data.access_token);
          this.$q.cookies.set("expiredDate", response.data.expires_at);
          this.$store.commit("login");
          
        })
        .catch(error => {
          this.error = "El usuario o la contraseña son incorrectos.";
          this.$store.commit("loading", false);
          this.$q.cookies.remove("token");
        });
    }
  },
  mounted() {
         this.$q.cookies.remove('token');
         this.$q.cookies.remove('expiredDate');
  }
};
</script>
<style></style>
