<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="socios" />
      </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pt-md">
      <div class="col-md-11 col-12 text-right">
        <q-btn
          color="primary"
          class="q-mt-md float-right"
          icon="add"
          label="Agregar Concierge"
          to="/concierges/create"
        />
      </div>
      <div class="col-md-11 col-12 q-pt-md">
        <q-table :data="data" :columns="columns" row-key="id">
          <template v-slot:body-cell-userName="props">
            <q-td key="acciones" :props="props" class="q-gutter-xs">
              {{props.row.userName}} {{props.row.userLastName}}
            </q-td>
          </template>
          <template v-slot:body-cell-acciones="props">
            <q-td key="acciones" :props="props" class="q-gutter-xs">
              <q-btn
                color="primary"
                icon="edit"
                size="sm"
              />
              <q-btn
                color="negative"
                icon="delete"
                size="sm"
              />
            </q-td>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import axios from "axios";
import axiosMethods from '../../mixins/axiosMethodsComponent';
export default {
  mixins: [axiosMethods],
  name: "products",
  data() {
    return {
      itemSelected:[],
      data:[],
      editingProduct:{
        product:'',
      },
      editProduct:false,
      productType: [],
      test: "",
      productSelected: [],
      products: [],
      columns: [
        {
          name: "name",
          align: "center",
          label: "Nombre",
          field: "name",
          sortable: true
        },
        {
          name: "lastName",
          align: "center",
          label: "Apellido",
          field: "last_name",
          sortable: true
        },
        {
          name: "partner",
          align: "center",
          label: "Hotel",
          field: row => row.partner.name,
          sortable: true
        },

        {
          name: "phone",
          align: "center",
          label: "Telefono",
          field: "phone",
        },
        {
          name: "acciones",
          align: "center",
          label: "Acciones",
          field: "acciones",
        },
      ],
      modal:false,
      showFormProduct: false
    };
  },
  methods: {
    getPartners() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/concierges")
        .then(response => {
          console.log(response.data);
          this.data = response.data;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
  },
  mounted() {
    this.getPartners();
  }
};
</script>
