<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm" >
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="socios" to="/socios" />
        <q-breadcrumbs-el label="Editar Hotel/Agencia" />
      </q-breadcrumbs>
    </div>
    <div class="q-pa-md q-gutter-sm">
      <div class="row justify-center q-pt-md">
        <div class="col-md-10 q-pt-md">
          <q-card class="my-card">
            <q-card-section>
              <div class="row q-col-gutter-md q-ma-md">
                <div class="col-12 col-sm-8">
                  <span class="text-h6" >Editar {{form.name}}</span>
                </div>
                <div class="col-12 col-sm-4 text-right">
                  <q-toggle
                    v-model="form.status"
                    label="Disponible"
                    :false-value="false"
                    :true-value="true"
                    color="green"
                    left-label
                  />
                </div>
                <div class="col-12 col-sm-12">
                  <q-input outlined v-model="form.name" label="Nombre" />
                </div>
                 <div class="col-12 col-sm-6 col-md-4">
                  <q-input type="number" outlined v-model="form.percent" label="Comisión" />
                </div>
                <div class="col-12 col-sm-6 col-md-4" v-if="cities.length > 0">
                  <q-select
                  outlined
                    :options="cities"
                    label="Ciudad"
                    v-model="form.city"
                    option-value="id"
                    option-label="name"
                     map-options
                     emit-value
                  ></q-select>
                </div>
                 <div class="col-12 col-sm-6 col-md-4">
                  <q-select
                  outlined
                    :options="types"
                    label="Tipo de socio"
                    v-model="form.type"
                    option-value="id"
                    option-label="name"
                     map-options
                     emit-value
                  ></q-select>
                </div>
                <div class="col-12 col-sm-6">
                  <q-input outlined v-model="form.address" label="Dirección" />
                </div>
                <div class="col-12 col-sm-6">
                  <q-input outlined v-model="form.contactPerson" label="Nombre de contacto" />
                </div>
                 <div class="col-12 col-sm-6">
                  <q-input outlined v-model="form.contactPhone" type="tel" label="Telefono de contacto" />
                </div>
                 <div class="col-12 col-sm-6">
                  <q-input outlined v-model="form.contactEmail" label="Email de contacto" />
                </div>
                 <div class="col-12">
                  <q-input outlined v-model="form.description" label="Descripción" />
                </div>
                <div class="col-12">
                  <q-btn
                    color="primary"
                    class="q-mt-md float-right"
                    label="Guardar"
                    @click="saveData"
                  />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import axiosMethods from '../../mixins/axiosMethodsComponent';
export default {
  mixins: [axiosMethods],
  name: "editPartners",
  data() {
    return {
     types:[],
     cities:[],
     brands:[],
      form: {
        name: "",
        id: "",
        city: "",
        address: "",
        type: "",
        contactPerson: "",
        contactPhone:"",
        contactEmail:"",
        percent:"",
        status: true,
        description:"",
      }
    };
  },
  computed:{

  },
  methods: {
    addProduct() {
      this.showFormProduct = true;
    },
    getData(){
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getDataPartners", {}, {})
        .then(response => {
          console.log(response.data);
          this.types = response.data.types;
          this.cities = response.data.cities;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
     saveData(){
      if (this.form.name.trim().length == 0) {
         this.$q.notify({
          type: "negative",
            message: 'Llena el campo nombre del hotel u agencia.',
         });
        return false;
      }
      this.$store.commit("loading", true);

      this.$axios
        .post(this.$store.state.general.apiUrl + '/auth/editPartner', {data: this.form}, {})
        .then(response => {

         this.$q.notify({
           type:'positive',
           message: 'Producto guardado correctamente'
         });
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.errorHandler(error.response.status, error.response.data);
          this.$store.commit("loading", false);
        });
    },
    getPartner() {
      this.$axios
        .post(this.$store.state.general.apiUrl + "/auth/getPartner", {
          id: this.$router.currentRoute.params.id
        })
        .then(response => {
          this.form.name = response.data.name;
          this.form.id = response.data.id;
          this.form.type = response.data.partner_type_id;
          this.form.city = response.data.city_id;
          this.form.percent = response.data.percent;
          this.form.contactPhone = response.data.contact_phone;
          this.form.contactEmail = response.data.contact_email;
          this.form.contactPerson = response.data.contact_person;
          this.form.address = response.data.address;
          this.form.description = response.data.description;

          this.form.status = response.data.status;

          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$q.notify({
            type: "negative",
            message: "Algo salio mal, intentalo mas tarde"
          });
          this.$store.commit("loading", false);
        });
    }

  },
  mounted(){
    this.getData();
    this.getPartner();
  }
};
</script>
