<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="Concierges" to="/concierges" />
        <q-breadcrumbs-el label="Alta de concierge" />
      </q-breadcrumbs>
    </div>
    <div class="q-pa-md q-gutter-sm">
      <div class="row justify-center q-pt-md">
        <div class="col-md-10 q-pt-md">
          <q-card class="my-card">
            <q-card-section>
              <q-form
                ref="conciergeForm"
                id="conciergeForm"
                @submit="saveForm"
                @reset="clearForm"
              >
                <div class="row q-col-gutter-md q-ma-md">
                  <div class="col-12 col-sm-8">
                    <span class="text-h6">Crear/Editar Concierges</span>
                  </div>
                  <div class="col-12 col-sm-6">
                    <q-input name="name" outlined v-model="form.name" label="Nombre(s) *" :rules="requiredRule" />
                  </div>
                  <div class="col-12 col-sm-6">
                    <q-input
                      name="last_name"
                      outlined
                      v-model="form.last_name"
                      label="Apellidos(s)"
                    />
                  </div>
                  <div class="col-12 col-sm-6">
                    <q-select
                      name="partner_id"
                      outlined
                      v-model="form.product_id"
                      use-input
                      input-debounce="0"
                      label="Hotel *"
                      :options="partners"
                      @filter="filterFn"
                      option-value="id"
                      option-label="name"
                      behavior="menu"
                      :rules="requiredRule"
                    >
                      <template v-slot:no-option>
                        <q-item>
                          <q-item-section class="text-grey">
                            No hay resultados
                          </q-item-section>
                        </q-item>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-12 col-sm-6">
                    <q-input name="phone" outlined v-model="form.phone" label="Telefono" />
                  </div>
                  <div class="col-12">
                    <q-btn
                      color="primary"
                      class="q-mt-md float-right"
                      label="Guardar"
                      type="submit"
                    />
                  </div>
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import axiosMethods from "../../mixins/axiosMethodsComponent";
import rules from './../../mixins/rulesComponent';

export default {
  mixins: [rules, axiosMethods],
  name: "conciergeForm",
  data() {
    return {
      partnerOptions: [],
      partners: [],
      form: {
        id: "",
        name: "",
        last_name: "",
        product_id: "",
        phone: ""
      }
    };
  },
  computed: {},
  methods: {
    clearForm: function() {
      this.form.name = ''
      this.form.last_name = ''
      this.form.product_id = ''
      this.form.phone = ''
    },

    saveForm: function() {
      this.$refs.conciergeForm.validate().then(success => {
        if (success) {
          this.$store.commit("loading", true);
          const uri = this.conciergeId
            ? `/concierges/${this.paymentID}`
            : "/concierges";
          const route = this.$store.state.general.apiUrl + uri;
          const form = document.getElementById("conciergeForm");
          const data = new FormData(form);

          this.$axios
            .post(route, data)
            .then(
              response => {
                if (response) {
                  console.log(response.data);
                  /** Desactivamos el preloader */
                  this.$store.commit("loading", false);
                  /** Resetear el formulario */
                  if (this.conciergeId) {
                    this.$q.notify({
                      type: "positive",
                      message: "Actualizacion exitosa"
                    });

                    return;
                  }

                  form.reset();
                  this.$q.notify({
                    type: "positive",
                    message: "Usuario creado con exito"
                  });

                  return;
                }
              },
              error => {
                this.$store.commit("loading", false);
                return this.errorHandler(
                  error.response.status,
                  error.response.data
                );
              }
            )
            .catch(error => {
              this.$store.commit("loading", false);
              console.log(error);
            });
        }
      });
    },

    getPartners() {
      this.$store.commit("loading", true);

      const productsUrl =
        this.$store.state.general.apiUrl + "/auth/getHotelProducts";
      this.$axios.get(productsUrl).then(response => {
        if (response && response.data) {
          this.partnerOptions = response.data;
          this.partners = response.data;
        }
        this.$store.commit("loading", false);
      }).catch( () => this.$store.commit("loading", false));
    },

    filterFn(val, update) {
      if (val === "") {
        update(() => {
          this.partners = this.partnerOptions;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.partners = this.partnerOptions.filter(
          v => v.name.toLowerCase().indexOf(needle) > -1
        );
      });
    }
  },
  mounted() {
    this.getPartners();
  }
};
</script>
