<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="RP" to="/rps" />
        <q-breadcrumbs-el label="Alta de concierge" />
      </q-breadcrumbs>
    </div>
    <div class="q-pa-md q-gutter-sm">
      <div class="row justify-center q-pt-md">
        <div class="col-md-10 q-pt-md">
          <q-card class="my-card">
            <q-card-section>
              <q-form
                ref="conciergeForm"
                id="conciergeForm"
                @submit="saveForm"
                @reset="clearForm"
              >
            <q-input style="display:none" type="hidden" name="id"  v-model="form.id"/>
                <div class="row q-col-gutter-md q-ma-md">
                  <div class="col-12 col-sm-8">
                    <span class="text-h6">Crear/Editar RP</span>
                  </div>
                  <div class="col-12 col-sm-12">
                      
                    <q-select
                      name="concierge_id"
                      outlined
                      v-model="form.concierge_id"
                      use-input
                      input-debounce="0"
                      label="Concierge *"
                      :options="partners"
                      @filter="filterFn"
                      option-value="id"
                      option-label="name"
                      behavior="menu"
                      :rules="requiredRule"
                    >
                      <template v-slot:no-option>
                        <q-item>
                          <q-item-section class="text-grey">
                            No hay resultados
                          </q-item-section>
                        </q-item>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-12 col-sm-6">
                    <q-input name="cash" outlined v-model="form.cash" label="Efectivo" />
                  </div>
                    <div class="col-12 col-sm-6">
                    <q-input name="transfer" outlined v-model="form.transfer" label="Transferencia" />
                  </div>
                    <div class="col-12 col-sm-6">
                    <q-input name="card" outlined v-model="form.card" label="Tarjeta" />
                  </div>
                    <div class="col-12 col-sm-6">
                    <q-input name="bank" outlined v-model="form.bank" label="Banco" />
                  </div>
                  <div class="col-12">
                    <q-btn
                      color="primary"
                      class="q-mt-md float-right"
                      label="Guardar"
                      type="submit"
                    />
                  </div>
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import axiosMethods from "../../mixins/axiosMethodsComponent";
import rules from './../../mixins/rulesComponent';

export default {
  mixins: [rules, axiosMethods],
  name: "conciergeForm",
  data() {
    return {
      partnerOptions: [],
      partners: [],
      form: {
        id: "",
        name: "",
        last_name: "",
        concierge_id: "",
        phone: ""
      }
    };
  },
  computed: {},
  methods: {
    clearForm: function() {
      this.form.bank = ''
       this.form.card = ''
      this.form.cash = ''
      this.form.concierge_id = ''
      this.form.transfer = ''
    },

    saveForm: function() {
      this.$refs.conciergeForm.validate().then(success => {
        if (success) {
          console.log(this.conciergeId);
          this.$store.commit("loading", true);
          const uri = this.conciergeId
            ? `/rps/${this.paymentID}`
            : "/rps/create";
          const route = this.$store.state.general.apiUrl + uri;
          const form = document.getElementById("conciergeForm");
          const data = new FormData(form);

          this.$axios
            .post(route, data)
            .then(
              response => {
                if (response) {
                  console.log(response.data);
                  /** Desactivamos el preloader */
                  this.$store.commit("loading", false);
                  /** Resetear el formulario */
                  if (this.conciergeId) {
                    this.$q.notify({
                      type: "positive",
                      message: "Actualizacion exitosa"
                    });

                    return;
                  }

                 if (this.$router.currentRoute.params.id == null) form.reset();
                  this.$q.notify({
                    type: "positive",
                    message: "RP creado con exito"
                  });

                  return;
                }
              },
              error => {
                this.$store.commit("loading", false);
                return this.errorHandler(
                  error.response.status,
                  error.response.data
                );
              }
            )
            .catch(error => {
              this.$store.commit("loading", false);
              console.log(error);
            });
        }
      });
    },

    getPartners() {
      this.$store.commit("loading", true);

      const productsUrl =
        this.$store.state.general.apiUrl + "/auth/getConcierges";
      this.$axios.get(productsUrl).then(response => {
        if (response && response.data) {
          this.partnerOptions = response.data;
          this.partners = response.data;
        }
        this.$store.commit("loading", false);
      }).catch( () => this.$store.commit("loading", false));
    },
    getRp(){
      const id = this.$router.currentRoute.params.id;
      if(id){

        this.$axios.get(this.$store.state.general.apiUrl +"/auth/getRp/" + id).then(response => {
        if (response && response.data) {
         this.form = response.data;
         console.log(response.data.concierge);
         this.form.concierge_id = {
          id: response.data.concierge_id,
          name:response.data.concierge.name + ' ' + response.data.concierge.last_name
         }
        }
        this.$store.commit("loading", false);
      }).catch( () => this.$store.commit("loading", false));


      }
    },
    filterFn(val, update) {
      if (val === "") {
        update(() => {
          this.partners = this.partnerOptions;
        });
        return;
      }


      update(() => {
        const needle = val.toLowerCase();
        this.partners = this.partnerOptions.filter(
          v => v.name.toLowerCase().indexOf(needle) > -1
        );
      });
    }
  },
  mounted() {
    this.getPartners();
    this.getRp();

  }
};
</script>
