<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="socios" />
      </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pt-md">
      <div class="col-md-11 col-12 text-right">
        <q-btn
          color="primary"
          class="q-mt-md float-right"
          icon="add"
          label="Agregar RP"
          to="/rps/create"
        />
      </div>
      <div class="col-12 col-sm-11 q-pt-md">
        <q-card>
          <q-card-section>
            <div class="row q-col-gutter-sm">
              <div class="col-sm-12">
                <label>Buscar RP</label>
              </div>
              <div class="col-12 col-sm-3">
                <q-input
                  label="Fecha Inicial"
                  @click="$refs.qDateProxy.show()"
                  filled
                  v-model="search.fromDate"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        ref="qDateProxy"
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          mask="DD-MM-YYYY"
                          :locale="myLocale"
                          v-model="search.fromDate"
                          @input="() => $refs.qDateProxy.hide()"
                        />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <div class="col-12 col-sm-3">
                <q-input
                  label="Fecha Final"
                  @click="$refs.qDateProxy2.show()"
                  filled
                  v-model="search.toDate"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        ref="qDateProxy2"
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          mask="DD-MM-YYYY"
                          :locale="myLocale"
                          v-model="search.toDate"
                          @input="() => $refs.qDateProxy2.hide()"
                        />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <div class="col-12 col-sm-4">
                <q-btn
                  color="info"
                  class="full-width"
                  icon="search"
                  label="Buscar"
                  size="lg"
                  @click="getRpByDate"
                />
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-md-11 col-12 q-pt-md">
        <q-table :data="data" :columns="columns" row-key="id">
           <template v-slot:body-cell-cash="props">
            <q-td key="cash" :props="props" class="q-gutter-xs"
              >$ {{ props.row.cash | toNumero }}</q-td
            >
          </template>
          <template v-slot:body-cell-card="props">
            <q-td key="cash" :props="props" class="q-gutter-xs"
              >$ {{ props.row.card | toNumero }}</q-td
            >
          </template>
          <template v-slot:body-cell-transfer="props">
            <q-td key="cash" :props="props" class="q-gutter-xs"
              >$ {{ props.row.transfer | toNumero }}</q-td
            >
          </template>
           <template v-slot:body-cell-created_at="props">
            <q-td key="cash" :props="props" class="q-gutter-xs"
              >{{ props.row.created_at }}</q-td
            >
          </template>
          <template v-slot:body-cell-acciones="props">
            <q-td key="acciones" :props="props" class="q-gutter-xs">
             <q-btn color="primary" icon="edit" size="sm" @click="editRow(props.row)">
                <q-tooltip>
                  Editar RP
                </q-tooltip>
              </q-btn>
              <q-btn color="negative" icon="delete" size="sm" @click="deleteRow(props.row)">
                <q-tooltip>
                  Eliminar
                </q-tooltip>
              </q-btn>
            </q-td>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import axios from "axios";
import axiosMethods from '../../mixins/axiosMethodsComponent';
export default {
  mixins: [axiosMethods],
  name: "products",
  data() {
    return {
      search:{},
      itemSelected:[],
      data:[],
      editingProduct:{
        product:'',
      },
      editProduct:false,
      productType: [],
      test: "",
      productSelected: [],
      products: [],
      columns: [
        {
          name: "name",
          align: "center",
          label: "Concierge",
          field: row => row.concierge.name + ' ' + row.concierge.last_name,
          sortable: true
        },
        {
          name: "cash",
          align: "center",
          label: "Efectivo",
          field: "cash",
          sortable: true
        },
        {
          name: "card",
          align: "center",
          label: "Tarjeta",
          field: "card",
          sortable: true
        },

        {
          name: "transfer",
          align: "center",
          label: "Transferencia",
          field: "transfer",
          sortable: true
        },
        {
          name: "bank",
          align: "center",
          label: "Banco",
          field: "bank",
          sortable: true
        },
        {
          name: "created_at",
          align: "center",
          label: "Creado el",
          field: "created_at",
        },
        {
          name: "acciones",
          align: "center",
          label: "Acciones",
          field: "acciones",
        },
      ],
      modal:false,
      showFormProduct: false
    };
  },
   filters: {
    toPad(value) {
      return pad(value, 10);
    },
    toNumero(value) {
      let val = (value / 1).toFixed(2).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  methods: {
      getRpByDate() {
      this.$store.commit("loading", true);
      console.log(this.search);
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/getRpByDate",
          {
            from: this.search.fromDate,
            to: this.search.toDate,
          },
          {}
        )
        .then(response => {
          console.log("ea", response.data);
          this.data = response.data;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$q.notify({
            message:
              "Ocurrio un error en la busqueda, por favor intenta de nuevo",
            type: "negative"
          });
          this.$store.commit("loading", false);
        });
    },
    delete(id) {
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/deleteRp/"+ id,
          {},
          {}
        )
        .then(response => {
          if (response.data == "ok") {
            this.$q.notify({
            message: "RP eliminado correctamente",
            type: "positive"
          });
          }else {
             this.$q.notify({
              message: "Error",
              type: "negative"
            });
          }

          this.getPartners();
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$q.notify({
            message: "No se elimino, intenta de nuevo",
            type: "negative"
          });
          this.$store.commit("loading", false);
        });
    },
    deleteRow(row) {
      this.$q
        .dialog({
          title: "Eliminar RP",
          message:
            "Deseas eliminar el RP de  " + row.concierge.name,
          cancel: true,
          persistent: true
        })
        .onOk(() => {
          this.delete(row.id);
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    editRow(row) {
      this.$router.push({ name: "editRP", params: { id: row.id } });
    },
    getPartners() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/rps")
        .then(response => {
          console.log(response.data);
          this.data = response.data;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
  },
  mounted() {
    this.getPartners();
  }
};
</script>
