<template>

   <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
         <q-breadcrumbs-el label="Configuración"/>
      </q-breadcrumbs>
    </div>
      <div class="row q-col-gutter-md q-ma-md">
        <div class="col-6 col-sm-3 col-md-3"  v-if="hasPermissionTo('ver usuarios')">
          <q-card class="my-card text-center cursor-pointer	" @click="goToUrl('/usuarios')">
            <q-card-section>
              <q-card class="q-mb-md gradient-blue" >
                <q-card-section>
                <span class="text-h6">Usuarios</span>
                </q-card-section>
              </q-card>
              </q-card-section>
          </q-card>
        </div>
        <div class="col-6 col-sm-3 col-md-3" v-if="hasPermissionTo('crear servicios')">
          <q-card class="my-card text-center cursor-pointer	" @click="goToUrl('/servicios')">
            <q-card-section>
              <q-card class="q-mb-md gradient-blue" >
                <q-card-section>
                <span class="text-h6">Servicios</span>
                </q-card-section>
              </q-card>
              </q-card-section>
          </q-card>
        </div>
      </div>
    </q-page>

</template>

<script>
export default {
  name: "MenuSettings",
  data() {
    return {
      leftDrawerOpen: false,
      user: '',
    };
  },
  methods:{
    goToUrl(url){
      this.$router.push({ path: url });
    },

    hasPermissionTo(permission){
      if (this.user) {
        if (this.user.role.name == 'superadmin') {
          return true;
        }
        if (this.user.permissions.length > 0) {
          var hasPermission = this.user.permissions.find( perm => {
            return perm.name === permission
          });
          if (hasPermission) {
            return true;
          }
        }
      }

      return false;
    }
  },

  mounted() {
    this.user = this.$store.state.general.user
  }

};
</script>
