<template>
  <q-page class="q-pt-md q-mb-xl">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="Reportes" to="/reportes" />
        <q-breadcrumbs-el label="Comisiones" />
      </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pt-md ">
      <div class="col-md-10 q-pt-md">
        <searchcard @search="searchData"></searchcard>
        <template>
          <div class="row q-col-gutter-lg q-mt-xl" v-if="data.length > 0">
            <div class="col-sm-12 text-center">
              <span class="text-h4">Resultados de la busqueda</span>
            </div>

            <div class="col-sm-4 col-md-3">
              <q-card class=" q-mt-lg">
                <q-card-section>
                  <div class=" q-mb-sm text-center title-card">
                    $ {{ total.comissions | toNumero }}
                    <div class=" subtitle-card">
                      Total de comisiones
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </div>
            <div class="col-sm-4 col-md-3">
              <q-card class=" q-mt-lg" v-if="data.length > 0">
                <q-card-section>
                  <div class="q-mb-sm text-center title-card">
                    {{ total.service.name }} - {{total.service.total}}
                    <div class=" subtitle-card">
                      Servicio frecuente
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </div>
             <div class="col-sm-4 col-md-3">
              <q-card class=" q-mt-lg" v-if="data.length > 0">
                <q-card-section>
                  <div class="q-mb-sm text-center title-card">
                    {{ total.product.name }} - {{total.product.total}}
                    <div class=" subtitle-card">
                      Establecimiento frecuente
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </template>
        <q-table
          id="tabla"
          class="q-mt-lg"
          v-show="data.length > 0"
          :title="data.length + ' ' + 'pagos encontrados'"
          :data="data"
          :columns="columns"
          row-key="id"
        >
          <template v-slot:top-right>
            <q-btn
              color="green"
              icon-right="archive"
              label="Exportar a Excel"
              no-caps
              @click="exportTable"
            />
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import searchcard from "../../components/searchCard.vue";
import { scroll } from "quasar";
const { getScrollTarget, setScrollPosition } = scroll;
import { exportFile } from "quasar";
function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');
  return `"${formatted}"`;
}
export default {
  name: "tickets",
  data() {
    return {
      data: [],
      total: {
        tickets: 0,
        service: 0,
        product: 0,
        comissions: 0
      },
      columns: [
        {
          name: "id",
          align: "center",
          label: "ID",
          field: "id",
          sortable: true
        },
        {
          name: "partner",
          align: "center",
          label: "Hotel/Agencia",
          field: "partner",
          sortable: true
        },
        {
          name: "date",
          align: "center",
          label: "Fecha de reservación",
          field: "reservation_date",
          sortable: true
        },
        {
          name: "amount",
          align: "center",
          label: "Monto",
          field: "initial_amount",
          sortable: true,
          format: (val, row) =>
            val !== null
              ? `$ ${parseFloat(val)
                  .toFixed(2)
                  .toString()
                  .replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
              : "-"
        },
        {
          name: "comission",
          align: "center",
          label: "% de Comisión",
          field: "comission",
          sortable: true,
          format: (val, row) => (val !== null ? ` ${parseFloat(val)} %` : "-")
        },
        {
          name: "totalComission",
          align: "center",
          label: "Comisión",
          field: "totalComission",
          sortable: true,
          format: (val, row) =>
            val !== null
              ? `$ ${parseFloat(val)
                  .toFixed(2)
                  .toString()
                  .replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
              : "-"
        }
      ]
    };
  },
  components: {
    searchcard: searchcard
  },
  filters: {
    toNumero(value) {
      let val = (value / 1).toFixed(0).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  computed: {},
  methods: {
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("table-export.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },

    searchData(data) {
      console.log(data);
      this.$store.commit("loading", true);
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/getComissions",
          {
            data: data
          },
          {}
        )
        .then(response => {
          console.log(response.data.payments);
          this.data = response.data.payments;
          this.total.comissions = response.data.comissions;
          this.total.tickets = response.data.tickets;
          this.total.service = response.data.service;
          this.total.product = response.data.product;

          this.$store.commit("loading", false);
          var el = document.getElementById("tabla");
          const target = getScrollTarget(el);
          const offset = el.offsetTop;
          const duration = 1000;
          setScrollPosition(target, offset, duration);
        })
        .catch(error => {
          this.$q.notify({
            type: "negative",
            message:
              "Ocurrio un error en la busqueda, intenta con nuevos criterios."
          });
          this.$store.commit("loading", false);
        });
    }
  },
  mounted() {}
};
</script>
