<template>
  <q-page class="q-pt-md q-mb-xl">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="Reportes" to="/reportes" />
        <q-breadcrumbs-el label="Tickets Generados vaca" />
      </q-breadcrumbs>
    </div>

    <div class="row justify-center q-pt-md ">
      <div class="col-md-10 q-pt-md">
        <searchcard
          :products="true"
          :services="true"
          @search="searchData"
        ></searchcard>
        <div class="row q-col-gutter-lg q-mt-xl" v-if="data.length > 0" >
          <div class="col-sm-12 text-center">
            <span class="text-h4">Resultados de la busqueda</span>
            </div>

          <div class="col-sm-4 col-md-3">
            <q-card class=" q-mt-lg" >
              <q-card-section>
                <div class=" q-mb-sm text-center title-card">
                   $ {{ total.tickets | toNumero }}
                  <div  class=" subtitle-card">
                  Consumo total
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </div>

           <div class="col-sm-4 col-md-3">
            <q-card class=" q-mt-lg" v-if="data.length > 0">
              <q-card-section>
                <div class="q-mb-sm text-center title-card">
                     $ {{ total.commissions | toNumero }}
                  <div class=" subtitle-card">
                    Total Comisiones
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-sm-4 col-md-3">
            <q-card class=" q-mt-lg" v-if="data.length > 0">
              <q-card-section>
                <div class="q-mb-sm text-center title-card">
                      {{ total.pax}}
                  <div class=" subtitle-card">
                    PAX
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-sm-4 col-md-3">
            <q-card class=" q-mt-lg" v-if="data.length > 0">
              <q-card-section>
                <div class="q-mb-sm text-center title-card">
                      {{total.popularPartner.name}} - {{total.popularPartner.total}}
                  <div class=" subtitle-card">
                    RP/Concierge con mas tickets
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </div>
        </div>
      <q-table
          id="tabla-resume"
          class="q-mt-lg"
          v-show="dataGrouped.length > 0"
          title="Resumen General"
          :data="dataGrouped"
          :columns="columnsGrouped"
          row-key="id"
        >
        <template v-slot:body-cell-hotel_id="props">
            <q-td key="hotel_id" :props="props" class="q-gutter-xs">
              {{getHotelName(props)}}
            </q-td>
          </template>
          <template v-slot:top-right>
            <q-btn
              color="green"
              icon-right="archive"
              label="Exportar a Excel"
              no-caps
              @click="exportTableResume"
            />
          </template>
        </q-table>
        <q-table
          id="tabla"
          class="q-mt-lg"
          v-show="data.length > 0"
          :title="data.length + ' ' + 'tickets encontrados'"
          :data="data"
          :columns="columns"
          row-key="id"
        >
        <template v-slot:body-cell-hotel_id="props">
            <q-td key="hotel_id" :props="props" class="q-gutter-xs">
              {{getHotelName(props)}}
            </q-td>
          </template>
          <template v-slot:top-right>
            <q-btn
              color="green"
              icon-right="archive"
              label="Exportar a Excel"
              no-caps
              @click="exportTable"
            />
          </template>
        </q-table>


       
        
      </div>
    </div>
  </q-page>
</template>
<script>
import searchcard from "../../components/searchCard.vue";
import { scroll } from "quasar";
const { getScrollTarget, setScrollPosition } = scroll;
import { exportFile } from "quasar";
function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');
  return `"${formatted}"`;
}
export default {
  name: "tickets",
  data() {
    return {
      data: [],
      dataGrouped:[],
      total: {
        tickets: 0,
        pax: 0,
        popularService: '',
        popularPartner:'',
        popularProduct:'',
        commissions:0,
      },
      columnsGrouped: [
        
       
        {
          name: "full_name",
          align: "center",
          label: "RP/Concierge",
          field: "full_name",
          sortable: true
        },
        {
          name: "hotel_id",
          align: "center",
          label: "Hotel",
          field: row => this.getHotelName(row.hotel_id),
          sortable: true
        },
       
        {
          name: "paxs",
          align: "center",
          label: "PAX",
          field: "paxs",
          sortable: true
        },
        {
          name: "total_amount",
          align: "center",
          label: "Total Consumo",
          field: "total_amount",
          sortable: true,
          format: (val, row) =>
            val !== null
              ? `$ ${parseFloat(val)
                  .toFixed(2)
                  .toString()
                  .replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
              : "-"
        },
        {
          name: "total_commissions",
          align: "center",
          label: "Total Comisiones",
          field: "total_commissions",
          sortable: true,
          format: (val, row) =>
            val !== null
              ? `$ ${parseFloat(val)
                  .toFixed(2)
                  .toString()
                  .replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
              : "-"
        },
       
      ],
      columns: [
        {
          name: "folio",
          align: "center",
          label: "Consecutivo",
          field: "folio",
          sortable: true
        },
         {
          name: "date",
          align: "center",
          label: "Fecha de reservación",
          field: "reservation_date",
          sortable: true
        },
        
        {
          name: "reference",
          align: "center",
          label: "Folio",
          field: "reference",
          sortable: true
        },
        {
          name: "full_name",
          align: "center",
          label: "RP/Concierge",
          field: "full_name",
          sortable: true
        },
        {
          name: "hotel_id",
          align: "center",
          label: "Hotel",
          field: row => this.getHotelName(row.hotel_id),
          sortable: true
        },
       
        {
          name: "initial_pax",
          align: "center",
          label: "PAX",
          field: "initial_pax",
          sortable: true
        },
        {
          name: "amount",
          align: "center",
          label: "Consumo",
          field: "initial_amount",
          sortable: true,
          format: (val, row) =>
            val !== null
              ? `$ ${parseFloat(val)
                  .toFixed(2)
                  .toString()
                  .replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
              : "-"
        },
        {
          name: "commision_amount",
          align: "center",
          label: "Comision",
          field: "commision_amount",
          sortable: true,
          format: (val, row) =>
            val !== null
              ? `$ ${parseFloat(val)
                  .toFixed(2)
                  .toString()
                  .replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
              : "-"
        },
       
      ]
    };
  },
  components: {
    searchcard: searchcard
  },
  filters: {
    toNumero(value) {
      let val = (value / 1).toFixed(0).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  computed: {},
  methods: {
     getHotelName(props){
      if(this.hotels && props){
        const id = typeof props == "number" ? props : props.row.hotel_id;
        return this.hotels.find(( h=> h.id == id))?.name
      }
    },
    exportTableResume() {
      // naive encoding to csv format
      const content = [this.columnsGrouped.map(col => wrapCsvValue(col.label))]
        .concat(
          this.dataGrouped.map(row =>
            this.columnsGrouped
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("table-export.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("table-export.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },

    searchData(data) {
      console.log(data);
      this.$store.commit("loading", true);
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/getTicketsGenerated",
          {
            data: data
          },
          {}
        )
        .then(response => {
          this.data = response.data.tickets;
          this.total.tickets = response.data.total;
          this.total.pax = response.data.pax;
          this.total.popularPartner = response.data.popularPartner;
          this.total.popularService = response.data.popularService;
          this.total.popularProduct = response.data.popularProduct;
          this.total.commissions = response.data.commissions;
          this.hotels = response.data.hotels;
          this.dataGrouped = response.data.ticketsGrouped;
          this.$store.commit("loading", false);
          var el = document.getElementById("tabla");
          const target = getScrollTarget(el);
          const offset = el.offsetTop;
          const duration = 1000;
          setScrollPosition(target, offset, duration);
        })
        .catch(error => {
          this.$q.notify({
            type: "negative",
            message:
              "Ocurrio un error en la busqueda, intenta con nuevos criterios."
          });
          this.$store.commit("loading", false);
        });
    }
  },
  mounted() {
    
  }
};
</script>
