<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md ">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="Reportes" />
      </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pt-md">
      <div class="col-md-10 q-pt-md">
        <div class="row q-col-gutter-xl" v-if="user">
          <div class="col-6 col-sm-4 col-md-3" v-if="hasPermissionTo('generar reportes de tickets')">
            <q-card class="my-card text-center cursor-pointer" @click="goToUrl('generatedTickets')" style="height: 100%">
              <q-card-section>
                <q-card class="q-mb-md bg-primary"  style="margin-top: -50px">
                  <q-card-section>
                     <q-icon class="text-h3 text-white" name="confirmation_number"></q-icon>
                  </q-card-section>
                </q-card>
                <span class="text-h6">Tickets Generados</span>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-6 col-sm-4 col-md-3" v-if="hasPermissionTo('generar reportes de pagos')">
            <q-card class="my-card text-center cursor-pointer" @click="goToUrl('generatedPayments')" style="height: 100%">
              <q-card-section>
                <q-card class="q-mb-md bg-primary"  style="margin-top: -50px">
                  <q-card-section>
                     <q-icon class="text-h3 text-white" name="credit_card"></q-icon>
                  </q-card-section>
                </q-card>
                <span class="text-h6">Pagos Realizados</span>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-6 col-sm-4 col-md-3" v-if="hasPermissionTo('generar reportes de saldos')">
            <q-card class="my-card text-center cursor-pointer" @click="goToUrl('saldosvsingresos')" style="height: 100%">
              <q-card-section>
                <q-card class="q-mb-md bg-primary"  style="margin-top: -50px">
                  <q-card-section>
                     <q-icon class="text-h3 text-white" name="attach_money"></q-icon>
                  </q-card-section>
                </q-card>
                <span class="text-h6">Saldos vs Ingresos</span>
              </q-card-section>
            </q-card>
          </div>
          <div class="col-6 col-sm-4 col-md-3" v-if="hasPermissionTo('generar reportes de comisiones')">
            <q-card class="my-card text-center cursor-pointer" @click="goToUrl('comissions')" style="height: 100%">
              <q-card-section>
                <q-card class="q-mb-md bg-primary"  style="margin-top: -50px">
                  <q-card-section>
                     <q-icon class="text-h3 text-white" name="money_off"></q-icon>
                  </q-card-section>
                </q-card>
                <span class="text-h6">Comisiones</span>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { format } from "quasar";
const { pad } = format;
export default {
  name: "reports",
  data() {
    return {
      itemSelected: [],
      data: [],
      modal: false,
      user: null,
      reportsMenu: [
        {
          title: "Tickets Generados",
          icon: "dynamic_feed",
          url: "generatedTickets"
        },
         {
          title: "Pagos Realizados",
          icon: "attach_money",
          url: "generatedPayments"
        },
         {
          title: "Saldos vs Ingresos",
          icon: "bar_chart",
          url: "saldosvsingresos"
        },
        {
          title: "Comisiones",
          icon: "assignment",
          url: "comissions"
        }
      ],
    };
  },
  filters: {
    toPad(value) {
      return pad(value, 10);
    },
    toNumero(value) {
      let val = (value / 1).toFixed(0).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  methods: {
    goToUrl(path){
        this.$router.push({ name: path});
    },

    hasPermissionTo(permission){
      if (this.user) {
        if (this.user.role.name == 'superadmin') {
          return true;
        }
        if (this.user.permissions.length > 0) {
          var hasPermission = this.user.permissions.find( perm => {
            return perm.name === permission
          });
          if (hasPermission) {
            return true;
          }
        }
      }

      return false;
    }

  },
  mounted() {
    this.user = this.$store.state.general.user
  }
};
</script>
