<template>
  <q-page class="q-pt-md q-mb-xl">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="Reportes" to="/reportes" />
        <q-breadcrumbs-el label="Saldos contra ingresos" />
      </q-breadcrumbs>
    </div>
    <div class="row justify-center q-mt-md q-pa-md">
      <div class=" col-sm-12 col-md-10">
        <q-card>
          <q-card-section>
            <div class="row q-col-gutter-md">
              <div class="col-sm-12">
                <span class="text-h5">Ingresa los criterios de busqueda</span>
              </div>
              <div class="col-sm-4 col-md-3" v-if="false">
                <q-select
                  outlined
                  required
                  v-model="search.partners"
                  use-input
                  :hint="
                    info.partners.length == search.partners.length + 1
                      ? 'Todas las agencias'
                      : search.partners.length + ' ' + 'Seleccionados'
                  "
                  label="Agencia/Hoteles"
                  hide-selected
                  option-value="id"
                  option-label="name"
                  fill-input
                  input-debounce="0"
                  :options="info.partners"
                  @filter="filterPartner"
                  map-options
                  emit-value
                  multiple
                  :display-value="
                    `Seleccionados: ${
                      search.partners
                        ? search.partners.length
                        : 'Ninguno seleccionado'
                    }`
                  "
                >
                  <template v-slot:option="scope">
                    <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
                      <q-item-section
                        v-if="scope.opt.name !== 'Seleccionar todos'"
                      >
                        <q-item-label v-html="scope.opt.name"></q-item-label>
                      </q-item-section>
                      <q-item-section
                        v-else
                        @click="allPartnerts(!selectAllPartners)"
                      >
                        <q-item-label
                          v-html="
                            selectAllPartners
                              ? 'Desmarcar todos'
                              : 'Marcar todos'
                          "
                        ></q-item-label>
                      </q-item-section>
                      <q-item-section side>
                        <q-checkbox
                          v-if="scope.opt.name !== 'Seleccionar todos'"
                          v-model="search.partners"
                          :val="scope.opt.id"
                        />
                        <q-checkbox
                          v-else
                          v-model="selectAllPartners"
                          color="primary"
                          @input="allPartnerts($event)"
                        />
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
              <div class="col-sm-4 col-md-3">
                <q-select
                  outlined
                  map-options
                  emit-value
                  v-model="search.type"
                  :options="info.types"
                  label="Tipo de rango"
                />
              </div>
              <div class="col-sm-4 col-md-3">
                <q-select
                  outlined
                  map-options
                  emit-value
                  v-model="search.year"
                  :options="info.years"
                  label="Año"
                />
              </div>
              <div class="col-12 col-sm-12 float-right ">
                <q-btn
                  color="primary"
                  class="float-right"
                  icon="search"
                  label="Buscar"
                  @click="searchData"
                />
              </div>
            </div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-md-10 q-pt-md">
        <q-table
          id="tabla"
          class="q-mt-lg"
          :pagination.sync="pagination"
          v-show="data.length > 0"
          title="Saldos vs Ingresos"
          :data="data"
          :columns="columns"
          row-key="id"
        >
          <template v-slot:top-right>
            <q-btn
              color="green"
              icon-right="archive"
              label="Exportar a Excel"
              no-caps
              @click="exportTable"
            />
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import { scroll } from "quasar";
const { getScrollTarget, setScrollPosition } = scroll;
import { exportFile } from "quasar";
function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');
  return `"${formatted}"`;
}
export default {
  name: "tickets",
  data() {
    return {
      data: [],
      selectAllPartners: true,
      pagination: {
        sortBy: "desc",
        descending: false,
        page: 1,
        rowsPerPage: 5
        // rowsNumber: xx if getting data from a server
      },
      search: {
        partners: [],
        type: 53,
        year: 2020
      },
      info: {
        partners: [],
        types: [
          {
            value: 53,
            label: "Semanal"
          },
          {
            value: 13,
            label: "Mensual"
          },
          {
            value: 2,
            label: "Anual"
          }
        ],
        years: ["2020", "2021", "2022", "2023"]
      },
      columns:[],
      fields:{
        weekly: [
        {
          name: "type",
          align: "center",
          label: "Semana",
          field: "type",
          sortable: true
        },
        {
          name: "month",
          align: "center",
          label: "Mes",
          field: "month",
          sortable: true
        },
        {
          name: "start",
          align: "center",
          label: "Inicio Semana",
          field: "start",
          sortable: true
        },
        {
          name: "end",
          align: "center",
          label: "Fin Semana",
          field: "end",
          sortable: true
        },
        {
          name: "initial_pax",
          align: "center",
          label: "Total PAX",
          field: "initial_pax",
          sortable: true
        },
        {
          name: "tickets",
          align: "center",
          label: "Tickets",
          field: "tickets",
          sortable: true,
          format: (val, row) =>
              val !== null
                ? `$ ${parseFloat(val).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
                : "-"
        },
        {
          name: "payments",
          align: "center",
          label: "Ingresos",
          field: "payments",
          sortable: true,
          format: (val, row) =>
              val !== null
                ? `$ ${parseFloat(val).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
                : "-"
        }
      ],
      monthly: [
        {
          name: "month",
          align: "center",
          label: "Mes",
          field: "month",
          sortable: true
        },
        {
          name: "start",
          align: "center",
          label: "Inicio Mes",
          field: "start",
          sortable: true
        },
        {
          name: "end",
          align: "center",
          label: "Fin Mes",
          field: "end",
          sortable: true
        },
         {
          name: "initial_pax",
          align: "center",
          label: "Total PAX",
          field: "initial_pax",
          sortable: true
        },
        {
          name: "tickets",
          align: "center",
          label: "Tickets",
          field: "tickets",
          sortable: true,
          format: (val, row) =>
              val !== null
                ? `$ ${parseFloat(val).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
                : "-"
        },
        {
          name: "payments",
          align: "center",
          label: "Ingresos",
          field: "payments",
          sortable: true,
          format: (val, row) =>
              val !== null
                ? `$ ${parseFloat(val).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
                : "-"
        }
      ],
      yearly: [
        {
          name: "año",
          align: "center",
          label: "Año",
          field: "año",
          sortable: true
        },
        {
          name: "start",
          align: "center",
          label: "Inicio Año",
          field: "start",
          sortable: true
        },
        {
          name: "end",
          align: "center",
          label: "Fin Año",
          field: "end",
          sortable: true
        },
         {
          name: "initial_pax",
          align: "center",
          label: "Total PAX",
          field: "initial_pax",
          sortable: true
        },
        {
          name: "tickets",
          align: "center",
          label: "Tickets",
          field: "tickets",
          sortable: true,
          format: (val, row) =>
              val !== null
                ? `$ ${parseFloat(val).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
                : "-"
        },
        {
          name: "payments",
          align: "center",
          label: "Ingresos",
          field: "payments",
          sortable: true,
          format: (val, row) =>
              val !== null
                ? `$ ${parseFloat(val).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
                : "-"
        }
      ]
      }
    };
  },
  components: {},
  filters: {
    toNumero(value) {
      let val = (value / 1).toFixed(0).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  computed: {},
  methods: {
    getDataTicketsGenerated() {
      this.$store.commit("loading", true);
      this.$axios
        .get(
          this.$store.state.general.apiUrl +
            "/auth/getPartnersAndProductsAndServices",
          {},
          {}
        )
        .then(response => {
          this.info.partners = response.data.partners;
          this.info.partnersFilter = response.data.partners;
          this.allPartnerts(true);

          this.info.partners.unshift({
            name: "Seleccionar todos",
            id: 0
          });

          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
    allPartnerts: function(value) {
      if (value) {
        /** Vaciamos el arreglo para no repetir si ya hay algunos seleccionados. */
        this.search.partners = [];
        var arr = [];
        this.info.partners.forEach((partner, index) => {
          arr.push(partner.id);
          this.selectAllPartners = true;
        });
        console.log(arr);
        this.search.partners = arr.filter(x => x.id !== 0);
        return;
      }
      this.selectAllPartners = false;

      /** Si el valor es FALSE vaciamos el arreglo */
      this.search.partners = [];
    },
    filterPartner(val, update, abort) {
      if (val === "") {
        update(() => {
          this.info.partners = this.info.partnersFilter;
        });
        return;
      }
      let self = this;
      update(() => {
        const needle = val.toLowerCase();
        this.info.partners = this.info.partnersFilter.filter(
          v =>
            v.name
              .toString()
              .toLowerCase()
              .indexOf(needle) > -1
        );
      });
    },
    exportTable() {
      // naive encoding to csv format
      const content = [this.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.data.map(row =>
            this.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("table-export.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },

    searchData() {
      this.$store.commit("loading", true);
      this.$axios
        .post(
          this.$store.state.general.apiUrl + "/auth/getSaldosVsIngresos",
          {
            data: this.search
          },
          {}
        )
        .then(response => {
          this.data = response.data;
          this.pagination.rowsPerPage = this.data.length;
          if (this.search.type == 53) {
            this.columns = this.fields.weekly;
          }
          if (this.search.type == 13) {
            this.columns = this.fields.monthly;
          }
          if (this.search.type == 2) {
            this.columns = this.fields.yearly;
          }
          this.$store.commit("loading", false);
          var el = document.getElementById("tabla");
          const target = getScrollTarget(el);
          const offset = el.offsetTop;
          const duration = 1000;
          setScrollPosition(target, offset, duration);
        })
        .catch(error => {
          this.$q.notify({
            type: "negative",
            message:
              "Ocurrio un error en la busqueda, intenta con nuevos criterios."
          });
          this.$store.commit("loading", false);
        });
    }
  },
  mounted() {
    this.getDataTicketsGenerated();
  }
};
</script>
