<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm" >
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" v-if="user && user.role.name != 'vaca'" />
        <q-breadcrumbs-el label="socios" to="/socios" />
        <q-breadcrumbs-el label="Crear Hotel/Agencia" />
      </q-breadcrumbs>
    </div>
    <div class="q-pa-md q-gutter-sm">
      <div class="row justify-center q-pt-md">
        <div class="col-md-10 q-pt-md">
          <q-card class="my-card">
            <!-- FORM NORMAL -->
            <q-card-section v-if="!isVaca">
              <div class="row q-col-gutter-md q-ma-md">
                <div class="col-12 col-sm-8">
                  <span class="text-h6" >Nuevo Hotel/Agencia</span>
                </div>
                <div class="col-12 col-sm-4 text-right">
                  <q-toggle
                    v-model="form.status"
                    label="Disponible"
                    :false-value="false"
                    :true-value="true"
                    color="green"
                    left-label
                  />
                </div>
                <div class="col-12 col-sm-12">
                  <q-input outlined v-model="form.name" label="Nombre" />
                </div>
                 <div class="col-12 col-sm-6 col-md-4">
                  <q-input type="number" outlined v-model="form.percent" label="Comisión" />
                </div>
                <div class="col-12 col-sm-6 col-md-4" v-if="0">
                  <q-select
                  outlined
                    :options="cities"
                    label="Ciudad"
                    v-model="form.city"
                    option-value="id"
                    option-label="name"
                     map-options
                     emit-value
                  ></q-select>
                </div>
                 <div class="col-12 col-sm-6 col-md-4">
                  <q-select
                  outlined
                    :options="types"
                    label="Tipo de socio"
                    v-model="form.type"
                    option-value="id"
                    option-label="name"
                     map-options
                     emit-value
                  ></q-select>
                </div>
                <div class="col-12 col-sm-6">
                  <q-input outlined v-model="form.address" label="Dirección" />
                </div>
                <div class="col-12 col-sm-6">
                  <q-input outlined v-model="form.contactPerson" label="Nombre de contacto" />
                </div>
                 <div class="col-12 col-sm-6">
                  <q-input outlined v-model="form.contactPhone" label="Telefono de contacto" />
                </div>
                 <div class="col-12 col-sm-6">
                  <q-input outlined v-model="form.contactEmail" label="Email de contacto" />
                </div>
                 <div class="col-12">
                  <q-input outlined v-model="form.description" label="Descripción" />
                </div>
                <div class="col-12">
                  <q-btn
                    color="primary"
                    class="q-mt-md float-right"
                    label="Guardar"
                    @click="saveData"
                  />
                </div>
              </div>
            </q-card-section>
            <!-- /FORM  NORMAL -->

            <!-- FORM VACA ARGENTINA -->

            <q-card-section v-if="isVaca">
              <div class="row q-col-gutter-md q-ma-md">
                <div class="col-12 col-sm-8">
                  <span class="text-h6" >Nuevo RP/Concierge</span>
                </div>
                <div class="col-12 col-sm-4 text-right">
                  <q-toggle
                    v-model="form.status"
                    label="Disponible"
                    :false-value="false"
                    :true-value="true"
                    color="green"
                    left-label
                  />
                </div>
                <div class="col-12 col-sm-6">
                  <q-input outlined v-model="form.name" label="Nombre" />
                </div>
                <div class="col-12 col-sm-6">
                  <q-input outlined v-model="form.lastName" label="Apellido" />
                </div>
                <div class="col-12 col-sm-6 col-md-4" v-if="0">
                  <q-select
                  outlined
                    :options="cities"
                    label="Ciudad"
                    v-model="form.city"
                    option-value="id"
                    option-label="name"
                     map-options
                     emit-value
                  ></q-select>
                </div>
                 <div class="col-12 col-sm-6 col-md-4">
                  <q-select
                  outlined
                    :options="types"
                    label="Tipo de socio"
                    v-model="form.type"
                    option-value="id"
                    option-label="name"
                     map-options
                     emit-value
                  ></q-select>

                </div>
                <div class="col-12 col-sm-6 col-md-8">
                  <q-select
                      outlined
                      v-model="form.hotel_id"
                      use-input
                      fill-input
                      hide-selected
                      label="Hotel"
                      input-debounce="0"
                      :options="hotels"
                      option-value="id"
                      map-options
                     emit-value
                      option-label="name"
                      @filter="filterPartner"
                  ></q-select>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                  <q-select
                  outlined
                    :options="paymentsType"
                    label="Tipo de pago"
                    v-model="form.paymentType"
                    option-value="id"
                    option-label="name"
                     map-options
                     emit-value
                  ></q-select>
                  
                </div>
                <div class="col-12 col-sm-8" v-if="form.paymentType == 'TRANSFER'">
                  <q-input outlined v-model="form.clabe" label="Clabe/Tarjeta" />
                </div>
                 <div class="col-12 col-sm-12" v-if="form.paymentType == 'TRANSFER'">
                   <q-select
                      outlined
                      v-model="form.bank"
                      use-input
                      fill-input
                      hide-selected
                      input-debounce="0"
                      :options="banks"
                      option-value="clabe"
                      map-options
                      emit-value
                      label="Elige el banco"
                      option-label="marca"
                      @filter="filterBanks"
                  ></q-select>
                </div>

                 <div class="col-12 col-sm-8">
                  <q-input outlined v-model="form.contactPhone" label="Telefono" />
                </div>
                <div class="col-12">
                  <q-input outlined v-model="form.description" label="Descripción" />
                </div>
                <div class="col-12">
                  <q-btn
                    color="primary"
                    class="q-mt-md float-right"
                    label="Guardar"
                    @click="saveData"
                  />
                </div>
              </div>
            </q-card-section>
          <!-- /FORM VACA ARGENTINA -->
          </q-card>
        </div>
      </div>
      {{checkProduct}}
    </div>
  </q-page>
</template>
<script>
import axiosMethods from './../../mixins/axiosMethodsComponent';
import banks from '../../mixins/banks.json'
export default {
  mixins: [axiosMethods],
  name: "products",
  props: ["product"],
  data() {
    return {
      user: null,
     types:[],
     banks: banks,
     filterBank:banks,
     cities:[],
     brands:[],
     hotels:[],
     paymentsType:[{
          name: "Efectivo",
          id:"CASH"
        },
        {
          name: "Transferencia",
          id:"TRANSFER"
        }],
     hotelsFilter:[],
      form: {
        name: "",
        id: "",
        city: "",
        address: "",
        type: "",
        contactPerson: "",
        contactPhone:"",
        contactEmail:"",
        percent:"",
        status: true,
        description:"",
        lastName:"",
        bank:"",
        hotel_id:null,
        clabe:"",
        paymentType:"CASH"
      }
    };
  },
  computed:{
    isVaca(){
      return this.$store.state.general.user.role.name == "vaca"
    },
    checkProduct(){
       if (this.product !== undefined) {
        this.form.product = this.product.name;
        this.form.id = this.product.id;
        this.form.city = this.product.city_id;
        this.form.type = this.product.product_type_id;
        this.form.brand = this.product.brand_id;
        this.form.status = this.product.status;
      }
    }
  },
  methods: {
    filterPartner(val, update, abort) {
      if (val === "") {
        update(() => {
          this.hotels = this.hotelsFilter;
        });
        return;
      }
      let self = this;
      update(() => {
        const needle = val.toLowerCase();
         this.hotels = this.hotelsFilter.filter(
          v =>
            v.name
              .toString()
              .toLowerCase()
              .indexOf(needle) > -1
        );
      });
    },
    filterBanks(val, update, abort) {
      if (val === "") {
        update(() => {
          this.banks = this.filterBank;
        });
        return;
      }
      let self = this;
      update(() => {
        const needle = val.toLowerCase();
         this.banks = this.filterBank.filter(
          v =>
            v.nombre
              .toString()
              .toLowerCase()
              .indexOf(needle) > -1
        );
      });
    },
    addProduct() {
      this.showFormProduct = true;
    },
    getData(){
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getDataPartners", {}, {})
        .then(response => {
          console.log(response.data);
          this.types = response.data.types;
          this.form.type = this.types[0].id;
          this.cities = response.data.cities;
          this.form.city = this.cities[0].id;
          this.hotels = response.data.hotels;
          this.hotelsFilter = response.data.hotels;
          this.form.hotel_id = this.hotels[0].id;

          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
     saveData(){
      if (this.form.name.trim().length == 0) {
         this.$q.notify({
          type: "negative",
            message: 'Llena el campo nombre del hotel u agencia.',
         });
        return false;
      }
      this.$store.commit("loading", true);

      this.$axios
        .post(this.$store.state.general.apiUrl + '/auth/savePartner', {data: this.form}, {})
        .then(response => {

         this.$q.notify({
           type:'positive',
           message: 'Producto guardado correctamente'
         });

         this.form.address = "";
         this.form.name = "";
         this.form.contactPerson = "";
         this.form.contactPhone = "";
         this.form.contactEmail = "";
         this.form.description = "";
         this.form.percent = "";


          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.errorHandler(error.response.status, error.response.data);
          this.$store.commit("loading", false);
        });
    }

  },
  mounted(){
    this.user = this.$store.state.general.user

    this.getData();
  }
};
</script>
