<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/"  v-if="user && user.role.name != 'vaca'" />
        <q-breadcrumbs-el label="socios" />
      </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pt-md">
      <div class="col-md-11 col-12 text-right">
        <q-btn
          color="primary"
          class="q-mt-md float-right"
          icon="add"
          :label="isVaca ? 'Agregar RP/Concierge' : 'Agregar Hotel/Agencia'"
          to="/socios/create"
        />
      </div>
      <div class="col-md-11 col-12 q-pt-md">
        <q-table :data="data" :columns="columnsTable" row-key="id" :filter="filter">
          <template v-slot:top>
            <q-input dense debounce="300" color="primary" v-model="filter">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
          <template v-slot:body-cell-name="props">
            <q-td key="name" :props="props" class="q-gutter-xs">
              {{props.row.name}} {{props.row.last_name}}
            </q-td>
          </template>

          <template v-slot:body-cell-payment_type="props">
            <q-td key="payment_type" :props="props" class="q-gutter-xs">
             <span v-if="props.row.payment_type == 'TRANSFER' ">TRANSFERENCIA</span>
               <span v-else>EFECTIVO</span>
            </q-td>
          </template>

          <template v-slot:body-cell-linked_partner_id="props">
            <q-td key="linked_partner_id" :props="props" class="q-gutter-xs">
              <span>{{getHotelName(props)}}</span>
            </q-td>
          </template>
          <template v-slot:body-cell-acciones="props">
            <q-td key="acciones" :props="props" class="q-gutter-xs">
              <q-btn v-if="props.row.description" color="secondary" icon="chat" size="sm">
                    <q-tooltip anchor="bottom middle">
                      {{ props.row.description }}
                    </q-tooltip>
                  </q-btn>
              <q-btn
                color="orange"
                icon="remove_red_eye"
                size="sm"
                @click="selectItem(props.row)"
              />
              <q-btn
                color="primary"
                icon="edit"
                size="sm"
                @click="editRow(props.row)"
              />
              <q-btn
                v-if="hasPermissionTo('eliminar tickets')"
                color="negative"
                icon="delete"
                size="sm"
                @click="deleteRow(props.row)"
              />
            </q-td>
          </template>
        </q-table>
      </div>
    </div>
    <q-dialog v-model="modal">
      <q-card>
        <q-card-section>
          <div class="text-h6">{{itemSelected.name}} {{itemSelected.last_name}}</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div class="row" v-if="!isVaca">
            <div class="col-sm-12 text-right">
                 <q-badge color="red" label="Inactivo" v-if="!itemSelected.status" />
              <q-badge color="green" label="Activo" v-else />

            </div>
            <div class="col-sm-12">
              <div>
                <b>Descripción</b>
              </div>
              <div>
                {{itemSelected.description}}
              </div>
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Ciudad</b>
              </div>
              <div>
                {{itemSelected.city}}
              </div>
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Tipo</b>
              </div>
              <div>
                {{itemSelected.type}}
              </div>
            </div>
             <div class="col-6 q-mt-sm">
              <div>
                <b>Comisión</b>
              </div>
              <div>
                {{itemSelected.percent}}%
              </div>
            </div>
             <div class="col-6 q-mt-sm">
              <div>
                <b>Telefono</b>
              </div>
              <div>
                {{itemSelected.contact_phone}}
              </div>
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Email</b>
              </div>
              <div>
                {{itemSelected.contact_email}}
              </div>
            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Persona de contacto</b>
              </div>
              <div>
                {{itemSelected.contact_person}}
              </div>
            </div>
              <div class="col-6 q-mt-xl">
              <div>
                Creado por
              </div>
              <div>
                {{itemSelected.userName}} {{itemSelected.userLastName}}
              </div>
            </div>
             <div class="col-6 q-mt-xl">
              <div>
                Fecha de creación
              </div>
              <div>
                {{itemSelected.created_at}}
              </div>
            </div>
          </div>

          <!-- CAMPOS PARA LA VACA -->

          <div class="row" v-if="isVaca">
            <div class="col-sm-12 text-right">
                 <q-badge color="red" label="Inactivo" v-if="!itemSelected.status" />
              <q-badge color="green" label="Activo" v-else />

            </div>
            <div class="col-6 q-mt-sm">
              <div>
                <b>Tipo</b>
              </div>
              <div>
                {{itemSelected.type}}
              </div>
            </div>
             <div class="col-6 q-mt-sm">
              <div>
                <b>Comisión</b>
              </div>
              <div>
                {{itemSelected.percent}}%
              </div>
            </div>
             <div class="col-6 q-mt-sm">
              <div>
                <b>Telefono</b>
              </div>
              <div>
                {{itemSelected.contact_phone}}
              </div>
            </div>

            <div class="col-6 q-mt-sm">
              <div>
                <b>Tipo de pago</b>
              </div>
              <div>
               <span v-if="itemSelected.payment_type == 'TRANSFER' ">TRANSFERENCIA</span>
               <span v-else>EFECTIVO</span>
              </div>
            </div>

            <div class="col-6 q-mt-sm" v-if="itemSelected.payment_type == 'TRANSFER' ">
              <div>
                <b>Clabe</b>
              </div>
              <div>
                {{itemSelected.clabe}}
              </div>
            </div>

            <div class="col-6 q-mt-sm" v-if="itemSelected.payment_type == 'TRANSFER' ">
              <div>
                <b>Banco</b>
              </div>
              <div>
                {{getBankName(itemSelected.bank)}}
              </div>
            </div>

            <div class="col-12 q-mt-sm">
              <div>
                <b>Hotel</b>
              </div>
              <div>
                {{getHotelName(itemSelected.linked_partner_id)}}
              </div>
            </div>

              <div class="col-6 q-mt-xl">
              <div>
                Creado por
              </div>
              <div>
                {{itemSelected.userName}} {{itemSelected.userLastName}}
              </div>
            </div>
             <div class="col-6 q-mt-xl">
              <div>
                Fecha de creación
              </div>
              <div>
                {{itemSelected.created_at}}
              </div>
            </div>
          </div>

        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cerrar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
import axiosMethods from './../../mixins/axiosMethodsComponent';
import columns from '../../mixins/columnsPartners.json';
import columnsVaca from '../../mixins/columnsPartnersVaca.json';
import banks from '../../mixins/banks.json';

export default {
  mixins: [axiosMethods],
  name: "products",
  data() {
    return {
      user: null,
      banks: banks,
      itemSelected:[],
      data:[],
      editingProduct:{
        product:'',
      },
      editProduct:false,
      productType: [],
      test: "",
      productSelected: [],
      products: [],
      columns: columns,
      columnsVaca: columnsVaca,
      modal:false,
      showFormProduct: false,
      hotels:[],
      filter: ""
    };
  },
  methods: {
     editRow(row) {
    this.$router.push({ name: 'editParters', params: { id: row.id } })
    },
    selectItem(row){
      this.itemSelected = row;
      this.modal = true;
    },
    getPartners() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getPartners", {}, {})
        .then(response => {
          this.data = response.data;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
    getHotels() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getHotels", {}, {})
        .then(response => {
          this.hotels = response.data;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
    delete(id){
      this.$axios
        .post(this.$store.state.general.apiUrl + "/auth/deletePartner", {id: id}, {})
        .then(response => {
          this.$q.notify({
            message:'Eliminado correctamente',
            type:'positive'
          });
          this.getPartners();
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.errorHandler(error.response.status, error.response.data);
          this.$store.commit("loading", false);
        });
    },
    deleteRow(row){
      this.$q.dialog({
        title: 'Eliminar',
        message: 'Deseas eliminar a ' + row.name,
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.delete(row.id);
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
     getHotelName(props){
      if(this.hotels && props){
        console.log("props", props);
        const id = typeof props == "number" ? props : props.row.linked_partner_id;
        return this.hotels.find(( h=> h.id == id))?.name
      }
    },
    getBankName(code){
      return this.banks.find(( bank => bank.clabe == code))?.marca
    },
    hasPermissionTo(permission){
      if (this.user) {
        if (this.user.role.name == 'superadmin') {
          return true;
        }
        if (this.user.permissions.length > 0) {
          const hasPermission = this.user.permissions.find( perm => {
            return perm.name === permission
          });
          if (hasPermission) {
            return true;
          }
        }
        if(this.user.role.name == permission){
          return true;
        }
      }

      return false;
    }
  },
  computed: {
    columnsTable(){
      return this.isVaca ? this.columnsVaca : this.columns;
    },
    isVaca(){
      return this.$store.state.general.user.role.name == "vaca"
    },
  },
  components: {
  },
  mounted() {
    this.user = this.$store.state.general.user

    this.getPartners();
     this.getHotels();
  }
};
</script>
