<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md ">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="Saldos" />
      </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pt-md">
      <div class="col-md-11 col-12 q-pt-md q-mb-xl">
        <div class="q-pa-md">
          <q-card class="q-mb-lg">
            <div class="row am-resume q-py-md">
              <div class="col-md-4 text-center">
                <p> $ {{total.tickets | toNumero}}</p>
                <div>
                  <span><q-icon name="confirmation_number" /> Tickets</span>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <p>$ {{total.payments | toNumero}}</p>
                <div>
                  <span><q-icon name="attach_money" /> Pagos</span>
                </div>
              </div>
              <div class="col-md-4 text-center">
                <p>$ {{total.difference | toNumero}}</p>
                <div>
                  <span><q-icon name="money_off" /> Adeudo</span>
                </div>
              </div>
            </div>
            <!-- <q-card-section>
              <div class="text-h4 q-mb-lg">Totales</div>
              <div style="font-size:20px"><b>Tickets Totales:</b> $ {{total.tickets | toNumero}}</div>
              <div style="font-size:20px"><b>Ingresos:</b> $ {{total.payments | toNumero}}</div>
              <div style="font-size:20px"><b>Adeudo:</b> $ {{total.difference | toNumero}}</div>
              <div></div>
            </q-card-section> -->
          </q-card>
          <q-table
            :filter="filter"
            :pagination.sync="pagination"
            title="SALDOS GENERALES"
            :data="info.accounts"
            :columns="info.columns"
            row-key="id"
          >
            <template v-slot:top-right>
              <q-input
                borderless
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <q-icon slot="append" name="search" />
              </q-input>
            </template>
            <!-- <template v-slot:body-cell-acciones="props">
              <q-td key="acciones" :props="props" class="q-gutter-xs">
                <q-btn
                  color="primary"
                  size="sm"
                  @click="goToTicketsDetails(props.row)"
                >
                  Tickets
                  <q-tooltip>
                    Ver tickets a detalle
                  </q-tooltip>
                </q-btn> -->
               <!-- <q-btn
                  color="primary"
                  size="sm"
                  @click="goToPaymentsDetails(props.row)"
                >
                  Pagos
                  <q-tooltip>
                    Ver pagos a detalle
                  </q-tooltip>
                </q-btn>-->
              <!-- </q-td>
            </template> -->
          <template v-slot:top-right>
            <q-btn
              color="green"
              icon-right="archive"
              label="Exportar a Excel"
              no-caps
              @click="exportTable"
            />
          </template>
            <template v-slot:no-data="">
              <div class="full-width row flex-center  q-gutter-sm">
                <span>
                  No se encontraron registros
                </span>
              </div>
            </template>

          </q-table>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { exportFile } from "quasar";
function wrapCsvValue(val, formatFn) {
  let formatted = formatFn !== void 0 ? formatFn(val) : val;

  formatted =
    formatted === void 0 || formatted === null ? "" : String(formatted);

  formatted = formatted.split('"').join('""');
  return `"${formatted}"`;
}
export default {
  name: "accounts",
  data() {
    return {
      total:{
        tickets:0,
        payments:0,
        difference:0,
      },
      pagination: {
        sortBy: "desc",
        descending: false,
        page: 1,
        rowsPerPage: 10
        // rowsNumber: xx if getting data from a server
      },
      filter: "",
      search: {
        account: ""
      },
      info: {
        accounts: [],
        columns: [
          {
            name: "partner",
            label: "Hotel/Agencia",
            field: "partner",
            sortable: true,
            align: 'left'
          },

          {
            name: "lastTicket",
            label: "Ultimo ticket",
            field: "lastTicket",
            sortable: true
          },
          {
            name: "lastPayment",
            label: "Ultimo pago",
            field: "lastPayment",
            sortable: true
          },
           {
          name: "initial_pax",
          align: "center",
          label: "Total PAX",
          field: "initial_pax",
          sortable: true
        },
          {
            name: "tickets",
            label: "Cantidad en tickets",
            field: "tickets",
            sortable: true,
            format: (val, row) =>
               `$ ${val.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
          },

          {
            name: "payments",
            label: "Ingresos",
            field: "payments",
            sortable: true,
            format: (val, row) =>
              val !== null
                ? `$ ${val.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
                : ""
          },
          {
            name: "difference",
            label: "Adeudo",
            field: "difference",
            sortable: true,
            format: (val, row) =>
              `$ ${val.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
          },
          // {
          //   name: "acciones",
          //   align: "center",
          //   label: "Acciones",
          //   field: "acciones",
          //   sortable: true
          // }
        ],
        years: ["2020", "2021", "2022", "2023"]
      },
      accountsFilter: [],
      accounts: []
    };
  },
   filters: {
    toNumero(value) {
      let val = (value / 1).toFixed(0).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  methods: {
    goToTicketsDetails(row) {
      this.$router.push({ path: "/tickets/por-socio/" + row.id });
    },
    goToPaymentsDetails(row) {
      this.$router.push({ path: "/pagos/por-socio/" + row.id });
    },
     exportTable() {
      // naive encoding to csv format
      const content = [this.info.columns.map(col => wrapCsvValue(col.label))]
        .concat(
          this.info.accounts.map(row =>
            this.info.columns
              .map(col =>
                wrapCsvValue(
                  typeof col.field === "function"
                    ? col.field(row)
                    : row[col.field === void 0 ? col.name : col.field],
                  col.format
                )
              )
              .join(",")
          )
        )
        .join("\r\n");

      const status = exportFile("saldos.csv", content, "text/csv");

      if (status !== true) {
        this.$q.notify({
          message: "Browser denied file download...",
          color: "negative",
          icon: "warning"
        });
      }
    },
    getData() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getAccountsVacaArgentina", {}, {})
        .then(response => {
          this.$store.commit("loading", false);

          this.info.accounts = response.data.data;
          this.total.tickets = response.data.tickets;
          this.total.payments  = response.data.payments;
          this.total.difference = response.data.difference;
        })
        .catch(error => {
          this.$store.commit("loading", false);
          this.$q.notify({
            type: "error",
            message: "Algo salio mal, intentalo mas tarde"
          });
        });
    }
  },
  mounted() {
    this.getData();
  }
};
</script>
