<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
          <q-breadcrumbs-el icon="home" label="Dashboard" />
      </q-breadcrumbs>
    </div>
    <div class="row q-col-gutter-md">
      <div class="col-12">
        <div class="row q-col-gutter-md">
          <div class="col-12 col-sm-3">
            <q-select filled v-model="year" :options="years" label="AÑO" />
          </div>
          <div class="col-12 col-sm-3">
            <q-select filled v-model="month"
              :options="monthOptions"
              :option-label="monthOptions.label"
              :option-value="monthOptions.value"
              label="MES" @input="getMonthData($event)" />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <q-card class="full-height flex justify-center items-center">
          <q-card-section>
          <div class="dashboard-title"><span>$</span>{{ totalSales | toNumero }}</div>
          <div class="dashboard-sub-title">Ingreso mensual</div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <q-card class="full-height flex justify-center items-center">
          <q-card-section>
          <div class="dashboard-title"><span>$</span>{{ totalTicketSales | toNumero }}</div>
          <div class="dashboard-sub-title">Ingreso por tickets</div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <q-card class="full-height flex justify-center items-center">
          <q-card-section>
          <div class="dashboard-title">{{ totalPax }} </div>
          <div class="dashboard-sub-title">Pax Confirmados</div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-12 col-sm-8 text-center">
        <q-card class="my-card">
          <q-card-section>
            <h5>Grafica de ingresos mensuales del año en curso</h5>
            <GChart
              type="ColumnChart"
              :data="chartData"
              :options="chartOptions"
              v-if="true"
            />
          </q-card-section>
        </q-card>
      </div>
      <div class="col-12 col-sm-4">
        <q-card class="full-height flex justify-center items-center">
          <q-card-section>
            <div class="title-card">TOP TICKETS GENERADOS</div>
            <ul class="dashboard-list">
              <li v-for="(partner, i) in topTickets" :key="i">{{ partner.partner_name }} ({{ partner.num_partner }})</li>
            </ul>
          </q-card-section>
        </q-card>
      </div>
    </div>
      {{isVaca}}
  </q-page>
</template>

<script>
import { GChart } from 'vue-google-charts'
import { date } from 'quasar'
const { today } = date

let timeStamp = Date.now()
const formatDate = date.formatDate(timeStamp, 'MMMM',{
  months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Nobiembre', 'Diciembre']
})

export default {
  name: 'PageIndex',
  data() {
    return {
      chartData: [
        ['Año', 'Ingreso'],
        ['Enero', 0],
        ['Febrero', 0],
        ['Marzo', 0],
        ['Abril', 0],
        ['Mayo', 0],
        ['Junio', 0],
        ['Julio', 0],
        ['Agosto', 0],
        ['Septiembre', 0],
        ['Octubre', 0],
        ['Noviembre', 0],
      ],
      chartOptions: {
        chart: {
          title: 'Company Performance',
          subtitle: 'Sales, Expenses, and Profit: 2014-2017',
        }
      },
      apiRoute: this.$store.state.general.apiUrl,
      totalSales: null,
      totalTicketSales: null,
      totalPax: null,
      topTickets: null,
      month: {
        label: formatDate,
        value: new Date().getMonth() + 1
        },
      year: new Date().getFullYear(),
      years: ['2020', '2021'],
      monthOptions: [
        {
          label: 'Enero',
          value: '01'
        },
        {
          label: 'Febrero',
          value: '02'
        },
        {
          label: 'Marzo',
          value: '03'
        },
        {
          label: 'Abril',
          value: '04'
        },
        {
          label: 'Mayo',
          value: '05'
        },
        {
          label: 'Junio',
          value: '06'
        },
        {
          label: 'Julio',
          value: '07'
        },
        {
          label: 'Agosto',
          value: '08'
        },
        {
          label: 'Septiembre',
          value: '09'
        },
        {
          label: 'Octubre',
          value: '10'
        },
        {
          label: 'Noviembre',
          value: '11'
        },
        {
          label: 'Diciembre',
          value: '12'
        },
      ]
    }
  },
 components: {
    GChart
  },
  computed:{
    isVaca(){
       if(this.$store.state.general.user.role.name == "vaca"){
        window.location.href = "#/reportes/tickets-generados-vaca";
       }
    },
  },
  methods: {

    getMonthData: function (value) {
      this.$store.commit("loading", true);
      this.$axios.post(`${this.apiRoute}/dashboard`, {
        month: this.month.value,
        year: this.year
      }).then( response => {
        if (response) {

          if (response.data.success) {
            this.totalSales = response.data.total_sales;
            this.totalPax = response.data.total_pax;
            this.totalTicketSales = response.data.total_tickets;
            this.topTickets = response.data.top_tickets
            this.$store.commit("loading", false);
          } else {
            this.$store.commit("loading", false);
            this.$q.notify({
                message: response.data.message,
                type: "info"
              });
          }
        }
      })
      .catch(error => {
        this.$q.notify({
          message:
            "Ocurrio un error en la busqueda, por favor intenta de nuevo",
          type: "negative"
        });
        this.$store.commit("loading", false);
      });

    },
    getChartData: function (value) {
      this.$store.commit("loading", true);
      this.$axios.get(`${this.apiRoute}/auth/getChartData`, {

      }).then( response => {
        this.$store.commit("loading", false);
        this.chartData = response.data;

      })
      .catch(error => {
        this.$q.notify({
          message:
            "Ocurrio un error en la grafica, por favor intenta de nuevo",
          type: "negative"
        });
        this.$store.commit("loading", false);
      });

    }

  },

  filters: {
    toPad(value) {
      return pad(value, 10);
    },
    toNumero(value) {
      let val = (value / 1).toFixed(2).replace(",", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },

  mounted() {
    /**
     * INGRESO MENSUAL
*/
    this.$axios(`${this.apiRoute}/dashboard`).then( response => {
      if (response) {
        if (response.data.success) {
          console.log(response.data);
          this.totalSales = response.data.total_sales;
          this.totalTicketSales = response.data.total_tickets;
          this.totalPax = response.data.total_pax;
          this.topTickets = response.data.top_tickets;
        } else {
            this.$store.commit("loading", false);
            this.$q.notify({
                message: response.data.message,
                type: "info"
              });
              this.totalSales = 0;
              this.totalPax = 0;
              this.topTickets = response.data.top_tickets
          }

      }
    })
    this.getChartData(true);
  }
}
</script>
