<template>
  <q-page>
      <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Usuarios" to="/usuarios" />
            <q-breadcrumbs-el label="Permisos y roles" />
        </q-breadcrumbs>
    </div>  
    <div class="row justify-center q-pa-md" v-if="hasPermissionTo('agregar roles')">
      <template>
        <div class="col-md-10 col-12 q-gutter-sm">
          <q-btn color="primary" label="Agregar nuevo rol" @click="dialogAddRole = true" />
        </div>
        <div class="col-md-10 col-12 q-pt-md" v-if="roles.length">
          <q-table title="Roles" :data="roles" :columns="columns" row-key="name">
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="role" :props="props">
                  {{ props.row.name }}
                </q-td>
                <q-td key="acctions" :props="props" class="q-gutter-xs">
                  <q-btn color="primary" icon="edit" size="sm" @click="editRow(props.row, roles.indexOf(props.row))" />
                  <q-btn color="negative" icon="delete" size="sm" @click="deleteItem(roles.indexOf(props.row), props.row.id, 'roles')"/>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </template>

      <template v-if="hasPermissionTo('agregar permisos')">
        <div class="col-md-10 col-12 q-mt-lg q-gutter-sm">
          <q-btn color="secondary" label="Agregar Permiso" @click="dialogPermission = true" />
        </div>
        <div class="col-md-10 col-12 q-pt-md" v-if="roles.length">
          <q-table title="Permisos" :data="permissions" :columns="permissionsColumns" row-key="name">
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="permiso" :props="props">
                  {{ props.row.name }}
                </q-td>
                <q-td key="group" :props="props">
                  {{ props.row.group }}
                </q-td>
                <q-td key="acctions" :props="props" class="q-gutter-xs">
                  <q-btn color="primary" icon="edit" size="sm" @click="editPermission(props.row, permissions.indexOf(props.row))" />
                  <q-btn color="negative" icon="delete" size="sm" @click="deletePermission(permissions.indexOf(props.row), props.row.id)"/>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </template>
    </div>

    <q-dialog v-model="dialogPermission" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">Nuevo Permiso</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-form ref="createPermissionForm" @submit="createPermission" class="q-gutter-md" id="createPermissionForm">
            <template v-if="permissionId">
              <input type="hidden" name="_method" value="put">
            </template>
            <div class="row q-col-gutter-md q-ma-none">
              <div class="col-md-6">
                <q-input name="name" outlined v-model="permission" label="Nombre del permiso" lazy-rules :rules="[ val => val && val.length > 0 || 'Debe tener un nombre']"/>
              </div>
              <div class="col-md-6">
                <q-select v-model="group" name="group" :options="filterEmptyValues()"  option-value="id" option-label="group" label="Grupo" filled />
              </div>
            </div>

              <div class="text-right">
                  <q-btn flat v-close-popup label="cerrar" color="negative" @click="permissionId = null; permission = ''; group =  ''"/>
                  <q-btn type="submit" :label="(permissionId) ? 'Actualizar' : 'Crear'" color="primary" class="q-ml-sm" />
              </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Modal para Editar un ROLE -->
    <q-dialog v-model="dialogAddRole" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6"></div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-form ref="createRoleForm" @submit="createRole" class="q-gutter-md" id="createRoleForm">
            <template v-if="roleId">
              <input type="hidden" name="_method" value="put">
            </template>
            <q-input name="name" outlined v-model="roleName" label="Nombre del rol" lazy-rules :rules="[ val => val && val.length > 0 || 'Debe tener un nombre']"/>

              <div class="row">
                <div class="col-md-12">
                  <q-toggle v-model="allPermissions" @input="setAllRoles(allPermissions)" />
                </div>
                <div class="col-md-12">
                  <template v-for="group in permissionsGroups"> 
                    <div class="permission-group" :key="group.group">{{ group.group }}</div>
                    <q-checkbox v-model="permissionsRole" name="permissions[]"
                      :val="item.id" :label="item.name" @input="addPermission()"
                      v-for="item in permissionFilter(group.group)" :key="item.id" />
                  </template>
                </div>
              </div>

            <div class="text-right">
                <q-btn flat v-close-popup label="cerrar" color="negative" @click="roleId = null; roleName = ''; roleIdx = null"/>
                <q-btn type="submit" :label="(roleId) ? 'Actualizar' : 'Crear'" color="primary" class="q-ml-sm" />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import helpers from '../../../mixins/axiosMethodsComponent';
import { functions } from 'firebase';
export default {
    mixins: [helpers],
    data() {
        return {
            roles: '',
            permissions: '',
            permissionsGroups: [],
            permissionsRole: [],
            group: '',
            /** MODALES */
            dialogAddRole: false,
            allPermissions: false,
            dialogPermission: false,
            roleIdx: null,

            permissionsIdx: null,
            /** Nombre del permiso a crear */
            permission: '',
            roleName: '',
            roleId: null,
            permissionId: null,
            /** Todos los permisos */
            columns: [
                {
                name: 'role',
                label: 'Nombre del role',
                align: 'left',
                },
                {
                name: 'acctions',
                label: 'Acciones',
                align: 'right',
                }
            ],
            permissionsColumns: [
                {
                name: 'permiso',
                label: 'Nombre del role',
                align: 'left',
                },
                {
                name: 'group',
                label: 'Grupo',
                align: 'left',
                },
                {
                name: 'acctions',
                label: 'Acciones',
                align: 'right',
                }
            ],
        }
    },
    methods: {
      editRow: function(role, idx) {
        this.roleIdx = idx;
        this.dialogAddRole = true;
        this.roleName = role.name;
        this.roleId = role.id;

        this.permissionsRole = [];
        role.permissions.filter(permission =>  {
          this.permissionsRole.push(permission.id)
        })

        this.addPermission();
      },

      setAllRoles: function (val){
        if (val) {
          this.permissionsRole = [];
          this.permissions.forEach( item => {
            this.permissionsRole.push(item.id)
          })

          return true;
        }

        this.permissionsRole = [];
        return;
      },

      addPermission: function () {
        if (this.permissionsRole.length != this.permissions.length) {
          this.allPermissions = false;

          return;
        }

        this.allPermissions = true;
      },

      permissionFilter: function (group) {
        let perm =  this.permissions.filter(item =>  {
          return item.group === group
        });

        if (perm.length)
          return perm;
        

        return [];
      },

      createRole: function(){
          this.$refs.createRoleForm.validate().then( success => {

            if (success) {
              this.$store.commit("loading", true);
              const createRoute = (this.roleId) 
                ? this.$store.state.general.apiUrl + '/roles/' + this.roleId
                : this.$store.state.general.apiUrl + '/roles';
              const form = document.getElementById('createRoleForm');
              const data = new FormData(form);

              this.$axios.post(createRoute, data).then(
                response => {
                  if (response.data.success) {
                    /** Desactivamos el preloader */
                    this.$store.commit("loading", false);
                    /** Agregamos el role a la lista de roles */
                    this.roles.push(response.data.data.role);
                    /** Mensaje */
                    let message = (this.roleId) ? 'Rol actualizado' : 'Agregado correctamente'
                    /** Actualizar ROL editado */
                    this.updateRole(response.data.data.role);

                    this.$q.notify({
                      type: 'positive',
                      message: `${response.data.data.role.name} ${message}`,
                      position: 'bottom-right'
                    })

                    /** Limpiamos el formulario */
                    this.roleName = '';
                    this.roleId = null;
                    this.allPermissions = false;
                    this.permissionsRole = [];
                    this.$refs.createRoleForm.resetValidation();
                    this.dialogAddRole = false;
                    location.reload();
                  }
                }
              ).catch(error => {
                this.$store.commit("loading", false);
                console.log(error);
                });
            }
          })
      },

      updateRole: function(role){
        console.log(this.roleIdx);
        this.roles[this.roleIdx].permissions = role.permissions;
      },

      createPermission: function () {
        if (this.$refs.createPermissionForm.validate()) {
          this.$store.commit("loading", true);
          const createPermissionsRoute = (this.permissionId) 
            ? this.$store.state.general.apiUrl + '/permissions/' + this.permissionId
            : this.$store.state.general.apiUrl + '/permissions';

          const form = document.getElementById('createPermissionForm');
          const data = new FormData(form);
  
          this.$axios.post(createPermissionsRoute, data).then(
            response =>  {
              if (response.data.success) {
                if (!this.permissionId) {
                  let new_permissions = response.data.data;
                  this.permissions.push(new_permissions);
                } else {
                  this.permissions[this.permissionsIdx].name = response.data.data.name;
                  this.permissions[this.permissionsIdx].group = response.data.data.group;
                }

                this.$q.notify({
                        type: 'positive',
                        message: (this.permissionId) ? 'Permiso actualizado' :'Permiso agregado correctamente',
                        position: 'bottom-right'
                      })

                this.group = ''
                this.permission = '';
                this.permissionId = null
                this.permissionsIdx = null;
                this.dialogPermission = false;
                this.$refs.createPermissionForm.resetValidation();
                
                location.reload();
              }

              this.$store.commit("loading", false);
            }
          ).catch(error => {
            this.$store.commit("loading", false);
            this.errorHandler(error.response.status, error.response.data);
          })

          return;
        }

        return;
      },

      deleteItem: function (index, id, type){

        this.$q.dialog({
          title: '¿Seguro deseas eliminarlo?',
          message: 'No podras recuperar el rol',
          cancel: true,
          persistent: true,
          ok: {
            color: 'negative',
            flat: true,
            label: 'Eliminar'
          }
        }).onOk(() => {
          this.$store.commit("loading", true);
          const route = `${this.$store.state.general.apiUrl}/${type}/${id}`;
          this.$axios.delete(route).then(
            response => {
              if (response.data.success) {
                this.roles.splice(index, 1);
                this.$q.notify({
                  type: 'positive',
                  message: 'Rol eliminado correctamente',
                  position: 'bottom-right'
                })
              } else {
                this.errorHandler(403, response.data.data);
              }
              this.$store.commit("loading", false);
            }
          ).catch(
            error => {
              this.$store.commit("loading", false);
              this.errorHandler(error.response.status, error.response.data);
            }
          )
        })
      },

      filterEmptyValues() {
        return this.permissionsGroups.filter(group => {
          if (group) {
            return group.group
          }
        })
      },

      editPermission(perm, idx) {
        this.dialogPermission = true;
        this.permission = perm.name;
        this.group = perm.group;
        this.permissionId = perm.id;
        this.permissionsIdx = idx;
      },

      deletePermission(index, id, type) {
        this.$q.dialog({
          title: '¿Seguro deseas eliminarlo?',
          message: 'El comportamiento de la plataforma puede verse afectado',
          cancel: true,
          persistent: true,
          ok: {
            color: 'negative',
            flat: true,
            label: 'Eliminar'
          }
        }).onOk(() => {
          this.$store.commit("loading", true);
          const route = `${this.$store.state.general.apiUrl}/permissions/${id}`;
          this.$axios.delete(route).then(
            response => {
              if (response.data.success) {
                this.permissions.splice(index, 1);
                this.$q.notify({
                  type: 'positive',
                  message: 'Permiso eliminado correctamente',
                  position: 'bottom-right'
                })
              } else {
                this.errorHandler(403, response.data.data);
              }
              this.$store.commit("loading", false);
            }
          ).catch(
            error => {
              this.$store.commit("loading", false);
              this.errorHandler(error.response.status, error.response.data);
            }
          )
        })
      },

      hasPermissionTo(permission){
        if (this.user) {
          if (this.user.role.name == 'superadmin') {
            return true;
          }
          if (this.user.permissions.length > 0) {
            var hasPermission = this.user.permissions.find( perm => {
              return perm.name === permission
            });
            if (hasPermission) {
              return true;
            }
          }
        }

        return false;
      }

    },
    mounted() {
        this.$store.commit("loading", true);
        const rolesUrl = this.$store.state.general.apiUrl + '/roles';
        const permissionsUrl = this.$store.state.general.apiUrl + '/permissions';

        this.$axios.get(rolesUrl).then(response => {
          if (response.data.success) {
            this.roles = response.data.data
            this.$store.commit("loading", false);
          }
        }).catch(error => {
          this.$store.commit("loading", false);
          this.errorHandler(error.response.status, error.response.data);
        });
          
        this.$axios.get(permissionsUrl).then(
          response => {
            this.permissions = response.data.permissions;
            this.permissionsGroups = response.data.groups;
          }
        ).catch(error => {
          this.$store.commit("loading", false);
          this.errorHandler(error.response.status, error.response.data);
        });

        this.user = this.$store.state.general.user

    },

    beforeCreate(){
        // this.$store.commit("loading", true);
    },
    created(){
    }
}
</script>

<style>

</style>