<template>
  <q-card>
    <q-card-section>
      <div>
        <span class="text-h6">Selecciona los criterios de busqueda</span>
      </div>
      <div class="row q-col-gutter-lg q-mt-sm">
        <div class="col-sm-6 col-md-3 ">
          <q-input label="Fecha Inicial" @click="$refs.qDateProxy.show()" outlined v-model="search.dateFrom">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                   @focus="$refs.qDateProxy.show()"
                    mask="DD-MM-YYYY"
                    :locale="myLocale"
                    v-model="search.dateFrom"
                    @input="openNextDate"
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div class="col-sm-6 col-md-3">
          <q-input label="Fecha Final" ref="focus" @click="$refs.qDateProxy2.show() && $refs.qDateProxy2.focus()" outlined v-model="search.dateTo">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer" >
                <q-popup-proxy
                  ref="qDateProxy2"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    mask="DD-MM-YYYY"
                    :locale="myLocale"
                    v-model="search.dateTo"
                    @input="() => $refs.qDateProxy2.hide()"
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div class="col-sm-3" v-if="info.concierges.length">
          <q-select
            outlined
            required
            v-model="search.concierges"
            use-input
            :hint="
              info.concierges.length == search.concierges.length + 1
                ? 'Todas los RP/Concierges'
                : search.concierges.length + ' ' + 'Seleccionados'
            "
            label="RP/Concierges"
            hide-selected
            option-value="id"
            option-label="name"
            fill-input
            input-debounce="0"
            :options="info.concierges"
            @filter="filterConcierges"
            map-options
            emit-value
            multiple
            :display-value="
              `Seleccionados: ${
                search.concierges
                  ? search.concierges.length
                  : 'Ninguno seleccionado'
              }`
            "
          >
            <template v-slot:option="scope">
              <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
                <q-item-section v-if="scope.opt.name !== 'Seleccionar todos'">
                  <q-item-label v-html="scope.opt.name"></q-item-label>
                </q-item-section>
                <q-item-section
                  v-else
                  @click="allConcierges(!selectAllConcierges)"
                >
                  <q-item-label
                    v-html="
                      selectAllConcierges ? 'Desmarcar todos' : 'Marcar todos'
                    "
                  ></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-checkbox
                    v-if="scope.opt.name !== 'Seleccionar todos'"
                    v-model="search.concierges"
                    :val="scope.opt.id"
                  />
                  <q-checkbox
                    v-else
                    v-model="selectAllConcierges"
                    color="primary"
                    @input="allConcierges($event)"
                  />
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>


        <div class="col-sm-3">
          <q-select
            outlined
            required
            v-model="search.partners"
            use-input
            :hint="
              info.partners.length == search.partners.length + 1
                ? 'Todas las agencias'
                : search.partners.length + ' ' + 'Seleccionados'
            "
            label="Agencia/Hoteles"
            hide-selected
            option-value="id"
            option-label="name"
            fill-input
            input-debounce="0"
            :options="info.partners"
            @filter="filterPartner"
            map-options
            emit-value
            multiple
            :display-value="
              `Seleccionados: ${
                search.partners
                  ? search.partners.length
                  : 'Ninguno seleccionado'
              }`
            "
          >
            <template v-slot:option="scope">
              <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
                <q-item-section v-if="scope.opt.name !== 'Seleccionar todos'">
                  <q-item-label v-html="scope.opt.name"></q-item-label>
                </q-item-section>
                <q-item-section
                  v-else
                  @click="allPartnerts(!selectAllPartners)"
                >
                  <q-item-label
                    v-html="
                      selectAllPartners ? 'Desmarcar todos' : 'Marcar todos'
                    "
                  ></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-checkbox
                    v-if="scope.opt.name !== 'Seleccionar todos'"
                    v-model="search.partners"
                    :val="scope.opt.id"
                  />
                  <q-checkbox
                    v-else
                    v-model="selectAllPartners"
                    color="primary"
                    @input="allPartnerts($event)"
                  />
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col-sm-3" v-if="products && !isVaca">
          <q-select
            outlined
            v-model="search.products"
            label="Establecimiento"
            hide-selected
            :hint="
              info.products.length == search.products.length + 1
                ? 'Todos los estableciemientos'
                : search.products.length + ' ' + 'Seleccionados'
            "
            option-value="id"
            option-label="name"
            :options="info.products"
            map-options
            emit-value
            multiple
            :display-value="
              `Seleccionados: ${
                search.products
                  ? search.products.length
                  : 'Ninguno seleccionado'
              }`
            "
          >
            <template v-slot:option="scope">
              <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
                <q-item-section v-if="scope.opt.name !== 'Seleccionar todos'">
                  <q-item-label v-html="scope.opt.name"></q-item-label>
                </q-item-section>
                <q-item-section v-else @click="allProducts(!selectAllProducts)">
                  <q-item-label
                    v-html="
                      selectAllProducts ? 'Desmarcar todos' : 'Marcar todos'
                    "
                  ></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-checkbox
                    v-if="scope.opt.name !== 'Seleccionar todos'"
                    v-model="search.products"
                    :val="scope.opt.id"
                  />
                  <q-checkbox
                    v-else
                    v-model="selectAllProducts"
                    color="primary"
                    @input="allProducts($event)"
                  />
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col-sm-3" v-if="services && !isVaca">
          <q-select
            outlined
            hide-selected
            :hint="
              info.services.length == search.services.length + 1
                ? 'Todos los servicios'
                : search.services.length + ' ' + 'Seleccionados'
            "
            v-model="search.services"
            label="Servicios"
            option-value="id"
            option-label="name"
            :options="info.services"
            map-options
            emit-value
            multiple
            :display-value="
              `Seleccionados: ${
                search.services
                  ? search.services.length
                  : 'Ninguno seleccionado'
              }`
            "
          >
            <template v-slot:option="scope">
              <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
                <q-item-section v-if="scope.opt.name !== 'Seleccionar todos'">
                  <q-item-label v-html="scope.opt.name"></q-item-label>
                </q-item-section>
                <q-item-section v-else @click="allServices(!selectAllServices)">
                  <q-item-label
                    v-html="
                      selectAllServices ? 'Desmarcar todos' : 'Marcar todos'
                    "
                  ></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-checkbox
                    v-if="scope.opt.name !== 'Seleccionar todos'"
                    v-model="search.services"
                    :val="scope.opt.id"
                  />
                  <q-checkbox
                    v-else
                    v-model="selectAllServices"
                    color="primary"
                    @input="allServices($event)"
                  />
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col-sm-3" v-if="paymenttypes">
          <q-select
            outlined
            hide-selected
            :hint="
              info.paymentTypes.length == search.paymentTypes.length + 1
                ? 'Todos los tipos de pago'
                : search.paymentTypes.length + ' ' + 'Seleccionados'
            "
            v-model="search.paymentTypes"
            label="Tipos de pago"
            option-value="id"
            option-label="name"
            :options="info.paymentTypes"
            map-options
            emit-value
            multiple
            :display-value="
              `Seleccionados: ${
                search.paymentTypes
                  ? search.paymentTypes.length
                  : 'Ninguno seleccionado'
              }`
            "
          >
            <template v-slot:option="scope">
              <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
                <q-item-section v-if="scope.opt.name !== 'Seleccionar todos'">
                  <q-item-label v-html="scope.opt.name"></q-item-label>
                </q-item-section>
                <q-item-section
                  v-else
                  @click="allPaymentTypes(!selectAllPaymentTypes)"
                >
                  <q-item-label
                    v-html="
                      selectAllPaymentTypes ? 'Desmarcar todos' : 'Marcar todos'
                    "
                  ></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-checkbox
                    v-if="scope.opt.name !== 'Seleccionar todos'"
                    v-model="search.paymentTypes"
                    :val="scope.opt.id"
                  />
                  <q-checkbox
                    v-else
                    v-model="selectAllPaymentTypes"
                    color="primary"
                    @input="allPaymentTypes($event)"
                  />
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="col-12 col-sm-12 q-mt-md float-right ">
          <q-btn
            color="primary"
            class="float-right"
            icon="search"
            label="Buscar"
            @click="searchData"
          />
        </div>
      </div>
    </q-card-section>
    {{ removeIndexProducts }}
    {{ removeIndexPartners }}
    {{ removeIndexServices }}
  </q-card>
</template>
<script>
import { exportFile } from "quasar";
import { date } from "quasar";
export default {
  name: "tickets",
  props: ["services", "products", "paymenttypes"],
  data() {
    return {
      concierges:[],
      selectAllConcierges:false,
      selectAllPartners: false,
      selectAllProducts: false,
      selectAllServices: false,
      selectAllPaymentTypes: false,
      search: {

        dateTo: date.formatDate(
          date.endOfDate(new Date(), "month"),
          "DD-MM-YYYY"
        ),
        dateFrom: date.formatDate(
          date.startOfDate(new Date(), "month"),
          "DD-MM-YYYY"
        ),
        partners: [],
        products: [],
        services: [],
        concierges:[],
        paymentTypes: []
      },
      info: {
        filterConcierges:[],
        concierges:[],
        partners: [],
        products: [],
        services: [],
        partnersFilter: [],
        paymentTypes: []
      },
      myLocale: {
        /* starting with Sunday */
        days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
        daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
        months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
          "_"
        ),
        monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split(
          "_"
        ),
        firstDayOfWeek: 1
      }
    };
  },

  computed: {
   isVaca(){
      return this.$store.state.general.user.role.name == "vaca";
    },
    removeIndexProducts() {
      let index = null;
      Array.from(this.search.products).forEach(function(data, i) {
        if (data == 0) {
          index = i;
        }
      });
      if (index !== null) {
        this.search.products.splice(index, 1);
      }
    },
    removeIndexPaymentTypes() {
      let index = null;
      Array.from(this.search.paymentTypes).forEach(function(data, i) {
        if (data == 0) {
          index = i;
        }
      });
      if (index !== null) {
        this.search.paymentTypes.splice(index, 1);
      }
    },
    removeIndexServices() {
      let index = null;
      Array.from(this.search.services).forEach(function(data, i) {
        if (data == 0) {
          index = i;
        }
      });
      if (index !== null) {
        this.search.services.splice(index, 1);
      }
    },
    removeIndexPartners() {
      let index = null;
      Array.from(this.search.partners).forEach(function(data, i) {
        if (data == 0) {
          index = i;
        }
      });
      if (index !== null) {
        this.search.partners.splice(index, 1);
      }
    }
  },
  methods: {
    openNextDate(){
      this.$refs.qDateProxy.hide();
      this.$refs.focus.focus();
          this.$refs.qDateProxy2.show();



    },
    searchData() {
      this.$emit("search", this.search);
    },
    filterPartner(val, update, abort) {
      if (val === "") {
        update(() => {
          this.info.partners = this.info.partnersFilter;
        });
        return;
      }
      let self = this;
      update(() => {
        const needle = val.toLowerCase();
        this.info.partners = this.info.partnersFilter.filter(
          v =>
            v.name
              .toString()
              .toLowerCase()
              .indexOf(needle) > -1
        );
      });
    },

    filterConcierges(val, update, abort) {
      if (val === "") {
        update(() => {
          this.info.concierges = this.info.filterConcierges;
        });
        return;
      }
      let self = this;
      update(() => {
        const needle = val.toLowerCase();
        this.info.concierges = this.info.filterConcierges.filter(
          v =>
            v.name
              .toString()
              .toLowerCase()
              .indexOf(needle) > -1
        );
      });
    },

    allPartnerts: function(value) {
      if (value) {
        /** Vaciamos el arreglo para no repetir si ya hay algunos seleccionados. */
        this.search.partners = [];
        var arr = [];
        this.info.partners.forEach((partner, index) => {
          arr.push(partner.id);
          this.selectAllPartners = true;
        });
        console.log(arr);
        this.search.partners = arr.filter(x => x.id !== 0);
        return;
      }
      this.selectAllPartners = false;

      /** Si el valor es FALSE vaciamos el arreglo */
      this.search.partners = [];
    },

    allConcierges: function(value) {
            this.search.concierges = [];

      if (value) {
        /** Vaciamos el arreglo para no repetir si ya hay algunos seleccionados. */
        var arr = [];
        this.info.concierges.forEach((partner, index) => {
          arr.push(partner.id);
          this.selectAllConcierges = true;
        });
        console.log(arr);
        this.search.concierges = arr.filter(x => x.id !== 0);
        return;
      }
      this.selectAllConcierges = false;

      /** Si el valor es FALSE vaciamos el arreglo */
            console.log("value", value);

    },
    allServices: function(value) {
      this.search.services = [];

      if (value) {
        /** Vaciamos el arreglo para no repetir si ya hay algunos seleccionados. */
        this.info.services.forEach((service, index) => {
          this.search.services.push(service.id);
        });
        this.selectAllServices = true;
        return;
      }
      this.selectAllServices = false;

      /** Si el valor es FALSE vaciamos el arreglo */
      this.search.services = [];
    },
    allPaymentTypes: function(value) {
      this.search.paymentTypes = [];

      if (value) {
        /** Vaciamos el arreglo para no repetir si ya hay algunos seleccionados. */
        this.info.paymentTypes.forEach((paymentTypes, index) => {
          this.search.paymentTypes.push(paymentTypes.id);
        });
        this.selectAllPaymentTypes = true;
        return;
      }
      this.selectAllPaymentTypes = false;

      /** Si el valor es FALSE vaciamos el arreglo */
      this.search.paymentTypes = [];
    },
    allProducts: function(value) {
      if (value) {
        /** Vaciamos el arreglo para no repetir si ya hay algunos seleccionados. */
        this.search.products = [];
        this.info.products.forEach((product, index) => {
          if (product.id !== 0) {
            this.search.products.push(product.id);
          }
        });
        this.selectAllProducts = true;
        return;
      }
      /** Si el valor es FALSE vaciamos el arreglo */
      this.selectAllProducts = false;
      this.search.products = [];
    },
    getDataTicketsGenerated() {
      this.$store.commit("loading", true);
      this.$axios
        .get(
          this.$store.state.general.apiUrl +
            "/auth/getPartnersAndProductsAndServices",
          {},
          {}
        )
        .then(response => {
          this.info.products = response.data.products;
          this.info.partners = response.data.partners;
          this.info.services = response.data.services;
          this.info.paymentTypes = response.data.paymentTypes;
          this.info.partnersFilter = response.data.partners;
          if(response.data.concierges){
            this.info.concierges = response.data.concierges;
            this.info.filterConcierges = response.data.concierges;
            this.allConcierges(true);
            this.info.concierges.unshift({
              name: "Seleccionar todos",
              id: 0
            });
          }
          
          this.allPartnerts(true);
          this.allServices(true);
          this.allProducts(true);
          this.allPaymentTypes(true);
          

          this.info.partners.unshift({
            name: "Seleccionar todos",
            id: 0
          });
          this.info.products.unshift({
            name: "Seleccionar todos",
            id: 0
          });
          this.info.services.unshift({
            name: "Seleccionar todos",
            id: 0
          });
           this.info.paymentTypes.unshift({
            name: "Seleccionar todos",
            id: 0
          });
          this.$store.commit("loading", false);

          if(this.isVaca){
            this.searchData(); 
          }
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    }
  },
  mounted() {
    this.getDataTicketsGenerated();
    let now = Date.now();
    
  }
};
</script>
