@import './quasar.variables'
@import './login'
@import './sidebar'
@import './dashboard'
@import './roles'

body
    background-color: #E1E2DF

.gradient-blue
    background: linear-gradient(60deg,#26c6da,#00acc1) !important
    color: white
.folio
    color: red
    font-size: 20px


.q-card > img.file-payment
    width: 120px
    padding: 10px 0
    margin: 0 auto

.q-date__today
    box-shadow: 0 0 5px 0 currentColor

.comment
    padding: 12px
    border-radius: 10px
    background-color: #dcf8c6
    &.filter-comment
        background-color: rgba(220, 248, 198, .5)
    .text-subtitle2
    .message
        color: #484848
    .created-at
        color: #747272
.subtitle-card
    font-size: 15px
    font-weight: lighter
.title-card
  font-size: 20px
    font-weight: 400

.am-resume > div
    font-size: 17px
    padding: 20px
    border-right: solid 2px #eaeaea
    &:last-child
        border-right: 0
    p
        font-size: 40px
        margin-bottom: 5px
    span
        color: #969696