.dashboard-title
    font-size: 45px
.dashboard-sub-title
    color: #8c8282
    text-transform: uppercase
.dashboard-list
    list-style: decimal
    padding: 0
    li
        color: #5d5d5d
        font-size: 17px
        padding: 3px 0

.q-breadcrumbs
    .text-primary
        color: #687210 !important
        font-weight: bold
    .q-breadcrumbs--last
        color: #918f8f