.login-logo
    background-color: #F1F1F1
    height: 100vh !important
    img
        margin: 0 auto
    p
        font-size: 20px
        font-weight: 300
        color: #908c8c
        span
            color: #BADA55
            font-weight: bold
.login-form
    background-color: #BADA55
    h3
        color: #65810F
        font-weight: bold
        margin: 0
        padding: 16px
        span 
            color: #BADA55
    button
        background-color: #BADA55
        color: white