.ax-sidebar
    .q-drawer 
        background-color: $brand-grey
        border-right: solid 1px white
        .q-item__section--main 
            color: #747474
        .q-list
            margin-top: 10px
    .q-router-link--active
        background-color: rgba($brand-green, .5 )
    .q-item.q-router-link--active, .q-item--active, .q-item__section--main
        color: #395816 !important

.vaca-sidebar
    .q-drawer 
        background-color: white
        border-right: solid 1px white
        .q-item__section--main 
            color: #747474
        .q-list
            margin-top: 10px
    .q-router-link--active
        background-color: rgba($brand-vaca, .5 )
        color: white !important
        .q-item__section--main 
            color: white
            font-weight: bold
        .q-item.q-router-link--active, .q-item--active, .q-item__section--main
        color: #395816 

.ax-item
    background-color: $brand-green
    height: 50px
    .q-avatar
        background-color: $brand-grey
        .q-avatar__content
            color: black !important
    .q-item__section--main
        color: white !important

.vaca-item
    background-color: $brand-vaca
    height: 50px
    .q-avatar
        background-color: $brand-grey
        .q-avatar__content
            color: black !important
    .q-item__section--main
        color: white !important

        

.ax-toolbar
    background-color: $brand-green

.vaca-toolbar
    background-color: $brand-vaca

.product-logo
    position: absolute
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    text-align: center
    opacity: 0.1
    bottom: 0