<template>
<div>
  <q-drawer v-model="filesDrawer" bordered side="right" class="q-pb-xl">
      <q-scroll-area class="fit">
        <q-toolbar class="bg-grey-3 q-mb-xs">
          <q-toolbar-title>
            Archivos adjuntos
          </q-toolbar-title>
          <q-btn class="q-mb-sm" flat round dense icon="close" @click="filesDrawer = false" />
        </q-toolbar>
        <div class="q-pa-xs" v-if="activeModel">
          <div class="row q-gutter-xs">
            <div class="col-xs-12 q-mb-sm">
              <q-btn class="full-width" color="amber" icon="attach_file" label="Adjuntar archivo" @click="dialogAddFile = true" />
            </div>
            <div class="col-xs-12" v-for="file in activeModel.files" :key="file.id">
              <q-card class="q-mb-sm">
                <q-img :src="getImagePath(file)" width="100%" alt="">
                  <div class="absolute-bottom">
                    <div class="text-subtitle2">{{ file.file_name }} </div>
                    <q-chip v-if="file.file_type">
                      <q-avatar icon="bookmark" color="purple" text-color="white" />
                        {{ file.file_type.name }}
                    </q-chip>
                  </div>
                </q-img>
                <q-card-actions align="center">
                  <q-btn type="a" :href="assetsRoute + file.file_path" target="_blank" color="secondary"  icon="visibility" />
                  <q-btn color="primary" icon="edit" @click="showEditFileForm(file)" />
                  <q-btn color="negative" icon="delete" @click="activeDeleteFileDialog(file.id)" />
                </q-card-actions>
              </q-card>
            </div>
          </div>
        </div>
      </q-scroll-area>
  </q-drawer>

  <!-- MODAL PARA AGREGAR UN ARCHIVO -->
  <q-dialog v-model="dialogAddFile" persistent>
    <q-card style="width: 500px">
      <q-card-section>
        <div class="text-h6 q-pb-md">Adjuntar nuevo archivo</div>
        <q-form @submit="submitFile" ref="submitFile" id="submitFile">
          <input type="hidden" name="model_id" :value="activeModel.id" v-if="activeModel">
          <div class="col-md-4 q-col-gutter-xs q-mb-md" v-if="fileTypes">
            <q-radio name="file_type_id" v-model="selectedFileType" :val="type.id" :label="type.name" v-for="type in fileTypes" :key="type.id" />
            <q-radio name="file_type_id" v-model="selectedFileType" val="" label="Sin especificar" />
          </div>  
          <q-file name="file" filled bottom-slots v-model="newFile" accept=".pdf, .jpg, image/*" label="Archivo" counter class="q-mb-md" :rules="requiredRule">
            <template v-slot:prepend>
              <q-icon name="cloud_upload" @click.stop />
            </template>
            <template v-slot:append>
              <q-icon name="close" @click.stop="newFile = null" class="cursor-pointer" />
            </template>
          </q-file>
          <div class="row q-gutter-sm justify-end">
            <q-btn flat color="negative" label="cerrar" v-close-popup @click="clearFileForm" />
            <q-btn label="Adjuntar" type="submit" color="primary" outline/>
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>

  <!-- MODAL PARA ELIMINAR ARCHIVO -->
  <q-dialog v-model="deleteFileDialog" persistent>
    <q-card class="bg">
      <q-card-section class="row items-center">
        <q-avatar icon="warning" color="negative" text-color="white" />
        <span class="q-ml-sm">¿Estas seguro? No podras recuperar el archivo</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Cancelar" color="primary" v-close-popup @click="fileID = ''" />
        <q-btn flat label="ELIMINAR" color="negative" @click="deleteFile" />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <!-- MODAL PARA EDITAR ARCHIVO -->
  <q-dialog v-model="editFileDialog" persistent width="40%">
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row items-center">
          <q-form id="editFileForm" @submit="editFileSubmit" ref="editFileForm" class="q-gutter-md col-xs-12">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" name="model_id" :value="activeModel.id" v-if="activeModel" />
            <div class="col-xs-12">
              <q-select name="file_type_id" v-model="modelFileType" :options="fileTypes" option-value="id" option-label="name" label="Tipo de archivo" filled />
            </div>
            <div class="text-right">
              <q-btn flat label="CANCELAR" color="negative" v-close-popup @click="fileID = ''" />
              <q-btn flat label="EDITAR" color="primary" type="submit" />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
  </q-dialog>
</div>
</template>

<script>
import filesMixin from './filesMixin'
import RequiredRules from './../../mixins/rulesComponent';
import axiosMethods from './../../mixins/axiosMethodsComponent';
export default {
    name: 'filesComponent',
    mixins: [filesMixin, RequiredRules, axiosMethods],
    props: ['createRoute'],
    data() {
        return {
          api: this.$store.state.general.apiUrl, // Url del los assets
          assetsRoute: this.$store.state.general.apiAssets, // Url del los assets
          fileTypes: [],
        }
    },

    methods: {},
    
    created() {
      const self = this;
      this.$root.$on('openFilesDrawer', function (model) {
        self.loadFiles(model);
      })
    },

    beforeDestroy () {
      const self = this;

      this.$root.$off('openFilesDrawer', function (model) {
        console.log('destroy');
        self.loadFiles(null);
      })
    },

    mounted() {
      const dataUrl = this.$store.state.general.apiUrl + '/files/types' ;
      this.$axios.get(dataUrl).then(
        response => {
          this.fileTypes = response.data;
        }
      )
    }
}
</script>

<style>

</style>