<template>
  <q-page class="q-pt-md q-mb-xl">
    <div class="q-pa-md q-gutter-sm" >
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="Establecimientos" to="/establecimientos" />
        <q-breadcrumbs-el label="Editar establecimiento" />
      </q-breadcrumbs>
    </div>
    <div class="q-pa-md q-gutter-sm">
      <div class="row justify-center q-pt-md">
        <div class="col-md-10 q-pt-md">
          <q-card class="my-card">
            <q-card-section>
              <div class="row q-col-gutter-md q-ma-md">
                <div class="col-12 col-sm-8">
                  <span class="text-h6">Editar {{form.product}}</span>
                </div>
                <div class="col-12 col-sm-4 text-right">
                  <q-toggle
                    v-model="form.status"
                    label="Disponible"
                    :false-value="false"
                    :true-value="true"
                    color="green"
                    left-label
                  />
                </div>
                <div class="col-12 col-sm-12">
                  <q-input v-model="form.product" label="Establecimiento" />
                </div>

                <div class="col-12 col-sm-6"  v-if="0">
                  <q-select
                    :options="cities"
                    label="Ciudad"
                    v-model="form.city"
                    option-value="id"
                    option-label="name"
                    map-options
                    emit-value
                  ></q-select>
                </div>
                <div class="col-12 col-sm-6">
                  <q-input v-model="form.address" label="Dirección" />
                </div>
                <div class="col-12 col-sm-6"  v-if="0">
                  <q-select
                    :options="productsTypes"
                    label="Tipo de establecimiento"
                    v-model="form.type"
                    option-value="id"
                    option-label="name"
                    map-options
                    emit-value
                  ></q-select>
                </div>
                <div class="col-12 col-sm-6">
                  <q-select
                    :options="brands"
                    label="Marca"
                    v-model="form.brand"
                    option-value="id"
                    option-label="name"
                    map-options
                    emit-value
                  ></q-select>
                </div>
                <div class="col-12">
                  <q-btn
                    color="primary"
                    class="q-mt-md float-right"
                    label="Actualizar"
                    @click="saveProduct"
                  />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import axiosMethods from './../../mixins/axiosMethodsComponent';

export default {
  mixins: [axiosMethods],
  name: "products",
  props: ["product"],
  data() {
    return {
      productsTypes: [],
      cities: [],
      brands: [],
      form: {
        product: "",
        id: "",
        city: "",
        address: "",
        type: "",
        brand: "",
        status: true
      }
    };
  },
  computed: {
    checkProduct() {
      if (this.product !== undefined) {
        this.form.product = this.product.name;
        this.form.id = this.product.id;
        this.form.city = this.product.city_id;
        this.form.type = this.product.product_type_id;
        this.form.brand = this.product.brand_id;
        this.form.status = this.product.status;
      }
    }
  },
  methods: {
    addProduct() {
      this.showFormProduct = true;
    },
    getProductsTypes() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getDataProducts", {}, {})
        .then(response => {
          this.productsTypes = response.data.productTypes;
          this.cities = response.data.cities;
          this.brands = response.data.brands;

          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
    saveProduct() {
      if (this.form.product.trim().length == 0) {
        this.$q.notify({
          type: "negative",
          message: "Llena el campo establecimiento"
        });
        return false;
      }
      this.$store.commit("loading", true);
      this.$axios
        .post(
          this.$store.state.general.apiUrl + '/auth/editProduct',
          { product: this.form },
          {}
        )
        .then(response => {
          this.$q.notify({
            type: "positive",
            message: "Establecimiento actualizado correctamente"
          });
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.errorHandler(error.response.status, error.response.data);
          this.$store.commit("loading", false);
        });
    },
    getProduct() {
      this.$axios
        .post(this.$store.state.general.apiUrl + "/auth/getProduct", {
          id: this.$router.currentRoute.params.id
        })
        .then(response => {
          this.form.product = response.data.name;
          this.form.id = response.data.id;
          this.form.type = response.data.product_type_id;
          this.form.city = response.data.city_id;
          this.form.brand = response.data.brand_id;
          this.form.status = response.data.status == 0 ? false: true;
          this.form.address =  response.data.address;

          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$q.notify({
            type: "negative",
            message: "Algo salio mal, intentalo mas tarde"
          });
          this.$store.commit("loading", false);
        });
    }
  },
  mounted() {
    this.getProductsTypes();
    this.getProduct();
  }
};
</script>
