<template>
  <q-page class="q-pt-md q-mb-xl">
    <div class="q-pa-md q-gutter-sm" v-if="product == undefined">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="Establecimientos" to="/establecimientos" />
        <q-breadcrumbs-el label="Crear establecimiento" />
      </q-breadcrumbs>
    </div>
    <div class="q-pa-md q-gutter-sm">
      <div class="row justify-center q-pt-md">
        <div class="col-md-10 q-pt-md">
          <q-card class="my-card">
            <q-card-section>
              <div class="row q-col-gutter-md q-ma-md">
                <div class="col-12 col-sm-8">
                  <span class="text-h6" v-if="product == undefined">Nuevo establecimiento</span>
                  <span class="text-h6"  v-else>Editar {{form.product}}</span>
                </div>
                <div class="col-12 col-sm-4 text-right">
                  <q-toggle
                    v-model="form.status"
                    label="Disponible"
                    :false-value="false"
                    :true-value="true"
                    color="green"
                    left-label
                  />
                </div>
                <!-- <div class="col-12">
                  <q-toggle v-model="hasBrand" label="Pertenece a una marca" />
                </div> -->
                <div class="col-12 col-sm-12">
                  <q-input v-model="form.product" label="Establecimiento" />
                </div>

                <div class="col-12 col-sm-6" v-if="0">
                  <q-select
                    :options="cities"
                    label="Ciudad"
                    v-model="form.city"
                    option-value="id"
                    option-label="name"
                     map-options
                     emit-value
                  ></q-select>
                </div>
                <div class="col-12 col-sm-6">
                  <q-input v-model="form.address" label="Dirección" />
                </div>
                <div class="col-12 col-sm-6"  v-if="0">
                  <q-select
                    :options="productsTypes"
                    label="Tipo de establecimiento"
                    v-model="form.type"
                    option-value="id"
                    option-label="name"
                     map-options
                     emit-value
                  ></q-select>
                </div>
                <div class="col-12 col-sm-6" v-if="hasBrand">
                 <q-select
                    :options="brands"
                    label="Marca"
                    v-model="form.brand"
                    option-value="id"
                    option-label="name"
                    map-options
                    emit-value
                  ></q-select>
                </div>
                <div class="col-12">
                  <q-btn
                    color="primary"
                    class="q-mt-md float-right"
                    label="Guardar"
                    @click="saveProduct"
                  />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
      {{checkProduct}}
    </div>
  </q-page>
</template>
<script>

import axiosMethods from './../../mixins/axiosMethodsComponent';
export default {
  mixins: [axiosMethods],
  name: "products",
  props: ["product"],
  data() {
    return {
      hasBrand: true,
     productsTypes:[],
     cities:[],
     brands:[],
      form: {
        product: "",
        id: "",
        city: "",
        address: "",
        type: "",
        brand: "",
        status: true
      }
    };
  },
  computed:{
    checkProduct(){
       if (this.product !== undefined) {
        this.form.product = this.product.name;
        this.form.id = this.product.id;
        this.form.city = this.product.city_id;
        this.form.type = this.product.product_type_id;
        this.form.brand = this.product.brand_id;
        this.form.status = this.product.status;
      }
    }
  },
  methods: {
    addProduct() {
      this.showFormProduct = true;
    },
    getProductsTypes(){
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getDataProducts", {}, {})
        .then(response => {
          console.log(response.data);
          this.productsTypes = response.data.productTypes;
          this.form.type = this.productsTypes[0].id;
          this.cities = response.data.cities;
          this.form.city = this.cities[0].id;
          this.brands = response.data.brands;
          // this.form.brand = this.brands[0].id;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
     saveProduct(){
      if (this.form.product.trim().length == 0) {
         this.$q.notify({
          type: "negative",
            message: 'Llena el campo establecimiento',
         });
        return false;
      }
      this.$store.commit("loading", true);
      var url = "/auth/saveProduct";
      if (this.product !== undefined) {
        url = "/auth/editProduct"
      }

      this.$axios
        .post(this.$store.state.general.apiUrl + url, {product: this.form}, {})
        .then(response => {

         this.$q.notify({
           type:'positive',
           message: 'Producto guardado correctamente'
         });
         if (this.product == undefined) {
           this.form.address = "";
         this.form.product = "";
         }

          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.errorHandler(error.response.status, error.response.data);
          this.$store.commit("loading", false);
        });
    }

  },
  mounted(){
    this.getProductsTypes();
  }
};
</script>
