<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el icon="home" to="/" />
        <q-breadcrumbs-el label="Establecimientos" />
      </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pt-md">
      <div class="col-md-10 text-right">
        <q-btn
          color="primary"
          class="q-mt-md float-right"
          icon="add"
          label="Agregar Establecimiento"
          to="/establecimientos/create"
        />
      </div>
      <div class="col-md-11 col-12 q-pt-md" v-if="products.length">
        <q-table :data="products" :columns="columns" row-key="id">
          <template v-slot:body-cell-status="props">
            <q-td class="text-center">
              <q-badge color="red" label="Inactivo" v-if="!props.value" />
              <q-badge color="green" label="Activo" v-else />
            </q-td>
          </template>
          <template v-slot:body-cell-acciones="props">
            <q-td key="acciones" :props="props" class="q-gutter-xs">
              <q-btn
                color="primary"
                icon="edit"
                size="sm"
                @click="editRow(props.row)"
              />
              <q-btn
                color="negative"
                icon="delete"
                size="sm"
                @click="deleteRow(props.row)"
              />
            </q-td>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import axios from "axios";
import formproduct from "./formProducts"
import axiosMethods from './../../mixins/axiosMethodsComponent'
export default {
  mixins: [axiosMethods],
  name: "products",
  data() {
    return {
      editingProduct:{
        product:'',
      },
      editProduct:false,
      productType: [],
      test: "",
      productSelected: [],
      products: [],
      columns: [
        {
          name: "name",
          align: "center",
          label: "Establecimiento",
          field: "name",
          sortable: true
        },

        {
          name: "brand",
          align: "center",
          label: "Marca",
          field: "brand",
          sortable: true
        },
        {
          name: "productType",
          align: "center",
          label: "Tipo",
          field: "productType",
          sortable: true
        },
        {
          name: "address",
          align: "center",
          label: "Dirección",
          field: "address",
        },
        {
          name: "status",
          align: "center",
          label: "Disponible",
          field: "status",
          sortable: true
        },
        {
          name: "acciones",
          align: "center",
          label: "Acciones",
          field: "acciones"
        }
      ],
      showFormProduct: false
    };
  },
  methods: {
    addProduct() {
      this.showFormProduct = true;
      this.productSelected = [];
    },
    getProducts() {
      this.$store.commit("loading", true);
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/getProducts", {}, {})
        .then(response => {
          this.products = response.data;
          console.log(response.data);
          this.test = response.data;
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$store.commit("loading", false);
        });
    },
    editRow(row) {
    this.$router.push({ name: 'editProduct', params: { id: row.id } })
    },
    deleteProduct(id){
      this.$axios
        .post(this.$store.state.general.apiUrl + "/auth/deleteProduct", {id: id}, {})
        .then(response => {
          this.$q.notify({
            message:'Eliminado correctamente',
            type:'positive'
          });
          this.getProducts();
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.errorHandler(error.response.status, error.response.data);
          this.$store.commit("loading", false);
        });
    },
    deleteRow(row){
      this.$q.dialog({
        title: 'Eliminar',
        message: 'Deseas eliminar a ' + row.name,
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.deleteProduct(row.id);
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
  },
  computed: {},
  components: {
    formproduct
  },
  mounted() {
    this.getProducts();
  }
};
</script>
