<template>
  <div id="q-app">
    <router-view />
    <q-dialog v-model="$store.state.general.loading" persistent transition-show="scale" transition-hide="scale">
          <q-spinner-gears
                    color="white"
                    size="4rem"
                    />
      </q-dialog>
  </div>

</template>

<script>
export default {
  name: 'App',
  mounted(){

  }
}
</script>
