<template>
  <q-layout view="lHh Lpr lFf" id="top">
    <q-header elevated>
      <q-toolbar :class="[ brandCss+ '-toolbar']">
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />
        <q-toolbar-title>{{appTitle}} </q-toolbar-title>
        <div>Aplicación v1.01</div>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      :class="[brandCss+'-sidebar']"
    >
    <q-item :class="[ brandCss + '-item']">
        <q-item-section avatar>
          <q-avatar color="#F1F1F1" text-color="white" v-if="user">
            {{ user.name.charAt(0).toUpperCase() }}{{ user.lastName.charAt(0).toUpperCase() }} 
          </q-avatar>
        </q-item-section>

      <q-item-section v-if="user">{{ user.name }} {{ user.lastName }}</q-item-section>
    </q-item>

      <q-list>
        <q-item clickable v-ripple to="/" exact v-if="!hasPermissionTo('vaca')">
          <q-item-section avatar>
            <q-icon color="#384707" name="dashboard" />
          </q-item-section>
          <q-item-section>Panel</q-item-section>
        </q-item>
        <template v-if="user">
          <q-item clickable v-ripple to="/pagos" exact v-if="hasPermissionTo('ver pagos')">
            <q-item-section avatar>
              <q-icon color="#384707" name="attach_money" />
            </q-item-section>
            <q-item-section>Pagos</q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/tickets"  v-if="hasPermissionTo('vaca') || hasPermissionTo('ver tickets')">
            <q-item-section avatar>
              <q-icon color="#384707" name="add" />
            </q-item-section>
            <q-item-section>Tickets</q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/establecimientos" exact v-if="hasPermissionTo('ver establecimientos')">
            <q-item-section avatar>
              <q-icon color="#384707" name="apartment" />
            </q-item-section>
            <q-item-section>Establecimientos</q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/socios"  v-if="hasPermissionTo('vaca') || hasPermissionTo('ver socios')">
            <q-item-section avatar>
              <q-icon color="#384707" name="record_voice_over" />
            </q-item-section>
            <q-item-section>{{sociosMenu}}</q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/saldos" exact v-if="hasPermissionTo('ver saldos')">
            <q-item-section avatar>
              <q-icon color="#384707" name="monetization_on" />
            </q-item-section>
            <q-item-section>Saldos</q-item-section>
          </q-item>
           <q-item clickable v-ripple to="/saldos/vaca-argentina" exact v-if="hasPermissionTo('ver saldos')">
            <q-item-section avatar>
              <q-icon color="#384707" name="monetization_on" />
            </q-item-section>
            <q-item-section>Saldos Vaca Argentina</q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/reportes"  v-if="hasPermissionTo('generar reportes')">
            <q-item-section avatar>
              <q-icon color="#384707" name="assignment_turned_in" />
            </q-item-section>
            <q-item-section>Reportes</q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/configuracion" exact v-if="hasPermissionTo('ver usuarios') || hasPermissionTo('crear servicios')">
            <q-item-section avatar>
              <q-icon color="#384707" name="build" />
            </q-item-section>
            <q-item-section>Configuración</q-item-section>
          </q-item>
        </template>
        <hr />
        <q-item clickable v-ripple @click="logOut">
          <q-item-section avatar>
            <q-icon color="#384707" name="highlight_off" />
          </q-item-section>
          <q-item-section>Cerrar Sesión</q-item-section>
        </q-item>
        
      </q-list>
      <div class="product-logo">
          <img :src="'statics/images/logo-' + logoImg" alt="">
        </div>
    </q-drawer>
    
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink";

export default {
  name: "MainLayout",

  components: {
    EssentialLink
  },

  data() {
    return {
      leftDrawerOpen: false,
      user: null,
    };
  },
  computed:{
    logoImg(){
      if(this.isVaca){
        return "vaca.png";
      }

      return "ax";
    },
    brandCss(){
      if(this.isVaca){
        return "vaca";
      }

      return "ax";
    },
    appTitle(){
      if(this.isVaca){
        return "VACA ARGENTINA";
      }

      return "ANTROMEX";
    },
    isVaca(){
      return this.$store.state.general.user.role.name == "vaca";
    },
    sociosMenu(){
      if(this.isVaca){
        return "RP/Concierges";
      }

      return "Socios";
    }
  },
  methods: {
    logOut() {
      this.$store.commit("loading", true);
      this.$q.cookies.remove("token");
      this.$axios
        .get(this.$store.state.general.apiUrl + "/auth/logout", {}, {})
        .then(response => {
          location.reload(true);
          this.$store.commit("loading", false);
        })
        .catch(error => {
          this.$router.push({ path: "/login" });
          location.reload(true);
          this.$store.commit("loading", false);
        });

    },

    hasPermissionTo(permission){
      if (this.user) {
        if (this.user.role.name == 'superadmin') {
          return true;
        }
        if (this.user.permissions.length > 0) {
          var hasPermission = this.user.permissions.find( perm => {
            return perm.name === permission
          });
          if (hasPermission) {
            return true;
          }
        }
        if(this.user.role.name == permission){
          return true;
        }
      }

      return false;
    }
  },

  mounted() {
    this.user = this.$store.state.general.user
  }
};
</script>
