<template>
<q-page >
    <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Usuarios" to="/usuarios" />
            <q-breadcrumbs-el :label="paramId ? user.name + ' ' + user.last_name : 'Crear usuario'" />
        </q-breadcrumbs>
    </div>
  <div class="row justify-center q-pt-md">
      <div class="col-md-10">
          <q-card>
              <q-card-section>
                  <q-form  class="" ref="createUserForm" @reset="onReset" @submit="createUser" id="createUserForm">
                      <input type="hidden" value="put" name="_method" v-if="paramId" />
                      <div class="row q-col-gutter-md">
                          <div class="col-md-12">
                              <div class="text-subtitle1">Todos los campos son obligatorios.</div>
                          </div>
                          <div class="text-right col-sm-12">
                            <q-toggle
                                v-model="showProducts"
                                label="Ligar a un establecimiento"
                                :false-value="false"
                                :true-value="true"
                                color="green"
                                left-label
                            />
                          </div>
                          <div class="col-md-4" v-if="roles">
                                <q-select name="role_id" v-model="role" :options="roles" option-value="id" option-label="name" label="Rol de usuario" outlined :rules="requiredRule" />
                          </div>
                          <div class="col-md-4" v-if="showProducts">
                                <q-select name="products" v-model="selectedProducts" :options="products" option-value="id" option-label="name" label="Establecimiento" outlined :rules="requiredRule" />
                         </div>
                          <div class="col-md-4">
                                <q-input v-model="name" name="name" outlined label="Nombre (s)*" stack-label :rules="requiredRule"  />
                          </div>
                          <div class="col-md-4">
                                <q-input v-model="lastName" name="last_name" outlined label="Apellidos*" stack-label :rules="requiredRule" />
                          </div>
                          <div class="col-md-6">
                                <q-input type="email" v-model="email" name="email" outlined label="E-mail*" stack-label :rules="emailRules" />
                          </div>
                          <div class="col-md-6">
                                <q-input type="email" v-model="emailConfirmation" name="email_confirmation" outlined label="Confirma tu e-mail*" stack-label :rules="emailConfirmationRules" />
                          </div>
                          <template v-if="!paramId">
                            <div class="col-md-6">
                                <q-input type="password" v-model="password" name="password" outlined label="Password *" stack-label :rules="passwordRule" />
                            </div>
                            <div class="col-md-6">
                                <q-input type="password" v-model="passwordConfirmation" name="password_confirmation" outlined label="Confirmar Password*" :rules="passwordConfirmationRule" stack-label  />
                            </div>
                          </template>
                          <div class="col-md-12 text-right q-gutter-lg">
                              <q-btn to="/usuarios" color="red" label="Cancelar" />
                              <q-btn type="submit" color="primary" :label=" (paramId) ? 'Editar usuario' : 'Crear usuario'"/>
                          </div>
                      </div>
                  </q-form>
              </q-card-section>
          </q-card>
      </div>
  </div>
</q-page>
</template>

<script>
import rules from './../../mixins/rulesComponent';
import loginVue from '../login/login.vue';
export default {
    mixins: [rules],
    data() {
        return {
            showProducts: false,
            /** ROLES */
            roles: '',
            /** VARIABLE PARA CONTRALAR LOS PRODUCTOS SELECCIONADOS */
            products: '',
            selectAll: false,
            disSelectAll: false,
            selectedProducts: [],
            /** CAMPOS DEL FORMULARIO */
            role: '',
            name: '',
            lastName: '',
            email: '',
            emailConfirmation: '',
            password: '',
            passwordConfirmation: '',
            model: null,
            /** En caso de que sea para edicion */
            paramId: null,
            user: '',
        }
    },
    computed: {
        allMsj: function (){
            if(!this.selectAll) {
                return 'Seleccionar todos'
            }

            return 'Quitar todos'
        }
    },
    methods: {

        /**
         * Metodo para crear un usuario
         */
        createUser: function() {

            /** Validamos el formulario. */
            this.$refs.createUserForm.validate().then( success => {
                if ( success ) {
                    console.log();
                    if(this.role?.name == "vaca" && this.selectedProducts && this.selectedProducts.length == 0){
                         this.$q.notify({
                            type: 'negative',
                            message: 'Este Role necesita estar ligado a un establecimiento',
                            position: 'bottom-right',
                            html: true
                            })
                        return;
                    }
                   
                     this.$store.commit("loading", true);
                        const uri = (this.paramId) ? '/users/' + this.paramId : '/auth/signup'
                        const route = this.$store.state.general.apiUrl + uri;

                        console.log(route);
                        const form = document.getElementById('createUserForm');
                        const data = new FormData(form);

                        this.$axios.post(route, data).then( response => {
                            /** Desactivamos el preloader */
                            this.$store.commit("loading", false);

                            /** Mostrar notificacion */
                            this.$q.notify({
                                    type: 'positive',
                                    message: response.data,
                                    position: 'bottom-right'
                                });

                            /** LIMPIAMOS EL FORMULARIO
                             *  SOLO SI SE CREA UN USUARIO
                             */
                            if(!this.paramId)
                                form.reset();
                        },
                        error => {
                            this.$store.commit("loading", false);
                            return this.errorHandler(error.response.status, error.response.data);
                        }
                        ).catch(
                            error => {
                                this.$store.commit("loading", false);
                                console.log(error);
                            }
                        );

                }
            });

        },

        /**
         * METODO PARA MANEJAR ERRORES
         */
        errorHandler: function (code, dataError){
            console.log(code, dataError);
            switch (code) {
                case 422:
                    this.listErrorMesages(dataError)
                    break;
                default:
                    this.$q.notify({
                        type: 'negative',
                        message: dataError.message,
                        position: 'bottom-right'
                    })
            }
        },

        listErrorMesages: function(dataError){
            const errors = dataError.errors;
            var htmlError = "<ul>";
            for (let error in errors) {
                console.log(errors[error]);
                htmlError += "<li>" + errors[error] + "</li>";
            }
            htmlError += "</ul>";

            this.$q.notify({
                type: 'negative',
                message: htmlError,
                position: 'bottom-right',
                html: true
                })

            return
        },

        /**
         *
         */

        onReset () {
            this.selectAll = false;
            this.selectedProducts = [];
            this.name = '';
            this.lastName = '';
            this.email = '';
            this.emailConfirmation = '';
            this.password = '';
            this.passwordConfirmation = '';
        },

        /**
         * Metodo para seleccionar todos los productos si es TRUE de lo contraro
         * quita todos los valores seleccionados.
         */
        allProducts: function(value){
            if(value) {
                /** Vaciamos el arreglo para no repetir si ya hay algunos seleccionados. */
                this.selectedProducts = [];
                this.products.forEach((product, index) => {
                    this.selectedProducts.push(product.id);
                });

                return;
            }

            /** Si el valor es FALSE vaciamos el arreglo */
            this.selectedProducts = [];
        }
    },
    mounted() {
        this.$store.commit("loading", true);
        var self = this;

        /**
         * ROLES
         */

        const rolesUrl = this.$store.state.general.apiUrl + '/roles'
        this.$axios.get(rolesUrl).then(
            response => {
                if (response.data.success) {
                    this.roles = response.data.data;
                }
            }
        )

        /**
         * PRODUCTOS
         */

        const productsUrl = this.$store.state.general.apiUrl + '/products'
        this.$axios.get(productsUrl).then(
            response => {
              this.products = response.data;                
            }
        )

        /**
         * Ver si tiene el parametro
         */

        this.paramId = this.$router.currentRoute.params.id;
        setTimeout(() => {
            if(this.paramId) {
                const userUrl = this.$store.state.general.apiUrl + '/users/' + this.paramId
                this.$axios.get(userUrl).then(
                    response => {
                        this.user = response.data;
    
                        /** Setear el role */
                        const role_id = response.data.roles[0].id
    
                        this.role = self.roles.find(role => {
                            return role.id === role_id
                        })
    
                        /** Datos generales */
                        this.name = response.data.name;
                        this.lastName = response.data.last_name;
                        this.email = response.data.email;
                        this.emailConfirmation = response.data.email;
                        this.selectedProducts = response.data.products ? this.products.find(x => x.id == response.data.products[0]?.id) : [];
                        this.showProducts = this.selectedProducts ? true: false;
                        this.$store.commit("loading", false);
                    }
                )
            }
        this.$store.commit("loading", false);
        }, 2000)

    },
    beforeCreate(){
    }
}
</script>

<style>

</style>