<template>
  <q-page class="q-pt-md">
    <div class="q-pa-md q-gutter-sm">
        <q-breadcrumbs>
            <q-breadcrumbs-el icon="home" to="/" />
            <q-breadcrumbs-el label="Lista de Usuarios" />
        </q-breadcrumbs>
    </div>
    <div class="row justify-center q-pt-md">
      <div class="col-md-10 text-right q-gutter-md">
        <q-btn color="warning" icon="lock" label="Editar roles" to="/usuarios/roles" v-if="hasPermissionTo('agregar roles') || hasPermissionTo('agregar permisos')" />
        <q-btn to="/usuarios/crear-usuario" color="primary" icon-right="add" label="Agregar nuevo usuario" @click="dialogUser = true" v-if="hasPermissionTo('crear usuarios')" />
      </div>
      <div class="col-md-10 q-pt-md" v-if="users.length">
        <q-table title="Usuarios" :data="users" :columns="columns" row-key="name">
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="role" :props="props">
                {{ props.row.roles[0].name }}
              </q-td>
              <q-td key="name" :props="props">
                {{ props.row.name + ' ' + props.row.last_name }}
              </q-td>
              <q-td key="email" :props="props">
                {{ props.row.email }}
              </q-td>
              <q-td key="created_at" :props="props">
                {{ props.row.created_at }}
              </q-td>
              <q-td key="acciones" :props="props" class="q-gutter-xs">
                <q-btn :to="'/usuarios/editar-usuario/' + props.row.id" color="primary" icon="edit" size="sm" @click="editRow(props.row)" />
                <q-btn color="negative" icon="delete" size="sm" @click="deleteUser(props.row.id, users.indexOf(props.row))" />
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
    <q-dialog v-model="editUserDialog" persistent="">
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">Editando a <strong>{{ editingUser.name + ' ' + editingUser.last_name}}</strong></div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Click/Tap on the backdrop.
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="cerrar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import globals from './../../mixins/axiosMethodsComponent';

export default {
  mixins: [globals],
  data () {
      return {
        columns: [
          {
            name: 'role',
            label: 'Rol de usuario',
            align: 'left',
          },
          {
            name: 'name',
            label: 'Nombre',
            align: 'left',
            field: 'name'
          },
          {
            name: 'email',
            label: 'E-mail',
            align: 'left',
            field: 'email'
          },
          {
            name: 'created_at',
            label: 'Fecha de creacion',
            align: 'left',
            field: ''
          },
          {
            name: 'acciones',
            label: 'Acciones',
            align: 'left',
            field: ''
          },
        ],
        users: '',
        editingUser: '',
        editUserDialog: false
      }
  },

    methods: {
      editRow: function(user) {
        this.editingUser = user;
        this.editUserDialog = true;
      },

      deleteUser: function(id, index) {
        this.$q.dialog({
          title: '¿Seguro deseas eliminarlo?',
          message: 'No podras recuperarlo',
          cancel: true,
          persistent: true,
          ok: {
            color: 'negative',
            flat: true,
            label: 'Eliminar'
          }
        }).onOk(() => {
          this.$store.commit("loading", true);
          const route = `${this.$store.state.general.apiUrl}/users/${id}`;
          this.$axios.delete(route).then(
            response => {
              console.log(response);
              if (response.data.success) {
                this.users.splice(index, 1);
                this.$q.notify({
                  type: 'positive',
                  message: 'Usuario eliminado correctamente',
                  position: 'bottom-right'
                })
              } else {
                this.errorHandler(403, response.data.data);
              }
              this.$store.commit("loading", false);
            }
          ).catch(
            error => {
              this.$store.commit("loading", false);
              this.errorHandler(error.response.status, error.response.data);
            }
          )
        })
      },

      hasPermissionTo(permission){
        if (this.user) {
          if (this.user.role.name == 'superadmin') {
            return true;
          }
          if (this.user.permissions.length > 0) {
            var hasPermission = this.user.permissions.find( perm => {
              return perm.name === permission
            });
            if (hasPermission) {
              return true;
            }
          }
        }

        return false;
      }
    },

    mounted() {
      this.$store.commit("loading", true);
      
      /** 
       * PRODUCTOS
      */
      const productsUrl = this.$store.state.general.apiUrl + '/users' 
      this.$axios.get(productsUrl).then(
          response => {
              this.users = response.data;
              this.$store.commit("loading", false);
          }
      ).catch( error => {
        this.$store.commit("loading", false);
        this.errorHandler(error.response.status, error.response.data);
      })

      this.user = this.$store.state.general.user

    }
}
</script>

<style>

</style>