<template>
  <div>
    <q-drawer side="right" v-model="commentsDrawer" bordered>
        <q-scroll-area class="fit">
          <q-toolbar class="bg-grey-3 q-mb-sm">
            <q-toolbar-title>
              Comentarios
            </q-toolbar-title>
          <q-btn class="q-mb-sm" flat round dense icon="close" @click="commentsDrawer = false" />
          </q-toolbar>
          <div class="q-pa-sm" v-if="comments">
            <div class="row">
              <div class="col-xs-12">
                <q-btn class="full-width q-mb-md" color="secondary" icon="add" label="Agregar comentario" @click="addCommentDialog = true" />
              </div>
              <div class="col-xs-12 q-mb-sm" v-for="(comment, i) in comments" :key="i">
                <div class="comment" :class="{ 'filter-comment': i%2 != 0 }">
                  <div class="text-subtitle2 q-mb-sm">
                    <span>
                      {{ comment.user.name }} {{ comment.user.last_name }}
                      <q-icon name="edit" v-if="comment.updated_at != comment.created_at" />
                    </span>
                  </div>
                  <div class="message">
                    {{ comment.body }}
                  </div>
                  <div class="created-at text-right">
                    {{ comment.created_at }} 
                    <template v-if="$store.state.general.user.id === comment.user_id">
                      <q-icon color="info" class="q-ml-sm" name="edit" @click="editComment(comment, i)" /> 
                      <q-icon color="negative" class="q-ml-sm" name="delete" @click="showDeleteDialog(comment, i)" />
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </q-scroll-area>
      </q-drawer>
      
      <q-dialog v-model="addCommentDialog">
        <q-card style="width: 700px; max-width: 80vw;">
          <q-card-section>
            <div class="text-h6">Escribe tu comentario</div>
          </q-card-section>

          <q-card-section>
            <q-form id="commentsForm" ref="commentsForm" @submit="submitComment" @reset="onReset" class="q-gutter-md" v-if="model">
              <input type="hidden" name="model_id" :value="model.id"> 
              <input type="hidden" name="_method" value="put" v-if="commentIndex >= 0">
              <q-input name="body" v-model="message" type="textarea" label="Comentario" filled full-width :rules="requiredRule" />
              <div align="right">
                <q-btn label="Cancelar" type="reset" color="negative" flat class="q-ml-sm" v-close-popup @click="resetValues()" />
                <q-btn :label="(commentIndex >= 0) ? 'ACTUALIZAR' : 'AGREGAR COMENTARIO'" type="submit" color="primary"/>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>

      <q-dialog v-model="deleteCommentModal">
        <q-card class="bg">
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="negative" text-color="white" />
            <span class="q-ml-sm">¿Estas seguro? No podras recuperar el mensaje</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup @click="resetValues()" />
            <q-btn flat label="ELIMINAR" color="negative" @click="deleteComment()" />
          </q-card-actions>
        </q-card>
      </q-dialog>
  </div>
</template>

<script>
import requiredRules from './../../mixins/rulesComponent';
import axiosMethods from './../../mixins/axiosMethodsComponent';
export default {
  name: 'CommentsComponent',
  mixins: [requiredRules, axiosMethods],
  props: ['createRoute'],
  data() {
    return {
      commentsDrawer: false,
      model: null,
      message: '', // MENSAJE QUE SE ESCRIBE EN EL FORMULARIO
      addCommentDialog: false, //DIALOG PARA AGREGAR/MODIFICAR COMENTARIOS
      comments: [],
      deleteCommentModal: false, // MODAL PARA ELIMINAR
      activeComment: null, // COMENTARIO QUE SE ESTA EDITANDO
      commentIndex: -1,
      apiRoute: this.$store.state.general.apiUrl,
      usr: this.$store.state.general.user.id
    }
  },

  methods: {
    showCommentsDrawer: function (model) {
      if (model) {
        this.model = model;
        this.commentsDrawer = !this.commentsDrawer;
        this.comments = this.model.comments
      } else {
        this.commentsDrawer = false;
      }
    },

    submitComment: function() {
      this.$refs.commentsForm.validate().then( success => {
        if(success) {
          this.$store.commit("loading", true);
          
          /**
           * Determinamos si la ruta es para editar o crear
           */
          const route = (this.activeComment) 
            ? `${this.apiRoute}/comments/${this.activeComment.id}`
            : this.createRoute;

          const form = document.getElementById('commentsForm');
          const data = new FormData(form);

          this.$axios.post(route, data).then( response => {
            this.$store.commit("loading", false);
            if (response) {

              /** SI ES  UPDATE */
              if(this.commentIndex >= 0) {
                this.comments[this.commentIndex].body = response.data.body;
                this.comments[this.commentIndex].updated_at = response.data.updated_at;
                this.$q.notify({
                  type: 'positive',
                  message: 'Mensaje Actualizado'
                })
                this.resetValues();
              } 
              /** SI ES CREACION */
              else {
                /** Agregar el archivo */
                this.model.comments.push(response.data);
                this.$q.notify({
                  type: 'positive',
                  message: 'Mensaje agregado'
                })
              }

              /** Resetear el formulario */
              form.reset();
              /** Cerrar el dialog */
              this.addCommentDialog = false;

            }
          }, error => {
              this.$store.commit("loading", false);
              return this.errorHandler(error.response.status, error.response.data);
            }
          );

        }
      }, 
      )
    },

    onReset: function() {
      this.message = '';  
    },

    resetValues: function (){
      this.commentIndex = -1;
      this.activeComment = null;
      this.message = ''
      this.addCommentDialog = false;
    },
    
    /**
    * EDITAR
    */
    editComment: function(comment, idx){
      this.commentIndex = idx
      this.activeComment = comment;
      this.message = comment.body
      this.addCommentDialog = true;
    },

    /**
     * ELIMINAR
     */
    showDeleteDialog: function(comment, idx){
      this.commentIndex = idx
      this.activeComment = comment;
      this.deleteCommentModal = true;
    },

    deleteComment: function(){
      this.$store.commit("loading", true);
      const route = `${this.apiRoute}/comments/${this.activeComment.id}`
      this.$axios.delete(route).then( response => {
        if (response) {
          if (response.data) {
            /** Eliminar el msj */
            this.comments.splice(this.commentIndex, 1);
            /** Resetear los valores predeterminados */
            this.resetValues();
            /** Parar el preloader */
            this.$store.commit("loading", false);
            /** MENSAJE DE NOTIFICACION */
            this.$q.notify({
              type: 'positive',
              message: 'Mensaje eliminado',
            });

            /** Cerrar el modal */
            this.deleteCommentModal = false;
            return 
          }

          this.$q.notify({
              type: 'negative',
              title: '!Ups!',
              message: 'Algo salio mal, intenta de nuevo',
            });

            
            this.deleteCommentModal = false;
            return 
        }

      }, error => {
        this.$store.commit("loading", false);
        return this.errorHandler(error.response.status, error.response.data);
      }).catch(error => {
        this.$store.commit("loading", false);
        console.log(error);
        }
      );
    }

  },

  created() {
    const self = this;
    this.$root.$on('openCommentsDrawer', function (model) {
      self.showCommentsDrawer(model);
    })
  },

  beforeDestroy () {
    const self = this;
    this.$root.$off('openCommentsDrawer', function (model) {
      self.showCommentsDrawer(null);
    })
  }
}
</script>